
body {
  background-color: #f5f5f5;
  color: #202020;
}

a {
  text-decoration: none;
}


.content {
    font-size: 1.8rem;
}



ul {
	text-decoration:none;
}


.hidden {
  display: none;
}

.showup {
  display: block;
}

.content {
	text-align: center;
}