
body {
  color: #202020;

}

a {
	text-decoration: none;
	 font-style: italic;
	 color: black;
}

a:hover {
	    	text-transform: uppercase;
	    }






ul {
	text-decoration:none;
}


.hidden {
  display: none;
}

.showup {
  display: block;
}

li {
	padding-bottom: 30px;
}

.content  {
	 line-height: 250%;
	 font-family: 'Lora', serif;
	 font-color: black;
	 font-size: 1.8rem;
	 text-align: left;


}


.page-header {
	font-size : 45px;
	text-align: center;
}

.social {
	padding-bottom: 20px;
}

iframe {
    border: 0px;
    overflow: hidden;
}





