  
 .nav {
  padding-left: 250px;
}

body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

.topics {
  padding-left: 40px;
}

.navmenu {
  padding-left: 40px;
}

#the-basics {
   padding-left: 40px
}

.col1 {
   padding-right: 0px;
}


.sbox {
  padding-right: 150px;
}

