<!DOCTYPE html>
<html lang="en" dir="ltr">

		<head>

				<!-- Global site tag (gtag.js) - Google Analytics -->
				<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109509226-1"></script>
				<script>
				  window.dataLayer = window.dataLayer || [];
				  function gtag(){dataLayer.push(arguments);}
				  gtag('js', new Date());

				  gtag('config', 'UA-109509226-1');
				</script>

				<script async defer src="https://buttons.github.io/buttons.js"></script>

				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<meta http-equiv="x-ua-compatible" content="ie=edge">
				<title>Explain Me Please - About</title>
				<meta name="description" content="Next Generation Wikipedia">
				<meta property="og:title" content="Explain Me Please - About">
			    <meta property="og:description" content="Next Generation Wikipedia">
				<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
				<link href="css/styles.css" rel="stylesheet">
				<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

		</head>


		<body>
				<div id="fb-root"></div>
						<script>(function(d, s, id) {
					    var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
					    js = d.createElement(s); js.id = id;
						js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=161243984474929';
						fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
						</script>

					    
			    <div class="nav content horizontal-align center">

						<div class="nav-item">
						        <h6> <a href="https://explainmeplease.com/"> <b>Explain Me Please </b> </a> </h6>
					    </div>

						<div class="nav-item ">
						        <h6> <a href="/about"> <b> About </b> </a>  </h6>
					    </div>

						           
					    <div class="nav-item">
						      <div id="the-basics" class="sbox">
							       <input class="typeahead" type="text" placeholder="I want to learn about..."
							       onkeydown="getSearchResult(this)">
		            		 </div>
		                </div>
		        </div>
		             
		            	





					
		        <section id="header" class="container center content">
				    <div>
						<h2 class="page-header text-center"> <b>  About </b> </h2>
					</div>

				</section>

				  
				
				<div class="row">

		           
		            <div class="col"></div>


		   
		            <div class="col">

							<div class="content text-center">

								  <p> Not all humans are intellectually, mentally and physically the same. Your learning and understanding depends on your age, education, experience, and other factors. However, most of the information out there on the internet today is the same for all audiences. No wonder this causes a lot of frustration for people like me. </p>

								  <p> I am currently a ninth grader. When I got interested in Bitcoin and blockchain technology in early 2017, the journey for knowledge was not easy. Most of the material out there about Bitcoin is written from the writer’s perspective but not from the reader’s level. Many Bitcoin explanatory articles are filled with technical jargon. </p>

								  <p>  Soon I realized that this is a general problem for many topics. Try to make sense of any complex topic, such as CRISPR from Wikipedia. It is incredibly confusing unless you are an advanced learner or an expert. This is a massive problem. </p>

								  <p> Explain Me Please is an attempt to solve a big problem: making curated, interactive content targeted for the reader - a reader who could be a curious elementary or middle schooler, a auditory learner, a visual learner, a five-year-old, or a nerd who wants content delivered to their taste in text, audio and video format.  </p>

								  <p> I believe it is time to build a new better information place on the internet where curated content is delivered to the reader’s taste, which expedites learning for the global good. </p>
						 
						 
						          <p> I intend to grow this project and add new content at fairly good pace. I want to cover topics from all walks of life. This is just a humble beginning. Here are some examples of topics I am thinking about </p>

							      <ul> 
							          <li> Complex Math Concepts </li>
							          <li> Current National and International Events </li>
							        	<li> Financial Concepts </li>
							        </ul>

						          <p> Explain Me Please is <b> Open Source!- which means we would love contributors </b> If you are an expert or have any experience in a certain area or topic. Share your knowledge! <a href="https://github.com/faatehim/xplain"> Github Repository </a>

                                <p>If you would like to get in touch, you can email me =>  <b> feedback@explainmeplease.com </b> </p>

							      <div class="socialbuttons">
								        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Curated Content Crafted For Your Taste" data-url="http://explainmeplease.com/" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

								        <div class="fb-like social" data-href="http://explainmeplease.com/" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br> 

								        <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>
					              </div>

					</div>
					    </div>

				<div class="col"></div>

				</div>





				
			
			<script src="js/jquery-1.11.1.min.js"></script>
		    <script src="js/typeahead.bundle.js"></script>
			<script src="js/custom.js"></script>
				
		</body>
</html>