<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<html lang="en">
	<title>Explain Me Please</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
	<link href="css/styles.css" rel="stylesheet">
	<html dir="ltr">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">




</head>


<body>

			           <div class="nav content horizontal-align center">
				            <div class="nav-item">
				            		<h6> <a href="/"> <b>Explain Me Please </b> </a> </h6>
				            </div>

				            <div class="nav-item ">
				            	 <h6> <a href="/about"> <b> About </b> </a>  </h6>

				            </div>

				           

				            <div class="nav-item">
				            	<div id="the-basics" class="sbox" align="right">
					                 <input class="typeahead" type="text" placeholder="I want to learn about..."
					                 onkeydown="getSearchResult(this)">
            				    </div>
            				</div>
            		 </div>
             
            	





			
          <section id="header" class="container center content">
		    <div>
				<h2 class="page-header text-center">
				 <b>  About </b> </h2>
			</div>
		  </section>

		  <div class="row">

           <div class="col"></div>


   
      <div class="col">

		<div class="content text-center">
		  <p> Not all humans are intellectually, mentally and physically the same. Your learning and understanding depends a lot on your age, education, experience, and many more factors. However, most of the information out on the internet today is the same for all audiences. No wonder this causes a lot of frustration for folks like me. </p>

		  <p> I am currently a ninth grader. When I got interested in Bitcoin and blockchain technology last year, the journey for knowledge was not easy. Most of the material out there about Bitcoin is written from the writer’s perspective but not from the reader’s level. Many Bitcoin explanatory articles are filled with technological jargon and difficult vocab words. </p>

		  <p>  Soon I realized that this is a general problem for many topics. Try to make sense of any complex topic, such as CRISPR from Wikipedia. It is incredibly confusing unless you are advanced learner or an expert. But if you are an expert and advanced learner, chance are you are not going to need these pages. Is it not a conundrum? </p>

		  <p>Explain Me Please is an attempt to solve a big problem: making curated, interactive content targeted for the reader - a reader who could be a curious elementary or middle schooler, a auditory learnee, a visual learner, a five year old, or a nerd who wants content delivered to his taste in text, audio and video format.  </p>

		  <p> I intend to grow this project and add new content on fairly good pace. I want to cover topics from all walks of life.
            Dear all, is it not time to retire Wikipedia and build a new better information place on internet where curated content is delivered to the reader’s taste, which expedites learning for global good? </p>
 
 
        <p> This is just a humble beginning. We want to cover all the topics on this earth. Here are some examples of topics we are thinking about </p>

        <ul> 
        	<li> Complex Math Concepts </li>
        	<li> Current National and International Events </li>
        	<li> Financial Concepts </li>
        	
        </ul>

        <p> If you are an expert or have experience in a certain area and want to contribute, please <a href="mailto:feedback@explainmeplease.com">get in touch</a>. </p> </p>

       </div>
      </div>

		<div class="col"></div>

		</div>





		
	
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>

	<script src="js/custom.js"></script>
		
</body>
</html>