<!DOCTYPE html>
 <html lang="en" dir="ltr">

<head>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109509226-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109509226-1');
</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Explain Me Please - AI</title>
  <meta name="description" content="Artificial Intelligence Explained For Your Level">
  <meta property="og:title" content="Explain Me Please - AI">
  <meta property="og:description" content="Artificial Intelligence Explained For Your Level">
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

</head>

<body>
      <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=161243984474929';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

    <div class="nav horizontal-align center">
                    <div class="nav-item">
                        <h6> <a href="/"> <b> Explain Me Please </b> </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href="/about"> <b> About </b> </a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox">
                           <input class="typeahead" type="text" placeholder="I want to learn about..."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center"> <b>  Artificial Intelligence Explained </b> </h2>
             



          <div class="nav content horizontal-align center">
                 <a href="#" class="nav-item" onclick="showContent('#X4')"> |7 Year Old|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X2')"> |Video Lover|</a>       
                 <a href="#" class="nav-item" onclick="showContent('#X5')"> |Podcast Lover|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class="content text-center">
         <h3> Artificial Intelligence For The Average Joe</h3>


         <p> Artificial intelligence will most likely impact and shape our future more than any other technology. Anybody who turns away from artificial intelligence will in a few years be a dinosaur and outdated according to Mark Cuban. The past few years have had an astonishing amount of advancements in AI. </p>

         <p> In 2017, AlphaGo beat the worlds best human players at Go-- an ancient Chinese war strategy game. You may be thinking, what is the big deal? Didn't the chess-playing computer Deep Blue beat world chess champion Garry Kasparov in 1997? Well, Go is a game with more than 300 times the number of plays as chess. After the first two moves of a chess game, there are 400 possible next moves. In Go, there are close to 130,000. Go is much more complicated and sophisticated than chess. </p>

         <p> Also in 2017, OpenAI beat the world's top professionals in 1v1 matches of the online multiplayer game known as Dota 2 </p>


        <p> However, artificial intelligence is being used for more than just becoming masters at board and video games. Much of people's day to day technology is powered by artificial intelligence. You can point your phone's camera at the menu during your trip to India and the menu will be translated into English via Google Translate. </p>

        <p> Artificial intelligence is being used to make our lives easier, more productive, and longer.  It will not be uncommon to see machines performing roles occupied by humans such as cab drivers, delivery man, etc. Who knows, maybe one-day human doctors will become irrelevant! </p>

        <h5> Meaning of Artifical Intelligence </h5>

        <p> Artificial intelligence is the study of intelligent agents. Intelligent agents are devices that perceive the world around them, form a plan based on their perception, and make decisions to achieve x goals. Artificial intelligence's are developed using mathematics, economics, game theory, philosophy, probability, linguistics, neuroscience, medicine, and much more. Some fields that fall under the umbrella of AI are  computer vision, natural language processing, machine learning, deep learning, robotics, etc. </p>

        <p> Machine Learning falls under the umbrella of artificial intelligence. Machine Learning essentially allows for a machine to learn patterns between certain items without any of it having to be hard-coded or specified. To put it simply, machine learning attempts to make computers as smart as our brains.</p>

        <h5> Studying AI </h5>

        <p> There are 2 kinds of AI. The first type is artificial narrow intelligence (ANI) in which a computer can do whatever a human can do, except within narrow bounds. Some examples are the ones we have already discussed. </p>

        <p> Researchers are currently continuing to make strides towards artificial general intelligence (AGI). AGI is defined as an artificial intelligence that can perform anything a human can. AGI is a huge deal. Once we creat an AI which can improve itself and learn from its mistake's and past experiences, it will result in the opening of a pandora's box. AGI's will unlock a cycle of self-improvement which would lead to an intelligence explosion. </p>

        <p> An AGI is also sometimes called the singularity. The term is borrowed from the gravitational singularity that occurs at the center of a black hole, an infinitely dense one-dimensional point where the laws of physics as we understand them start to break down. Just like there is zero visibility into what happens beyond the event horizon of a black hole, once AI can improve itself exponentially, it is almost impossible to predict what will happen. </p>

        <p> Ray Kurzweil, an inventor and futurist, predicts the singularity will occur by 2045. </p>

        <p> The development of an artificial intelligence with capabilities greater than humans have (ASI) could be amazing or terrible for us human species. Whether it is good or bad is all reliant on the what AIs will want in a way that is friendly to humans. </p>

        <p> Artificial Intelligence and its subfields will steam roll anything in its way and will have a massive impact on our day-to-day lives. </p>

        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Artificial Intelligence Explained For Your Level" data-url="http://explainmeplease.com/resources?q=AI" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

        <div class="fb-like" data-href="http://explainmeplease.com/resources?q=AI" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

    </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Artificial Intelligence For a Video Lover</h3>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/elojMnjn4kk" allowfullscreen></iframe>

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/5J5bDQHQR1g" allowfullscreen></iframe>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/MnT1xgZgkpk" allowfullscreen></iframe>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Artificial Intelligence Explained For Your Level" data-url="http://explainmeplease.com/resources?q=AI" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>


                <div class="fb-like" data-href="http://explainmeplease.com/resources?q=AI" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">

                <h3> Artificial Intelligence For a Nerd </h3>

                <h5> If you want to become a Machine Learning Engineer </h5>

                <h5> Courses </h5>

                <p> <a href="https://www.coursera.org/learn/machine-learning" target="blank" rel="noopener">Machine Learning by Stanford University</a> - Classic course.  </p>

                <p> <a href="https://www.class-central.com/mooc/7231/edx-machine-learning" target="blank" rel="noopener"> Machine Learning by Columbia University </a> - Is more comprehensive that the above Stanford course. It is also more advanced. The prerequisites are calculus, linear algebra, statistics, probability, and coding. </p>


                <p> <a href="https://www.coursera.org/specializations/deep-learning" target="blank" rel="noopener"> Deep Learning from Andrew Ng</a> - Covers all fundamentals of Deep Learning.</p>

                <p> <a href="http://cs231n.stanford.edu/" target="blank" rel="noopener">Convolutional Neural Networks for Visual Recognition</a> - Top quality course on Machine Learning as well as Computer Vision.</p>

                <p> <a href="http://cs224d.stanford.edu/" target="blank" rel="noopener"> Deep Learning for NLP (Natural Language Processing)</a> - For people who want to work with NLP. </p>

                <p> <a href="https://leonardoaraujosantos.gitbooks.io/artificial-inteligence/content/" target="blank" rel="noopener"> Deep Learning Handbook</a> - Good book which covers all aspects on ML. Good supplementary material for the above courses. </p>

                <h5> Practical Projects </h5>

                <p> List contains practical tutorials and projects. If you want to gain the most knowledge, you should try the projects on your own and understand how they work. To be succesful, you should pick a project, get past your self-crippling beliefs, fail fast, practice, get better.  </p>

                <p> <a href="https://www.kaggle.com/" target="blank" rel="noopener"> Kaggle</a> - is a place which hosts machine learning competitions. companies and researchers post data and statisticians and data miners compete to produce the best models for predicting and describing the data. Is really fun and might win you some money. </p>

                <p> <a href="https://www.amazon.com/Make-Your-Own-Neural-Network/dp/1530826608/" target="blank" rel="noopener"> Make Your Own Neural Network </a></p>

               <p> <a href="https://petewarden.com/2016/02/28/tensorflow-for-poets/" target="blank" rel="noopener"> Tensor Flow For Poets</a> </p>

               <p> <a href="https://github.com/sjchoi86/Tensorflow-101" target="blank" rel="noopener"> Tensorflow 101 Tutorial Set</a></p>

               <p> <a href="https://github.com/nfmcclure/tensorflow_cookbook" target="blank" rel="noopener"> Tensorflow Cookbook</a></p>

                <p> <a href="https://github.com/dennybritz/reinforcement-learning" target="blank" rel="noopener"> Reinforcement learning</a> </p>

                <p> <a href="https://github.com/udacity/self-driving-car" target="blank" rel="noopener"> Self Driving Car Project</a> </p>

                <p> <a href="https://github.com/lengstrom/fast-style-transfer" target="blank" rel="noopener"> Fast Style Transfer Network</a></p>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Artificial Intelligence Explained For Your Level" data-url="http://explainmeplease.com/resources?q=AI" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like" data-href="http://explainmeplease.com/resources?q=AI" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>


                
               </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
              <h3> Artificial Intelligence For a 7 Year Old </h3>

                 <p> Us humans are very smart and complex. We can use our senses such as touch, smell, sight, hearing, and taste to help us gather information. Imagine you are in your room doing your homework. You suddenly hear an alarm ringing in your house. You can also smell smoke. What can you infer from those 2 clues? That there is a fire nearby right? Well, computers are not as smart as you are. Most of the time they can only do what they have been told to do. AI is when you make a computer or software like a human brain. You help it to learn by giving it a lot of words and pictures and numbers to train it. If the computer hears you answer a lot of questions, later on, it can quickly answer your questions.  </p>

                 <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Artificial Intelligence Explained For Your Level" data-url="http://explainmeplease.com/resources?q=AI" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                 <div class="fb-like" data-href="http://explainmeplease.com/resources?q=AI" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>


            </div>
        </div><!-- /.panel-->
        

        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> Artificial Intelligence For a Podcast Lover </h3>

                <h5> Top 4 AI Podcasts </h5>

                <ul>

                      <li> <a href="https://twimlai.com/" target="blank" rel="noopener"> This Week in Machine Learning and AI </a> <br> They release an interview every other week. Each episode features an interview with a Artificial Intelligence expert. Some episodes have been about conversational interfaces, generating training data, self driving cars, and much more. </li>

                      <li> <a href="http://www.thetalkingmachines.com/" target="blank" rel="noopener">Talking Machines</a> <br> Hosts Katherine Gorman and Ryan Adams invite a guest to talk about their work and news in the machine learning world. </li>

                      <li> <a href="https://dataskeptic.com/" target="blank" rel="noopener">The Data Skeptic</a> <br>  It alternate between interviews with academics and practitioners with  10-15 min episodes where the hosts give a primer on important topics in data science and Artificial Intelligence. Kyle does a a great job making complex topics easy to understand for listeners. </li>

                      <li> <a href="http://lineardigressions.com/" target="blank" rel="noopener">Linear Digressions</a> <br> Covers diverse topics in data science and machine learning. They make complex topics fun and digestable. </li>

                </ul>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Artificial Intelligence Explained For Your Level" data-url="http://explainmeplease.com/resources?q=AI" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like" data-href="http://explainmeplease.com/resources?q=AI" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

            </div>
        </div><!-- /.panel-->

    </div>

     <div class="col"></div>
  
  </div>  <!--/.main-->
  
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
  <script src="js/custom.js"></script>
    
</body>
</html>