<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <html lang="en">
  <title>Explain Me Please - Artificial Intelligence </title>
  <meta name="description" content="Description of the page less than 150 characters">
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  <html dir="ltr">


</head>

<body>
    <div class="nav horizontal-align center">
                    <div class="nav-item">
                        <h6> <a href="#"> <b> Explain Me Please </b> </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href="https://faatehim.github.io"> <b> Made by Faateh Mohammad </b> </a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox" align="right">
                           <input class="typeahead" type="text" placeholder="I want to learn about......."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center"> <b> 🤖 Artificial Intelligence Explained </b> </h2>
             



          <div class="nav  horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
                 <a href="#" class="nav-item"onclick="showContent('#X2')"> |Video Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X4')"> |5 Year Old|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X5')"> |Podcast Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X6')"> |FAQ|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class="hidden content text-center">
         <h3> Explain Me Please I'm the Average Joe</h3>


         <p> Artificial Intelligence will most likely impact and shape our future more than any other technology. Anybody who turns away from this technology will in a few years be a dinasaur and outdated according to Mark Cuban. The past few years have had an astonishing amount of advancements in AI. </p>

         <p> In 2017, AlphaGo(a program that plays the game Go) beat the worlds best human players at Go-- a ancient chinese war startegy game. You may be thinking, what is the big deal? Didn't the chess playing computer Deep Blue beat world chess champion Garry Kasparov in 1997? Well Go is a game with more than 300 times the number of plays as Chess. After the first two moves of a chess game, there are 400 possible next moves. In Go, there are close to 130,000. </p>

         <p> Also in 2017, OpenAI beat the world's top professionals in 1v1 matches of the online multiplayed game known as Dota 2 </p>


        <p> However Artificial intelligence is being used for more than just becoming masters at board games. Much of people's day to day technology is powered by artificial intelligence. You can point your phone's camera at the menu during your trip to India and the menu will be translated to English via Google Translate. </p>

        <p> Artificial Intelligence is being used to make our lives easier, more productive, and longer.  It will not be uncommon to see machines performing roles occupied by humans such as cab drivers, delivery man, etc. </p>

        <h5> Meaning of Artifical Intelligence </h5>

        <p> Artificial intelligence is the study of agents that perceive the world around them, form plans, and make decisions to achieve their goals. Artificial Intelligence's are developed using mathematics, economics, game theory, philosophy, probability, linguistics, and neuroscience is good. Many fields fall under the umbrella of AI, such as computer vision, natural language processing, machine learning, deep learning, robotics, etc. </p>

        <p> Machine Learning falls under the umbrella of artificial intelligence. Machine learning essentially allows for a machine to learn patterns between certain items without any of it having to be hard-coded or specified </p>

        <h5> Studying AI </h5>

        <p> There are 2 kinds of AI. The first type is artificial narrow intelligence (ANI) in which a computer than do whatever a human can do, except within narrow bounds. Examples are one we have already discussed </p>

        <p> Researchers are currently continuing to make strides towards artificial general intelligence (AGI). AGI is defined as an artificial intelligence that can perform anything a human can. AGI is a huge deal. Once we created an AI which can improve itself and learn from its mistake's and past experiences, it will result in the opening of a pandora's box. AGI's will unlock a cycle of self improvement which would lead to an intelligence explosion. </p>

        <p> AGI is also sometimes called the singularity. The term is borrowed from the gravitational singularity that occurs at the center of a black hole, an infinitely dense one-dimensional point where the laws of physics as we understand them start to break down. Just like there is zero visibility into what happens beyond the event horizon of a black hole, once AI can improve itself exponentially, it is almost impossible to predict what will happen? </p>

        <p> Ray Kurzweil, a inventor and futurist, predicts the singularity will occur by 2045 </p>

        <p> The development of a artificial intelligence greater with capabilites greater than humans have (ASI) could be amazing or terrible for us human species. Whether it is good or bad is all reliant on the what AIs will want in a way that is friendly to humans. </p>

        <p> Artificial Intelligence and its subfields will steam roll anything in its way and will have a massive impact on our day-to-day lives. </p>


         <p> More advanced/technical resources => <a href="https://medium.com/@tessr/making-money-530d2bb2b8f7">Bitcoin Explained using Emoji's</a>, <a href="https://dealbook.nytimes.com/2014/01/21/why-bitcoin-matters/">Why Bitcoin Matter's</a>, <a href="https://qz.com/154877/by-reading-this-page-you-are-mining-bitcoins/"> By Reading this Article, You Are Mining Bitcoins</a>   </p>
    </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Explain me please for video lovers</h3>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/elojMnjn4kk" frameborder="0" allowfullscreen></iframe>

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/5J5bDQHQR1g" frameborder="0" allowfullscreen></iframe>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/MnT1xgZgkpk" frameborder="0" allowfullscreen></iframe>

            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">

                <h3> Explain me please, I am a Nerd. </h3>

                <h5> If you want to become a Machine Learning Engineer </h5>

                <h5> Courses </h5>

                <p> <a href="https://www.coursera.org/learn/practical-machine-learning"> Practical Machine Learning by John Hopkins University</a> </p>

                <p> <a href="https://www.coursera.org/learn/machine-learning">Machine Learning by Stanford University</a> - First two courses will teach basics about Data Science and prepare you for difficult content </p>

                <p> <a href="https://www.coursera.org/specializations/deep-learning"> Deep Learning from Andrew Ng</a> - Andrew Ng is one of the top minds in the AI space </p>

                <p> <a href="http://cs231n.stanford.edu/">Convolutional Neural Networks for Visual Recognition</a> - That’s where the party’s starting, it’s one of the best courses that you can find on the Internet about ML & CV. It will not only show you how deep is the rabbit hole, but also will give you good base for further investigation. </p>

                <p> <a href="http://cs224d.stanford.edu/"> Deep Learning for NLP (Natural Language Processing)</a> - For people who want to work with NLP </p>

                <h5> Practical Projects </h5>

                <p> List contains practical tutorials and projects. If you want to gain the most knowledge, you should try the projects on your own and understand how they work. </p>

                <p> <a href="https://github.com/nfmcclure/tensorflow_cookbook"> TensorFlow Cookbook</a> </p>

                <p> <a href="https://github.com/dennybritz/reinforcement-learning"> Reinforcement learning</a> </p>

                <p> <a href="https://github.com/udacity/self-driving-car"> Self Driving Car Project</a> </p>

                <p> <a href="https://github.com/lengstrom/fast-style-transfer"> Fast Style Transfer Network</a></p>


                
               </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
              <h3> Explain Me Please I'm a Toddler </h3>

                 <p> Ever since machines were invented, scientists have dreamt of making them learn and perform intelligent tasks – like humans. </p>

                 <p> Artificial intelligence is a branch of science which is into making machines think like humans. These machines, or computers, can store large amounts of information and process them accurately and at an amazing speed. What they lack is an ability to learn and make ‘intelligent decisions’. </p>

                 <p> What do we need to make an intelligent machine? A memory or a space where experiences or information can be stored, a method of applying these experiences to new ones, comparing experiences to come to logical conclusions, like holding the hot object with a glove on. That would be an intelligent machine. </p>

                 <p> Take your iron for example. The electric iron understands that its temperature is beyond what is required and automatically switches itself off. </p>

                <p> We could say that the electric iron is intelligent as it can react to a particular state (the iron being hot), make a decision based on it and switch itself off. However, since the iron has not learned this through experience, it is not a truly intelligent machine. </p>

               <p> Scientists are creating new software programs which try to recreate the process of human learning in a computer, in an attempt to make them ‘think’. These programs try to copy the functioning of the brain. One such program is called a neural network. </p>

              <h5> A neural network </h5>

              <p> Our brain is composed of millions of densely packed cells called neurons. Each neuron is like a tiny individual switch in a net of billions of such neurons. </p>

             <p> Whenever a particular piece of information, like someone’s telephone number reaches your brain, it creates a pattern of on and off switches using these neurons. </p>

              <p> Let’s use an example to understand this phenomenon. We put up garlands of electric lights to decorate our houses during Diwali. These lights create various patterns and designs, one switch creates a series of circles, another switch a pattern of flowers and so on. </p>

             <p> A neural network is like these garlands of lights: a particular input creates a particular pattern. Each nerve cell or neuron in our brain acts like a light bulb. It creates a particular pattern on receiving an input. </p>

            <p> When we memorise someone’s telephone number, we actually create a pattern in our brain. And when we try to remember the same number, we simply try to recreate that pattern, unlike the lights which need to be switched on or off everytime that pattern needs to be created. </p>

             <p> A neural network is a copy of the brain’s functioning inside a computer, using a software program. It can be taught to recognise patterns. </p>

          <p> In fact, when it is trained, it can classify and identify patterns in a large amount of information. It can do all this at very high speeds and sometimes faster than humans. </p>

         <p> This throws open innumerable possibilities. Imagine computers, which can look at the past weather and climate data, match them with current conditions and tell us where it is going to rain and how much. </p>

        <h5> Turing’s test </h5>

       <p> In 1950, famous mathematician Alan M. Turing devised a method of testing a computer’s intelligence. A person is kept inside a closed cell and asked to speak to a hidden human being and a computer. </p>

       <p> The person, who is also called the interrogator (one who questions), does not have any clue about who is the human being and who the machine. His task is to find out which of the two candidates is the computer, and which is the human by asking them questions. </p>

       <p> If the interrogator is unable to decide within a certain time, the machine is considered intelligent. However, there has been no machine till date which has been able to pass the Turing’s test. This remains one of the biggest challenges of modern day computing. </p>

      <p> Although computing sciences have made a lot of progress, passing the Turing’s test might be difficult for computers for some time to come. </p>


            </div>
        </div><!-- /.panel-->
        

        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Enjoy Podcasts </h3>

                <h5> Top 5 Podcasts </h5>

                <p> <a href="https://twimlai.com/"> This Week in Machine Learning and AI </a> <br> Release an interview every other week. Every other week features an interview with a ML/AI expert on a variety of topics such as </p>

                <p> <a href="http://www.thetalkingmachines.com/">Talking Machines</a> <br> Hosts Katherine Gorman and Ryan Adams invite a guest to talk about their work and news in the machine learning world. </p>

                <p> <a href="https://dataskeptic.com/">The Data Skeptic</a> <br> Alternate between interviews with academics and practitioners with short 10-15 min episodes where the hosts give a primer of topics in data science and Artificial Intelligence such as k-means clustering, natural language processing. devision trees, and much much more </p>

                <p> <a href="http://lineardigressions.com/">Linear Digressions</a> <br> Covers diverse topics in data science and machine learning. They make complex topics accessible. </p>

            </div>
        </div><!-- /.panel-->

    </div>

     <div class="col"></div>
  </div>
    
  </div>  <!--/.main-->
  
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
  <script src="js/custom.js"></script>
    
</body>
</html>