<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Explain Me Please - AI</title>
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  
  <!--Custom Font-->
<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
    <div class="nav horizontal-align center">
                    <div class="nav-item">
                        <h6> <a href="#"> Explain Me Please </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href="https://faatehim.github.io"> Made by Faateh</a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox" align="right">
                           <input class="typeahead" type="text" placeholder="I want to learn about......."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center" >Artificial Intelligence explained </h2>
             



          <div class="nav  horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
                 <a href="#" class="nav-item"onclick="showContent('#X2')"> |Person who loves videos|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X4')"> |Toddler|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X5')"> |Rational Skeptic|
                 </a>
                 <a href="#" class="nav-item" onclick="showContent('#X6')"> |Podcast Lover|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class="hidden content text-center">
         <h3> Explain Me Please I'm the Average Joe</h3>


         <p> Artificial Intelligence will most likely impact and shape our future more than any other technology. Anybody who turns away from this technology will in a few years be a dinasaur and outdated according to Mark Cuban. The past few years have had an astonishing amount of advancements in AI. </p>

         <p> In 2017, AlphaGo(a program that plays the game Go) beat the worlds best human players at Go-- a ancient chinese war startegy game. You may be thinking, what is the big deal? Didn't the chess playing computer Deep Blue beat world chess champion Garry Kasparov in 1997? Well Go is a game with more than 300 times the number of plays as Chess. After the first two moves of a chess game, there are 400 possible next moves. In Go, there are close to 130,000. </p>

         <p> Also in 2017, OpenAI beat the world's top professionals in 1v1 matches of the online multiplayed game known as Dota 2 </p>


        <p> However Artificial intelligence is being used for more than just becoming masters at board games. Much of people's day to day technology is powered by artificial intelligence. You can point your phone's camera at the menu during your trip to India and the menu will be translated to English via Google Translate. </p>

        <p> Artificial Intelligence is being used to make our lives easier, more productive, and longer.  It will not be uncommon to see machines performing roles occupied by humans such as cab drivers, delivery man, etc. </p>

        <h3> Meaning of Artifical Intelligence </h3>

        <p> Artificial intelligence is the study of agents that perceive the world around them, form plans, and make decisions to achieve their goals. Artificial Intelligence's are developed using mathematics, economics, game theory, philosophy, probability, linguistics, and neuroscience is good. Many fields fall under the umbrella of AI, such as computer vision, natural language processing, machine learning, deep learning, robotics, etc. </p>

        <p> Machine Learning falls under the umbrella of artificial intelligence. Machine learning essentially allows for a machine to learn patterns between certain items without any of it having to be hard-coded or specified </p>

        <h3> Studying AI </h3>

        <p> There are 2 kinds of AI. The first type is artificial narrow intelligence (ANI) in which a computer than do whatever a human can do, except within narrow bounds. Examples are one we have already discussed </p>

        <p> Researchers are currently continuing to make strides towards artificial general intelligence (AGI). AGI is defined as an artificial intelligence that can perform anything a human can. AGI is a huge deal. Once we created an AI which can improve itself and learn from its mistake's and past experiences, it will result in the opening of a pandora's box. AGI's will unlock a cycle of self improvement which would lead to an intelligence explosion. </p>

        <p> AGI is also sometimes called the singularity. The term is borrowed from the gravitational singularity that occurs at the center of a black hole, an infinitely dense one-dimensional point where the laws of physics as we understand them start to break down. Just like there is zero visibility into what happens beyond the event horizon of a black hole, once AI can improve itself exponentially, it is almost impossible to predict what will happen? </p>

        <p> Ray Kurzweil, a inventor and futurist, predicts the singularity will occur by 2045 </p>

        <p> The development of a artificial intelligence greater with capabilites greater than humans have (ASI) could be amazing or terrible for us human species. Whether it is good or bad is all reliant on the what AIs will want in a way that is friendly to humans. </p>

        <p> Artificial Intelligence and its subfields will steam roll anything in its way and will have a massive impact on our day-to-day lives. </p>


         <p> More advanced/technical resources => <a href="https://medium.com/@tessr/making-money-530d2bb2b8f7">Bitcoin Explained using Emoji's</a>, <a href="https://dealbook.nytimes.com/2014/01/21/why-bitcoin-matters/">Why Bitcoin Matter's</a>, <a href="https://qz.com/154877/by-reading-this-page-you-are-mining-bitcoins/"> By Reading this Article, You Are Mining Bitcoins</a>   </p>
    </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Explain me please for curious soul</h3>
                 <iframe src="https://player.vimeo.com/video/169997836" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/2pp17E4E-O8" frameborder="0" allowfullscreen></iframe>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/MnYppmstxIs" frameborder="0" allowfullscreen></iframe>

            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">
                <h3> Explain me please, I am a Nerd. </h3>
                <p> First of all, whenever a new protocol or cryptocurrency comes out in the blockchain space, the founders normally write what is called a whitepaper, or a document which outlines the problem, solution, product, implementation, and more. You should always look for a whitepaper when new technology in the blockchain space is released so you can quickly get up to speed. Here is Bitcoin's <a href="https://bitcoin.org/bitcoin.pdf">Whitepaper</a> by Satoshi Nakamoto.</p>
                <p> If you are a developer, a great resource to start developing on the Bitcoin blockchain is the <a href="https://bitcoin.org/en/developer-documentation"> Bitcoin Developer Documentation</a>. </p>
                <p> Best Book -  <a href="https://github.com/bitcoinbook/bitcoinbook"> Mastering Bitcoin </a>, Bible of Bitcoin</p>
                <p> Here are Balaji Srinivasan (CEO of 21.co, a16z board member, blockchain advocate) answering question about his favorite books (both technical/non technical) <p>

                <p> 1a) Some of my favorite technical books: </p>

                <p>   <a href="https://www.amazon.com/Princeton-Companion-Mathematics-Timothy-Gowers/dp/0691118809"> - The Princeton Companion to Mathematics</a> </p>

                <p>    <a href="https://www.amazon.com/Princeton-Companion-Applied-Mathematics/dp/0691150397">- The Princeton Companion to Applied Mathematics</a> </p>

                <p> <a href="https://www.amazon.com/Nature-Mathematical-Modeling-Neil-Gershenfeld/dp/0521570956">- The Nature of Mathematical Modeling</a> </p>

           <p>  I love books like those because they are both surveys and yet quite deep. I also love the entire Schaum's series of books, which I think illustrate a completely different approach to pedagogy: try the problem and fail/succeed, and then learn what you need to learn. Here is one of those: <a href="https://www.amazon.com/Schaums-Outline-Probability-Statistics-4th/dp/007179557X">Schaum's Outline of Probability and Statistics</a> </p>
            

            <p> 1b) Some of my favorite nontechnical books:  </p>

           <p>  <a href="https://www.amazon.com/Seeing-like-State-Certain-Condition/dp/0300078153">- Seeing Like a State</a>  </p>
           <p>  <a href="https://www.amazon.com/Reputation-Power-Organizational-Pharmaceutical-International/dp/0691141800">- Reputation and Power </a> </p>

           <p> In general, I like nontechnical books with a lot of factual/historical data. I read them with an eye towards ultimately mapping them to some kind of technological implementation. </p> 

            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
              <h3> Explain Me Please I'm a Toddler </h3>
                 <p>CRISPR is a tool scientists are using to edit human genomes. A genome is the genetic material of an organism. A genome can be thought as the instruction manual for a human. It tells what a persons eye color will be, hair color, etc. Sometimes the instruction manual (genome) contains mistakes or makes a person have a certain disease, disability, or allergy. CRISPR can help change the genome and make it so they do not have that disease/illness they have. </p>
            </div>
        </div><!-- /.panel-->
        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> <b> A few problems/weaknesses with Bitcoin </b> </h3>
                <p> 1. Scalability. <br> Currently Bitcoin can only process 3-7 transactions a second. A centralized service like Visa can handle 2,000 transactions. If Bitcoin wants to be bigger than services like Visa and Mastercard, it must improve </p>
                <p> 2. Privacy. Every bitcoin transaction is public and one's address can be attached with their identity. </p>
                <p> 3. Energy Consumption. Bitcoin's currency consensus protocol, Proof of Work relies on energy use. Many critics regard it as useful and unnsessecary </p>
                <p> 4. P+ Elipson Attack: good article explaining it => <a href="https://blockchainatberkeley.blog/understanding-crypto-economic-security-through-game-theory-526e810c7736">Understanding Crypto Economic Security though Game Theory</a>  </p>
            </div>
        </div><!-- /.panel-->
        <div id="X6" class="hidden">
            <div class="content text-center">
                <iframe width="600" height="130" frameborder="0" scrolling="no" src="https://www.wnyc.org/widgets/ondemand_player/radiolab/#file=%2Faudio%2Fxspf%2F510201%2F"></iframe>

            </div>
        </div><!-- /.panel-->

    </div>

     <div class="col"></div>
  </div>
    
  </div>  <!--/.main-->
  
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
  <script src="js/custom.js"></script>
    
</body>
</html>