<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <html lang="en">
  <title>Explain Me Please - Bitcoin</title>
  <meta name="description" content="Description of the page less than 150 characters">
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  <html dir="ltr">


</head>

<body>
    <div class="nav horizontal-align center">
                    <div class="nav-item">
                        <h6> <a href="#"> <b> Explain Me Please </b> </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href="https://faatehim.github.io"> <b> Made by Faateh Mohammad </b> </a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox" align="right">
                           <input class="typeahead" type="text" placeholder="I want to learn about......."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center" > <b> 💰 Bitcoin Explained </b> </h2>
             



          <div class="nav  horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
                 <a href="#" class="nav-item"onclick="showContent('#X2')"> |Video Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X4')"> |5 Year Old|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X5')"> |Want To Purchase Bitcoin|
                 </a>
                 <a href="#" class="nav-item" onclick="showContent('#X6')"> |Podcast Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X7')"> |FAQ|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class="hidden content text-center">
         <h3> Explain Me Please I'm The Average Joe</h3>

         <h5> History of Banks</h5>

         <p>Bitcoin is considered the first decentralized digital currency. However what does that mean? Why do we even need Bitcoin?  </p>

         <img src="https://bitcoin.org/img/icons/opengraph.png" width="250" length="250">

         <p>One problem that has always been present with decentralized digital currencies prior to bitcoin is the transfer of ownership of money. How do we know who owns what? What if some send 4 coins to me online but also sends it to 3 other people? Who validates transactions? Another problem with digital currencies is that they are not scarce and can be copied. This is not present with government-backed paper currencies as they are created in a way which cannot be copied easily. </p>

         <p> Centralized digital currencies, or currencies regulated and secured by one party, solve this problem by keeping a log of all transactions that have taken place. They make sure no one can spend the same coin twice or make fraudelent transactions. This is all well and good except for a few problems. The first is that there is a single point of faulure. If a government dislikes a currency, they can just shut down the operators. This is exactly what happened with Liberty Reserve. Another problem with centralized digital currencies is that the operating party must be trusted. People to use x centralized currency must trust that the operators will not mess with their money and will keep their integrity. There is clearly a need for a censorship resistant digital currency that does not have a single point of failure which cannot be shut down and only requires trust in math </p>

         <p> Bitcoin solves the problem by making its system public and distributed. Public means that any can look at the blockchain history. Distributed means that instead of only one party holding the transaction history like in a centralized digital currency, they are many synchronized copies of the transaction history held by computers(nodes) all over the world. Anybody can download the transaction history and verify that no fraudent transactions have taken place. This however, creates a lot more problems that solutions. For one. how do people form a agreement on which transactions have been verified and confirmed? How do we ensure that transactions get included into the public transaction history? This problem is called the Byxantine General Problem. If this problem is prevalent in the Bitcoin network, Bitcoin would be plagued which competing transacton histories, fraudelent transactions, and people only working for their own interests and their transactions. </p>

         <p> One solution could be letting people vote for which transaction history they believe to be valid. This however is not a really good solution. It is not that hard for a malicious attacker wanting to hijack the system to take control of many computers. A consensus system where every IP address would get a vote would be corrupted very easily. </p>

         <h5> Bitcoin's Solution </h5>

         <p> Bitcoin solves all of this. When you want to transact on the Bitcoin network, you first connect to the system and to several other users (called nodes or peers) who are also using the Bitcoin network. When you make a transaction, your computer broadcasts it to the nodes you are connect to. When they receive the transaction, every node will vrrify the transaction to make sure it is valid by making sure the coins have not been spent, the receiver of the coins is valid, etc). If this process is successful, the nodes will relay to its peers. Eventually this transaction will propogate(reach) to all users. </p>

         <p> A miner is a node in the Bitcoin network who takes it upon himself to collect the transactions it receives and work to organize it into blocks (can be considered as packages of transactions). When a miner receives a transactions, he verifies it and then adds it to his memory pool along with other unconfirmed transactions and begins creating a block. A block has a max capacity of 1000 kB, which can hold about 2000 transactions max. One important point to note is that all miners are competing against each other to create a block. When a miner creates a block, it broadcasts it to its peers (similar to broadcasting a transactions). Every user vaildates the block and if it is correct, they add it to their local copy of the blockchain. </p>

         <p> Whichever miner created a valid block is rewarded for his hard work with newly minted bitcoins. The system regulates the rate at which bitcoins are created. It is currently 12.5 per block. Bitcoin is a deflationary system because there will only be 21 million bitcoins created. However if mining is just putting valid transactions in a block, what can stop miners from creating blocks favoring certain individuals and creating multiple versions of the block chain? </p>

         <h5> Consensus System: Proof of Work </h5>

         <p> The Bitcoin System specifies that in order to produce a valid block, a miner must submit proof that they have invested significant computing power, hence time and electricity to validate the blocks. This is done by miners submit an answer to a math problem which can only be found by running random numbers through an equation over an over until you get less than certain number. This problem's difficulty is created so that it takes on average 10 minutes for someone to solve the problem and create a valid block. This solves many problems prevelant in the Byzantine General's. Consider, for example, a situation where there are competing transaction histories (a “fork” in the block chain). </p>


        <p> In the case where they are 2 blocks, the math problems that need to be solved are different for each chain. When confronted with this situation, each miner needs to decide for himself which chain he is going to work to extend. In this sense miners can be said to “vote” with their processing power. It has been proving with math that the chain with the most processing power devoted to extending it will always be the longest chain and hence, will become the main chain. If chain A has 55% of the processing power and chain B has 45%, those miners mining chain A will collectively solve the math problems quicker than those mining on chain B. As a result, the more time that passes, the larger the gap between chain A and chain B will become. </p>

        <p> From the perspective of an individual miner, you always want to mine on the majority chain. This is because it’s unlikely the public will accept a minority chain as valid. Any blocks that you mine are not going to be worth 12.5 BTC,  they will be worth nothing as they are not the main chain. This applies even to someone who wants to “vote” for a transaction history that is more favorable to himself. Consider the following example: The last block in the chain is block three and a malicious miner just spent 300 BTC on a a new home. He wants to make sure that his 300 BTC transaction does not make it to the blockchain and he does not have to pay so he starts mining a block that does not include his transaction. Let’s say the miner controls 10% of the Bitcoin network’s total processing power, which is not an easy feat. Given that it takes the entire network an average of 10 minutes to solve the math problems needed to find a block, this individual miner will take 100 minutes on average to find a block. Obviously, it is much more likely that the rest of the network will mine block four before the malicious miner. When this happens the miner has a decision to make: Does he give up his attack, accept the legitimate block four, and begin work on block five or does he continue working to find a block four with his version of the transaction history? If he chooses the latter, again the probabilities suggest the rest of the network will find block five (and blocks six, seven, etc) before he finds his version of block four. Whenever he does manage to find and relay his fraudulent block four, it will just simply be ignored (orphaned in Bitcoin parlance) since the main chain is longer than his alternate chain. </p>

       <p>The only way such an attack could succeed is for the malicious miner to continue adding blocks to his alternate chain and somehow extend it longer than the main chain. As we already mentioned, however, the chain with the majority of the processing power will always grow to be longest chain, so unless this attacker has the majority of the processing power (>51%) in the Bitcoin network, he will fail  </p>

      <p> You might ask, how likely is it that someone can commandeer enough processing power to put himself over 50%?  Surely the NSA has some powerful supercomputers right? Couldn’t they do it? Well, considering that the total processing power in the Bitcoin network is faster at computing these math problems than the top 500 supercomputers in the world combined …………. times 35, I’m going to go out on a limb and say it is unlikely to happen. Not only that, but as we speak people are bringing more processing power online in an attempt to mine blocks and earn the reward. </p>


      <p> So to sum up, given the likelihood of failure, the only rational thing to do is simply to give up mining alternative chains, accept the network consensus and move on. The opportunity cost of mining blocks that will not be included in the main chain is just too high. Because of this incentive structure, profit maximizing miners will always choose to mine on the majority chain guaranteeing that the millions of disparate Bitcoin users will be able to agree on a single transaction history. </p>

      <h5> PT 2: The math </h5>

      <p> Let us now look into the math behind Bitcoin. It might seem scary, but it is actually pretty simple and really interesting. </p> 

      <h5> Hashing </h5>

            <p> A hash function takes any input, and produces an output of a specific size. Bitcoin uses the hash function SHA-256. Hash functions have a few cool properties.  </p>

            <p> • They will always produce an output of fixed length => No matter whether you are hashing the entire Harry Potter series or a paragraph, you will always get a 256 bit output when you use the hash function SHA-256 </p>

            <p>• One output will always get the same output => When you hash the sentence "I love pineapples" and put it through a SHA-256 function, you will always get the hash <br>"271ad015e767b066ccc6e8d7b87ba76 eecf4a1752ac192bd6de44f64d3f5e21c"<br> 100% of the time. </p>

            <p>   • Hash functions follow the avalanche effect => One small change in the will result in a BIG change in the output. </p>

            <p>
            Example: The hash of "I love pineapples" is <br>"271ad015e767b066ccc6e8d7b87ba <br>76eecf4a1752ac192bd6de44f64d3f5e21c" <br>
            </p>

            <p>
            However, the hash of "I love pineapple" is <br>"555cc915e9580c14db63c61126b <br>b1c43a88ed42b083d0a693ce122651edb5d8" <br> Even though I only took out the s in the second input, the hash complete changed </p>

            <p>   • Hash functions are one way => It should be a piece of cake to compute an output for any given input, however it should be impossible to compute the input when you know the output. Even with knowing the mathematical equation behind hash functions, some hash functions are unbreakable even with quantum computers supposedly.</p>

            <p>   • Hash functions should have no collisions => It should be a piece of cake to compute an output for any given input, however it should be impossible to compute the input when you know the output. Even with knowing the mathematical equation behind hash functions, some hash functions are unbreakable even with quantum computers supposedly.</p>


            <h5> Merkle Trees </h5>

            <p> So if you recall, when a miner receives a transaction, they verify it and  place it in their memory pool of unconfirmed transactions. This is when they start creating a block. After verifying the transactions, they start hashing every transaction in the memory pool using Bitcoin's hash function SHA-256. After they do this, they start to build what is called a merkle tree with the hashes. If you are familiar with a tourmanent bracket, you will understand the concept.  The hashes of the transactions are organized into pairs of twos, concatenated together, then hashed again until there is one hash remaining(merkle root). So the merkle root of the hash is placed into the blocks header along with the hash of the previous block and a randm number called a no ce. A Block Header looks like this: The block header is then hashed which produces an output which will the block identifier. Now we can broadcast this block and collect out payout. Hold up. Not so fast. We still have to solve that hard mathematical problem, or proof of work </p>

            <h5> Proof of Work </h5>

            <p> The Bitcoin system sets a target value for a block header's hash. THe output must be less than x, a number specified by the Bitcoin protocol. Your block's header must have a hash value less than the target value or else it will be rejected by other nodes in the network </p>

            <p> So if you have hashed each transaction, built a merkle tree with the outputs, found the merkle root, added it to the block hedaer with the hash of the previous block anda nonce, hashed the header and produced an output which is larger than the target valur, What do I do know? </p>

            <p> This is where the concept of the nonce comes into it. The nonce is simply a random number which is added to the block header only for the reason to give a number to increment in attempt to produce a valid hash. If your attempt at hashing the header produced an invalid hash, you just increase the nonce and rehash the header then check if your hash is valid <p>

            <p> This is Bitcoin mining. You simply rehash the block header over and over until one miner eventually produces a valid hash. Notice how the only way you can find a hash under the target hash is to simply increment the nonce. They are no shortcuts. In the end, whoever has the most computational power will win.

            <p> Now you ask, when and how does the miner get his reward. Well, the first transaction in each block is refered to as the "coinbase" transaction. This is a transaction in which the miner sends himself 12.5 bitcoins to his address which have been created out of this air and did not exist before. Since a miner is minting 12.5 btc and sending it to his address, the first transaction of each block will always differ. Remembering the qualities of a hash function, if an input changes even just one character, the entire output will change drastically. Since the hash of the coinbase transaction at the base of the merkle tree is different for each miner, the entire merkle tree including the merkle root will be different for every miner. That slo means the nonce nessecary to produce a valid block under the target will be different for each miner. </p>

            <p> This is why merkle tree's are used in Bitcoin. The transactions are included in the header by the merkle root so that the entire transaction history of the block doesn't need to be rehashed with each attempt. Any change anywhere in the merkle tree will cause the merkle root to change, which will cause the hash of the block to change </p>

            <h5> Hash Chaining </h5>

            <p> The hash of each block is included in the header of the next block. This helps create what is called a blockchain, or a linking of all blocks. If a malicious miner wants to alter or remove a transaction already present in a blocl in the block chain, this change with cause the hash of the transaction to change which will ultamatley change the merkle tree and the merkle root. The header will now 99.9% will not produce a valid block. The attacker will know have to hash the entire block header and spend a lot of time trying to find a correrct nonce. Imagine if he does this, ccan he just broadcast this block to the network and hope miners will replace the old block with his new one and new users downloading his new block? Well, the answer is No. This is because the header of the each block includes the hash of the previous block.  

          <h5> Public and Private Key Cryptography </h5>

          <p> They are 2 types of cryptography we will be talking about - symmetric and assymetric cryptography. Let us see how symmetric cryptography works. Billy has a box which he fills with important documents (passport, birth certificate , etc). This box has a lock. As normal, the lock has a key used to lock and unlock the box. This is symmetric cryptography, one key which can do all functions such as encryption and decryption. </p>

          <p> Let's now see how assymmetric or public key cryptography works. Now let’s see how asymmetric, or “public-key” cryptography works. Billy has a box too. It’s a box with a very special lock. This lock has three states: A (locked), B (unlocked) and C (locked). And it has two separate (yes, two) keys. The first one can only turn clockwise (from A to B to C) and the second one can only turn counterclockwise (from C to B to A). Anna picks the first one of the keys and keeps it to herself. We will call this key, her “private” key -because only Anna has it. We will call the second key, her “public” key: Anna makes a hundred copies of it, and she gives some to friends and family, she leaves a bunch on her desk at the office, she hangs a couple outside her door, etc. If someone asks her for a business card, she hands him a copy of the key too. So. Anna has her private key that can turn from A to B to C. And everyone else has her public key that can turn from C to B to A. We can do some very interesting things with these keys. First of all, imagine you want to send Anna a very personal document. You put the document in the box and use a copy of her public key to lock it. Remember, Anna’s public key only turns counterclockwise, so you turn it to position A. Now the box is locked. The only key that can turn from A to B is Anna’s private key, the one she’s kept for herself. That’s it! This is what we call public key encryption: Everyone who has Anna’s public key (and it’s easy to find a copy of it, she’s been giving them away, remember?), can put documents in her box, lock it, and know that the only person who can unlock it is Anna. There is one more interesting use of this box. Suppose Anna puts a document in it. And she uses her private key to lock the box, i.e. turn the key to position (C). Why would she do this? After all, anyone with her public key, can unlock it! Wait. Someone delivers me this box and he says it’s from Anna. I don’t believe him, but I pick Anna’s public key from the drawer where I keep all the public keys of my friends, and try it. I turn right, nothing. I turn left and the box opens! “Hmm”, I think. “This can only mean one thing: the box was locked using Anna’s private key, the one that only she has.” So, I’m sure that Anna, and no one else, put the documents in the box. We call this, “digital signature”. </p>

          <p> That is public key cryptography. People guard their private key very carefully, since a private key can unlock any of its corresponding public keys. If you know one's private key, you have access to any of the funds associated with their public key. </p>

         <p> More advanced/technical resources => <a href="https://medium.com/@tessr/making-money-530d2bb2b8f7">Bitcoin Explained using Emoji's</a>, <a href="https://dealbook.nytimes.com/2014/01/21/why-bitcoin-matters/">Why Bitcoin Matter's</a>, <a href="https://qz.com/154877/by-reading-this-page-you-are-mining-bitcoins/"> By Reading this Article, You Are Mining Bitcoins</a>   </p>


   </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Love Videos.</h3>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/t5JGQXCTe3c" frameborder="0" allowfullscreen></iframe>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/51aJ9PAohZU" frameborder="0" allowfullscreen></iframe>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/bBC-nXj3Ng4"" frameborder="0" allowfullscreen></iframe>
            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">
                <h3> Explain Me Please I Am A Nerd </h3>
                <p> First of all, whenever a new protocol or cryptocurrency comes out in the blockchain space, the founders normally write what is called a whitepaper, or a document which outlines the problem, solution, product, implementation, and more. You should always look for a whitepaper when new technology in the blockchain space is released so you can quickly get up to speed. Here is Bitcoin's <a href="https://bitcoin.org/bitcoin.pdf">Whitepaper</a> by Satoshi Nakamoto.</p>
                <p> If you are a developer, a great resource to start developing on the Bitcoin blockchain is the <a href="https://bitcoin.org/en/developer-documentation"> Bitcoin Developer Documentation</a>. </p>
                <p> Best Book -  <a href="https://github.com/bitcoinbook/bitcoinbook"> Mastering Bitcoin </a>, Bible of Bitcoin</p>
                <p> Here are Balaji Srinivasan (CEO of 21.co, a16z board member, blockchain advocate) answering question about his favorite books (both technical/non technical) <p>

                <p> 1a) Some of my favorite technical books: </p>

                <p>   <a href="https://www.amazon.com/Princeton-Companion-Mathematics-Timothy-Gowers/dp/0691118809"> - The Princeton Companion to Mathematics</a> </p>

                <p>    <a href="https://www.amazon.com/Princeton-Companion-Applied-Mathematics/dp/0691150397">- The Princeton Companion to Applied Mathematics</a> </p>

                <p> <a href="https://www.amazon.com/Nature-Mathematical-Modeling-Neil-Gershenfeld/dp/0521570956">- The Nature of Mathematical Modeling</a> </p>

           <p>  I love books like those because they are both surveys and yet quite deep. I also love the entire Schaum's series of books, which I think illustrate a completely different approach to pedagogy: try the problem and fail/succeed, and then learn what you need to learn. Here is one of those: <a href="https://www.amazon.com/Schaums-Outline-Probability-Statistics-4th/dp/007179557X">Schaum's Outline of Probability and Statistics</a> </p>
            

            <p> 1b) Some of my favorite nontechnical books:  </p>

           <p>  <a href="https://www.amazon.com/Seeing-like-State-Certain-Condition/dp/0300078153">- Seeing Like a State</a>  </p>
           <p>  <a href="https://www.amazon.com/Reputation-Power-Organizational-Pharmaceutical-International/dp/0691141800">- Reputation and Power </a> </p>

           <p> In general, I like nontechnical books with a lot of factual/historical data. I read them with an eye towards ultimately mapping them to some kind of technological implementation. </p> 

            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Am 5 Years Old </h3>
                <img src="http://i.imgur.com/kuj9sPP.gif">
                <p> Cash is a really amazing product. Cash is anonymous, you can walk up to a stranger, you dont know him, and give him the dollar bill. He can then walk into a store and buy something without the guy at the register wondering where he got the dollar bill. Cash is non-refundable. Thats why lots of people (including criminals, but lets not let them spoil the party) love cash. Thats why merchants love cash. Cash doesn´t require you signing up for something. Cash requires no credit checks. Cash can be used by the poorest of the poor and requires no banking services. Bitcoin is not PayPal, its not VISA, its not SWIFT. Its electronic cash </p>
            </div>
        </div><!-- /.panel-->
        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Want To Purchase Bitcoins </h3>

                <p> First before you buy bitcoins, you must understand the concept of wallets. </p>

                <P> Wallets store the private key's that you need to access a bitcoin address and spend your funds. One thing to note is that Bitcoin Wallets do not act like ones regular wallet. One's regular wallet contains someones money and if it is lost, the money is lost. A bitcoin wallet is different. A Bitcoin Wallet should be thought more of as a "keychain". As long as you have your private and public key, you can access and use your funds from any bitcoin wallet. </P>

                <h5> Types of Wallets </h5>

                <p> There are 3 major kinds of bitcoin wallet's we will be covering. Online Wallets, Software Wallets, and Hardware Wallets. We wil start with the wallet's which are the easiest to set up but offer the least security and go up to wallet's which are the hardest to set up and use but offer the most trust.

                <p> The first kind of wallet is a online wallet. This is the easiest wallet to use but offers the least security and trust. I would NOT reccomend anyone to store their bitcoin's on a online wallet. Some trade-offs of using an online wallet is that your private keys are stored on another server. This could lure hackers to steal people's private keys, and hence their money. For instance, back in 2014 hackers store approximately $460 million  from Mt.Gox, a populat Bitcoin exchange at the time. I personally only recommend  stroing bitcoins on a online wallet if you have a small quantity of them. </p>

                <p> Some examples of Online Wallets are: <a href="https://blockchain.info/"> Blockchain.info</a>, <a href="https://www.coinbase.com/"> Coinbase </a>, <a href="https://greenaddress.it/en/"> Green Address</a>, <a href="https://www.bitgo.com/"> BitGo </a> </p>

                <p> The second kind of wallet is a software wallet. A software wallet is a wallet installed on your computer which you have control of. You know your private and public key. Software wallets are available for desktop platforms as well as mobile platforms. The reference client, or the standard client in which all other wallet platforms are based on is called Bitcoin Core. This is all well and dandy except the blockchain download. The current size of the bitcoin blackchain is more than 100GB in size. This is a real problem is you have limited storage space and limited bandwidth. Thankfully, most software clients are lightweight clients. This means they only download and communicate the pieces of information on the blockchain which matter to your bitcoin addresses and keys. Software wallets provide more security than web wallets but greater accessibility than offline wallets. However, one thing to note is that they are only as secure as the computer they are stored on since the keys are on the computer. Malware on your computer can comprise your private keys. Once you download the wallet software, it synchronizes with the network by downloading the blockchain. Once it is done, simply follow the on screen instructions. I believe Software wallets are the perfect mix of security and trust as well as usability and ease of use. </p>

                <p> Examples of Software Wallets: <a href="https://www.bitcoinarmory.com/">Armory(requires full blockchain download)</a>, <a href="https://electrum.org/"> Electrum </a>, <a href="https://www.exodus.io/"> Exodus </a> </p>

                <p> The final type of wallet we will talk about is a hardware wallet. Hardware wallets are dedicated hardware that are built specifically to hold bitcoin's and keep it secure. They are slightly less user-friendly than online and software wallets, but they are more secure than software wallets and online wallets. They are great for storing large amounts of cryptocurrency and offer alot of control. One disadvantage is that hardware wallets are in extremely highd demand and are sold out often. Amazon is normally your best option to get one, however note that it may take a while to arrive due to demand. </p>

                <p> Examples of Hardware Wallets: <a href="https://www.ledgerwallet.com/"> Ledger </a> , <a href="https://trezor.io/"> Trezor </a>, <a href="https://www.keepkey.com/"> Keep Key </a> </p>

                <h5> How to buy Bitcoins? </h5>

                <p> The easiest way to buy bitcoin's is through an exchange such as <a href="https://www.coinbase.com/"> Coinbase </a>. There are many exchanges out there competing for your business. Most exchanges will store digital and/or fiat currency for you, just like a regular bank account. I would recommend one to use exchanges to purchase bitcoin is you want to just dabble in bitcoin or engage in regular trading and speculation, don't care about your transactions being tracked, and don't care about going through a decently lengthy setup procedure involving proving your identity. </p>

                <p> It is mandatory in most countries to track transactions and have processes to check your identity as a exchange must meet the KYC (Know your customer) and anti-money laundering requirements. </p>

                <p> Some of the best exchanges </p>

                <p> <a href="https://www.coinbase.com/"> Coinbase </a>. <br> Based out of San Fransisco, allows people to buy digital currency with British Pounds, Euros, USD. It is great for beginners because of its ease of use and has a great UI. All user wallets are insured. A few disadvantages is that fee's are not amazing and the customer support has been known to be lacking </p>

                <p> <a href="kraken.com"> Kraken </a> Is an exchange optimised for more serious traders actively wanting to trade BTC and other cryptocurrencies. Kraken has a great service for a bank transfer deposit.  Deposit currencies include euros, US dollars, and KRW (Korean Won). It is super cheap to deposit, withdraw, and trade on Kraken. Daily volumes are always high, and an excellent fee transparency guarantees low commissions and that you get the cheapest coins. </p>



                <p> <a href="cex.io"> Cex.io </a> Cex is a amazing exchange because of their diverse range of services. They now have over 700 000 users and accept Euro, US Dollar, and Russian Ruble. Wire transfer and SEPA payments are also accepted. CEX have a Level 2 PCI DSS data security clearance meaning that this site is extremely trustworthy with users data and money. </p>


            </div>
        </div><!-- /.panel-->
        <div id="X6" class="hidden content text-center">

                <h3> Explain Me Please I Love Podcasts </h3>
                <p> <a href="http://investlikethebest.libsyn.com/podcast/hash-power-ep-1-understanding-blockchains"> Hash Power Episode 1- Understanding Blockchains</a> </p>

                <p> Non technical intro to blockchains with thoughts from Naval Ravikant, Olaf Carlson-Wee, Fred Ehrsam and Ari Paul. </p>
                <p> Talks about things such as: <p>
                <p> Permission vs Permission less network </p>
                <p> Societal Structures</p>
                <p> Scarcity </p>
                <p> Alternative Tokens and Coins </p>
                <p> Nonces </p>

        </div><!-- /.panel-->



     <div id="X7" class="hidden content text-center">

                <h3> Bitcoin FAQ </h3>

                <p> <b> Q</b>: Isn't bitcoin just a haven for criminals and illegal activity? </p>

                <p>  <b> A </b>: I won't deny that Bitcoin is a place for drug dealers and criminals. However, at the currently moment the best use for Bitcoin is to store value. Imagine Gold. Do you use Gold to buy your groceries? Do you use Gold to purchase your house? No. It gold a good long term store of value? Yes. Digital Gold 2.0 is a big deal </p>

                <p>  <b> Q </b>: Where can I spend Bitcoins? </p>

                <p> <b> A </b> : <a href="https://www.gyft.com/">Gyft- Gift cards for hundreds of retailers </a> </p>

                <p> <a href="http://store.steampowered.com/"> Steam </a>, <a href="https://www.humblebundle.com/"> HumbleBundle </a>, <a href="https://www.greenmangaming.com/"> GreenmanGaming </a> - Gaming </p>

                <p> <a href="https://spendabit.co/"> Spendabit </a>, <a href="https://www.overstock.com/"> Overstock </a>, <a href="https://global.rakuten.com/en/"> Rakuten</a>, <a href="https://duosear.ch/"> Duo </a>, - Retail shopping with all kinds of things you good dream of </p>

                <p> <a href="https://www.newegg.com/"> NewEgg </a>, <a href="http://www.tigerdirect.com/"> Tiger Direct </a>, <a href="http://www.dell.com/en-us/"> Dell </a> -  Electronics. Mobile Devices, Computers, and such. </p>

                <p> <a href="https://www.expedia.com/"> Expedia </a>, <a href="https://www.cheapair.com/"> Cheapair </a>, <a href="http://www.lot.com/us/en/"> Lot </a>, <a href="https://destinia.us/"> Destinia </a>, <a href="https://www.abitsky.com/"> Abitsky </a> - Book Hotels, Taxis, and Flights </p>

                <p> <a href="https://www.namecheap.com/"> Namecheap </a> - buying domain names </p>

                <p> <a href="https://wikimediafoundation.org/wiki/Ways_to_Give#bitcoin"> Wikipedia </a>, <a href="https://bitpay.com/520663/donate"> BitPay </a>, <a href="https://www.amnesty.org/en/"> Amnesty International</a>, <a href="https://www.aclu.org/"> ACLU</a> - Charities </p>

                <p> <b> Q </b>: Is bitcoin mining profitable? </p>

                <p> <b> A </b>: Not really. The truth is bitcoin mining is dominated is by ASICS, or circuits dedicated to SHA-256 (mining bitcoin). Unless you can access specialised, high-powered machinery or free electricity, it is not worth it </p>

                <p>

        </div><!-- /.panel-->

    </div>

     <div class="col"></div>
  </div>
    
  </div>  <!--/.main-->
  
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
  <script src="js/custom.js"></script>
    
</body>
</html>