<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <html lang="en">
  <title>Explain Me Please - Bitcoin</title>
  <meta name="description" content="Description of the page less than 150 characters">
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  <html dir="ltr">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">


</head>

<body>
    <div class="nav horizontal-align content center">
                    <div class="nav-item">
                        <h6> <a href="/"> <b> Explain Me Please </b> </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href=""> <b> About </b> </a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox" align="right">
                           <input class="typeahead" type="text" placeholder="I want to learn about......."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class=" content page-header text-center" > <b> Bitcoin Explained </b> </h2>
             



          <div class="nav content horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
                 <a href="#" class="nav-item"onclick="showContent('#X2')"> |Video Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X4')"> |5 Year Old|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X5')"> |Want To Purchase Bitcoin|
                 </a>
                 <a href="#" class="nav-item" onclick="showContent('#X6')"> |Podcast Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X7')"> |FAQ|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X8')"> |Documentary Lover|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class="hidden content text-center">
         <h3> Explain Me Please I Am The Average Joe  </h3>

          <p> The history of Bitcoin is interesting. It has its origin in the year 2008, which almost saw a complete breakdown of the US financial system. The fundamental cause for this breakdown was that financial institutions stopped trusting each other and the flow of money stopped. Luckily, the US survived the crisis and lived to tell the story. However, even today there is no clear explanation of the root cause and no guarantees that it will not happen again. </p>

         <p>Satoshi Nakomato (or whatever his real name is), a brilliant cryptographer and programmer, was fed up with the current financial system. Governments could create money whenever they wanted and cause deflation and inflation when they liked. He thought of a currency which could not be manipulated and is transparent so that all transactions using the currency are visible and can be traced and verified by anyone. He wanted a currency not owned by a central authority but by everyone. It would be self-governed by a set of rules described and implemented in the software itself. Using a mix of progamming, economics, cryptography (math), and game theory he created a cryptocurrency and called it “Bitcoin”. </p>

        <h5> How does bitcoin works? </h5>

        <p> The bitcoin software is a program which can be installed by anyone. Clients on the bitcoin network talk to each other on a peer to peer, production network. Today, anyone can install the client and be part of the bitcoin network. </p>

        <p> Bitcoin began at a time called "Genesis". At the origin there were no coins and no transactions. The only way new coins can be produced is by a method called “Proof of Work”. Proof of Work requires all the nodes(computers) on the network to solve a math puzzle which is a game of chance. Any node which solves the puzzle first gets 12.5 Bitcoins. The holder of the bitcoin can then send some of their bitcoins to other people and ownership would spread thus around. </p>

        <p>You may be asking what is the point of mining or solving the cryptographic puzzle? Mining serves 2 main functions </p>

        <p> 1) It creates a new block. The new block contains all the new valid user transactions. </p>

        <p> 2) It secures the new user transaction on the distributed ledger or blockchain in a sequential manner. The ledger is considered secure because for anyone to manipulate the ledger, they have to do the work done by the miners all the way from the beginning. So, the more the time passes and new blocks are created, the harder it gets for anyone to manipulate the ledger. </p>

        <p> How do users transact with each other? Anyone holding a bitcoin can decide to send some to an unknown person reliably and securely. All they need is the public address of the recipient party. Suppose you have no bitcoins but would like someone to send you some, all you need to do is to download a bitcoin wallet. There are many free ones out there. Once you download a wallet, you can create a public and private key for yourself and store your private key in a secure place so no one can touch it. Remember public key, private key and public addresses are just a random numbers but they are cryptographically produced and hold a lot of meaning in them. </p>

       <p> Now someone who wants to send you bitcoins will take your public address, will create a transaction that gives you x bitcoins and will send it to the network. The network will then validate the transaction and some miners will include it in the newly mined block. Once your transaction is confirmed on the block, it will be announced to the world and you will know that you have bitcoin in your address. Voila, you are now proud owner of some bitcoin which you can spend just like cash in your pocket.  </p>

      <p> Bitcoin has succeeded in bringing the first crypto-currency to the world where no single party controls it. It is all governed by software rules and no one can manipulate it single handedly. All transactions are transparent and can be verified by anyone. The users can transact with each other anonymously without any trusted party. Bitcoin is the future of money. </p>


   </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Love Videos.</h3>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/t5JGQXCTe3c" frameborder="0" allowfullscreen></iframe>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/51aJ9PAohZU" frameborder="0" allowfullscreen></iframe>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/bBC-nXj3Ng4"" frameborder="0" allowfullscreen></iframe>
            </div>
        </div><!-- /.panel-->
        <div id="X3" class="hidden">
               <div class="content text-center">
                 <h3> Explain Me Please I Am A Nerd </h3>
                <p> First of all, whenever a new protocol or cryptocurrency comes out in the blockchain space, the founders normally write what is called a whitepaper. A whitepaper is a document which outlines the problem, solution, product, implementation, and more of a new protol or currency. You should always look for a whitepaper when new technology in the blockchain space is released so you can quickly get up to speed. Here is Bitcoin's <a href="https://bitcoin.org/bitcoin.pdf" target="blank">Whitepaper</a> by Satoshi Nakamoto.</p>
                <p> If you are a developer, a great resource to learn how to start developing on the Bitcoin blockchain is the <a href="https://bitcoin.org/en/developer-documentation" target="blank"> Bitcoin Developer Documentation</a>. </p>
                <p> One of the best books about Bitcoin technology is  <a href="https://github.com/bitcoinbook/bitcoinbook" target="blank"> Mastering Bitcoin </a> by Andreas Antonopolous. It is very hightly rated and covers all aspects of Bitcoin in detail.</p>
                   <p> Here is Balaji Srinivasan (CEO of 21.co, a16z board member, blockchain advocate) answering a question about his favorite books (both technical/non technical) on Bitcoin and blockchain. <p>
               <blockquote> 
                   <p> 1a) Some of my favorite technical books: </p>
                   <p>   <a href="https://www.amazon.com/Princeton-Companion-Mathematics-Timothy-Gowers/dp/0691118809" target="blank"> - The Princeton Companion to Mathematics</a> </p>
                   <p>    <a href="https://www.amazon.com/Princeton-Companion-Applied-Mathematics/dp/0691150397" target="blank">- The Princeton Companion to Applied Mathematics</a> </p>
                   <p> <a href="https://www.amazon.com/Nature-Mathematical-Modeling-Neil-Gershenfeld/dp/0521570956" target="blank">- The Nature of Mathematical Modeling</a> </p>
                   <p>  I love books like those because they are both surveys and yet quite deep. I also love the entire Schaum's series of books, which I think illustrate a completely different approach to pedagogy: try the problem and fail/succeed, and then learn what you need to learn. Here is one of those: <a href="https://www.amazon.com/Schaums-Outline-Probability-Statistics-4th/dp/007179557X" target="blank">Schaum's Outline of Probability and Statistics</a> </p>
                    
                    <p> 1b) Some of my favorite nontechnical books:  </p>
                   <p>  <a href="https://www.amazon.com/Seeing-like-State-Certain-Condition/dp/0300078153" target="blank">- Seeing Like a State</a>  </p>
                   <p>  <a href="https://www.amazon.com/Reputation-Power-Organizational-Pharmaceutical-International/dp/0691141800" target="blank">- Reputation and Power </a> </p>
                   <p> In general, I like nontechnical books with a lot of factual/historical data. I read them with an eye towards ultimately mapping them to some kind of technological implementation. </p> 
                </blockquote>

            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Am 5 Years Old </h3>
                <img src="http://i.imgur.com/kuj9sPP.gif">
                <p> Think about cash. Cash and currency was an amazing invention in the history of humanity. Let us go through some aspects of cash. </p>
                <ul>
                    <li> Cash is pretty anonymous. You can walk up to a homeless man and give him $5. He can then walk into a gas station and buy a water bottle without the person at the register questioning where the money came from. </li>

                    <li> Cash is hard to trace. </li>
                    <li> Cash is nonrefundable. Once you give the homeless man the $5, it is no longer yours. </li>
                    <li>  Cash is simple to understand. </li>
                    <li>  Cash does not require you to sign up for a service or verify your identity. </li>
                    <li> Cash is used all around the word and requires no bank. </li>
                    <li> Cash is efficient. Giving the homeless man $5 only takes a few seconds. </li>
                </ul>
                     <p> Do you want to begin to understand what bitcoin is? Well, it takes all the good aspects of cash and makes them even better. Bitcoin is digital cash 2.0. </p>

                     <p> The digital cash lives in a "wallet" on your phone or computer. It is locked in your name and only you can unlock it with a secret key you have. Remember not to share your secret key with anyone. </p>
            </div>
        </div><!-- /.panel-->
        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Want To Purchase Bitcoins </h3>
                <p> First before you buy bitcoins, you must understand the concept of wallets. </p>
                <P> For those who are unfamiliar with the inner workings and quirks of Bitcoin you should note that there aren’t actually any bitcoins stored in your wallet. A bitcoin is really nothing more than a balance recorded in a publically shared database. Transactions are simply orders broadcasted to the Bitcoin network to transfer some of your balance from your bitcoin address to someone else’s. The way you prove to the network that you own the bitcoins associated with a particular address is by signing your transactions with the private key that matches that address. Think of a Bitcoin wallet more like a keychain. </P>
                <p> A bitcoin address looks something like this : 1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2 </p>
                <p> A private key  look something like this: E9873D79C6D87DC0FB6A5778633389F4453213303DA61F20BD67FC233AA33262 </p>
                <h5> Types of Wallets </h5>
                <p> There are 3 major kinds of Bitcoin wallets we will be discussing:  online wallets, software wallets, and hardware wallets. We will start with wallets which are the easiest to set up but offer the least security and go up to wallets which are the hardest to set up but offer the most trust.
                <p> The first kind of wallet is a online wallet. This is the easiest wallet to use but offers the least security and trust. One pro of online wallets is that you can access them from anywhere, regardless of which device you are using. Some trade-offs of using an online wallet is that your private keys are stored on another server. This could lure hackers to steal your private keys, and hence your money. For instance, back in 2014 hackers store approximately $460 million from Mt. Gox, a popular Bitcoin exchange at the time. I personally only recommend storing bitcoins on a online wallet if you have a small quantity of them. </p>
                <p> Some examples of online wallets are: <a href="https://blockchain.info/" target="blank"> Blockchain.info</a>, <a href="https://www.coinbase.com/"" target="blank"> Coinbase</a>, <a href="https://greenaddress.it/en/" target="blank"> Green Address</a> and <a href="https://www.bitgo.com/" target="blank"> BitGo</a>. </p>

                <p> The second kind of wallet is a software wallet. A software wallet is a wallet installed on your computer which you have control of. You have access to your private and public key. Software wallets are available for desktop platforms as well as mobile platforms. The reference client, or the standard client in which all other wallet platforms are based on is called Bitcoin Core. This is all well and dandy except for one problem. The blockchain download. The current size of the bitcoin blockchain is more than 100GB in size. This is a real problem if you have limited storage space and limited bandwidth. </p>

                <p> Thankfully, most software clients are lightweight clients. This means they only download and communicate the pieces of information on the blockchain which matter to your Bitcoin addresses and keys. Software wallets provide more security than web wallets but greater accessibility than hardware wallets. However, one thing to note is that they are only as secure as the computer they are stored on since the keys are on the computer. Malware on your computer can comprimise your private keys. Once you download the wallet software, it synchronizes with the network by downloading the blockchain. Once it is done, simply follow the on screen instructions. I believe software wallets are the perfect mix of security and trust as well as usability. </p>

                <p> Examples of software wallets: <a href="https://www.bitcoinarmory.com/" target="blank">Armory (requires full blockchain download)</a>, <a href="https://electrum.org/" target="blank"> Electrum </a> and <a href="https://www.exodus.io/" target="blank"> Exodus </a> </p>

                <p> The final type of wallet we will talk about is a hardware wallet. Hardware wallets are dedicated hardware that are built specifically to hold bitcoin's and keep them secure. They are slightly less user-friendly than online and software wallets, but they are more secure than software wallets and online wallets. They are great for storing large amounts of cryptocurrency and offer alot of control. One disadvantage is that hardware wallets are in extremely high demand and are sold out often. Amazon is normally your best option to get one, however note that it may take a while to arrive due to demand. </p>

                <p> Examples of hardware wallets: <a href="https://www.ledgerwallet.com/" target="blank"> Ledger</a>, <a href="https://trezor.io/"> Trezor</a> and <a href="https://www.keepkey.com/" target="blank"> Keep Key </a> </p>
                <p> They are also a few other kinds of ways to store Bitcoin such as cold storage (paper wallets) and brain wallets. I will not be talking about them because they are very quirky and not used very commonly. If you are curious, here are a few links to learn more: <a href="https://www.bitcoin.com/guides/setting-up-your-own-cold-storage-bitcoin-wallet" target="blank"> Cold Storage</a> and <a href="https://www.coindesk.com/how-to-create-a-brain-wallet/" target="blank"> Brain Wallet</a> </p>

                <h5> How to buy Bitcoins? </h5>

                <p> They are many ways to purchase bitcoins. We will be going through some of them. </p>

                <h5> Buy with a credit card </h5>
                <p> One thing to note: buying bitcoins with a credit card is a relatively new service because previously credit card transactions were partially reversible by the bank. </p>
                <ul>
                    <li> <a href="https://www.coinbase.com/" target="blank"> Coinbase </a> <br> Coinbase is currently the largest Bitcoin exchange in the world. One of the main reasons for this is because of the exchanges ease of use. Coinbase has a very simple and elegant user interface which is accessible to anyone. Coinbase is also a very established exchange and currently has 18 million users every month. Just like any other exchange, Coinbase requires one to get their ID verified before they finalize an order. The good news is that the verification time is not much slower than other major exchanges. One thing to note is that if you would like to trade a higher quantity of Bitcoin and want cheaper fees, you can should use the exchange GDAX. GDAX is actually owned by Coinbase and you can use your Coinbase login on GDAX. Some cons of Coinbase are its lackluster customer support and relativily high fees. </li>

                    <li> <a href="https://www.bitstamp.net/" target="blank"> BitStamp</a> <br> BitStamp is one of the most highly rated places to buy Bitcoin online with a credit card. This is one of the cheapest exchanges to trade USD and EUR, especially if you are trading in high volumes. Everything about this exchange is fast. </li>

                </ul>


                <h5> Buy with cash </h5>

                <p> Buying bitcoin with cash is good for people who want to remain anonymous and stay off exchange records. </p>

                <ul>
                    <li> <a href="https://localbitcoins.com/" target="blank">LocalBitcoins</a> <br> LocalBitcoins is the largest peer to peer Bitcoin exchange. LocalBitcoins pairs customers with Bitcoin sellers in your vicinity. You can buy bitcoins in 2 main ways: arranging a point to meet and paying with cash or doing a transfer to the sellers bank (different for different countries). One trade-off between having high privacy is that you must pay a significant higher fee for purchasing. LocalBitcoin may also be a hub for criminals. </li>

                    <li> <a href="https://www.bitquick.co/" target="blank"> BitQuick</a> <br> BitQuick is similar to LocalBitcoins, however it only operates in the US and only does peer to peer exchanges using cash deposit. One pro to BitQuick is that bitcoin purchases are quick and are delivered usually in a hour or two. </li>

                    <li> <a href="Coinatmradar.com" target="blank"> Coinatmradar</a> <br> Coinatmradar is a map of over 1500 bitcoin ATMS in over 65 countries. A Bitcoin ATM usually accepts cash in exchange for bitcoins sent to your public address. </li>

                </ul>

                <h5> Buy with a bank transfer </h5>

                <p> Buying with a bank transfer is probably the easiest way to acquire large amounts of Bitcoin relatively quickly (3 - 4 days) </p>

               <ul>

                    <li> <a href="https://www.kraken.com/" target="blank"> Kraken</a> <br> Kraken is a major exchange which is highly audited and used by professionals. This site is best for pros trading via bank transfer. They are many currencies one can use to buy Bitcoin. </li>

                    <li> <a href="https://gemini.com/" target="blank"> Gemini </a> <br> Gemini is a exchange based in the US founded by the Winklevoss Twins. Gemini is known for its low fees and trustworthiness. It is also highly rated for its good customer service. One con is that it is not yet available in all US states and is somewhat confusing. </li>

                    <li> <a href="https://cex.io/" target="blank"> CEX.io </a> <br> CEX.io is a major exchange known for its diverse range of services. They currently have over a million users and accept many currencies. Wire transfers and credit cards are both accepted. </li>

              </ul>

              <p> DISCLAIMER: I am not a financial advisor. Do your own research. Take everything on this site with a grain of salt. </p>
 </p>
            </div>
        </div><!-- /.panel-->
        <div id="X6" class="hidden content text-center">
                <h3> Explain Me Please I Love Podcasts </h3>

                <p> <a href="http://investlikethebest.libsyn.com/podcast/hash-power-ep-1-understanding-blockchains" target="blank"> Hash Power Episode 1 - Understanding Blockchains </a> </p>

                <p> Non technical introduction to blockchains with thoughts from Naval Ravikant, Olaf Carlson-Wee, Fred Ehrsam and Ari Paul. </p>

                <h5> Talks about things such as: </h5>

                <ul>
                    <li>   Permission vs Permission Less Networks </li> 
                    <li>  Societal Structures </li>
                    <li>  Scarcity </li>
                    <li>  Alternative Tokens and Coins </li>
                    <li>  Incentives  </li>
                    <li>  Mining Pools </li> 
                    <li> Protocols  </li>
                    <li> and much more </li>
                </ul>
                <p> They are 2 other episodes in the Hash Power audio documentary. They are about investing in cryptocurrencies and funding, forking, and a creative future, respectively. </p>
        </div><!-- /.panel-->
     <div id="X7" class="hidden content text-center">
                <h3> Bitcoin FAQ </h3>

                <p> <b> Q</b>: Isn't bitcoin just a haven for criminals and illegal activity? </p>
                <p>  <b> A </b>: I won't deny that Bitcoin is a place for drug dealers and criminals. However, at the current moment the best use for Bitcoin is to store value. Imagine Gold. Do you use Gold to buy your groceries? Do you use Gold to purchase your house? No. Is gold a good long term store of value? Yes. Bitcoin is upgraded digital gold. </p>

                <p>  <b> Q </b>: Where can I spend Bitcoins? </p>

                <p> <b> A </b> </p>

                <ul>

                      <li> <a href="https://www.gyft.com/" target="blank"> Gyft </a> - Gift cards for hundreds of retailers </li>

                      <li> <a href="http://store.steampowered.com/" target="blank"> Steam</a>, <a href="https://www.humblebundle.com/" target="blank"> HumbleBundle</a> and <a href="https://www.greenmangaming.com/" target="blank"> GreenmanGaming</a> - Gaming. </li>

                      <li> <a href="https://spendabit.co/" target="blank"> Spendabit</a>, <a href="https://www.overstock.com/" target="blank"> Overstock</a>, <a href="https://global.rakuten.com/en/" target="blank">Rakuten</a>, <a href="https://duosear.ch/" target="blank"> Duo </a>, - Retail shopping with all kinds of things you could dream of. </li>

                      <li> <a href="https://www.newegg.com/" target="blank"> NewEgg</a>, <a href="http://www.tigerdirect.com/" target="blank"> Tiger Direct</a>, <a href="http://www.dell.com/en-us/" target="blank"> Dell</a> -  Electronics, Mobile Devices, Computers, and such. </li>

                      <li> <a href="https://www.expedia.com/" target="blank"> Expedia</a>, <a href="https://www.cheapair.com/" target="blank"> Cheapair</a>, <a href="http://www.lot.com/us/en/" target="blank"> Lot</a>, <a href="https://destinia.us/" target="blank"> Destinia </a>, <a href="https://www.abitsky.com/" target="blank"> Abitsky</a> - Book Hotels, Taxis, and Flights. </li>

                      <li> <a href="https://www.namecheap.com/" target="blank"> Namecheap</a> - Buying Domain Names. </li>

                      <li> <a href="https://wikimediafoundation.org/wiki/Ways_to_Give#bitcoin" target="blank"> Wikipedia</a>, <a href="https://bitpay.com/520663/donate" target="blank"> BitPay</a>, <a href="https://www.amnesty.org/en/" target="blank"> Amnesty International</a>, <a href="https://www.aclu.org/" target="blank"> ACLU</a> - Charities </li>
                </ul>

                 <p> <b> Q </b>: Is bitcoin mining profitable? </p>

                <p> <b> A </b>: Not really. The truth is bitcoin mining is dominated by ASICS, or circuits dedicated to the performing the hash function SHA-256 (mining bitcoin). Unless you can access specialised, high-powered machinery or cheap electricity, it is not worth it. </p>

                <p> <b> Q </b>: What is the difference between Bitcoin and bitcoin? </p>

                <p> <b> A </b>: The word “bitcoin” (without capitalization) is the name used for the currency itself. The system and protocol is called Bitcoin. </p>

                <p> <b> Q </b>: What are some high quality blogs about Bitcoin? </p>


                <p> <b> A: </b> </p>

                <ul>
                    <li> <a href="http://moneyandstate.com/"> Money and State</a> </li>
                    <li> <a href="http://unenumerated.blogspot.com/"> Unenumerated</a> </li>
                    <li> <a href="http://gavinandresen.ninja/"> Gavin Andresen</a> </li>
                    <li> <a href="http://financialcryptography.com/"> Financial Cryptography</a> </li>
                    <li> <a href="https://bitcointechtalk.com/"> Bitcoin Tech Talk</a> </li>
                </ul>

                    
                


               
        </div><!-- /.panel-->

         <div id="X8" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Love Documentaries</h3>
                 
                 <ul> 
                    <li> <a href="http://bitcoindoc.com/"> The Rise and Rise of Bitcoin</a> - fantastic primer on Bitcoin technology and the ecosystem. Once will discover bitcoins potential for empowering and liberating. </li>

                    <li> <a href="https://www.youtube.com/watch?v=tmxqlSevtkQ"> Banking on Bitcoin</a>- talkings about bitcoin resilience, the bitcoin community, and the impact of bitcoin. </li>

                    <li> <a href="https://www.youtube.com/watch?v=2I6dXRK9oJo"> Bitcoin Gospel</a> - " This documentary investigates the history of bitcoin, how it works, and what its future holds." </li>


                <ul>
            </div>
        </div><!-- /.panel-->

    </div>


     <div class="col"></div>
  </div>
    
  </div>  <!--/.main-->
  
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
  <script src="js/custom.js"></script>
    
</body>
</html>
