<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <html lang="en">
  <title>Explain Me Please - Bitcoin</title>
  <meta name="description" content="Description of the page less than 150 characters">
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  <html dir="ltr">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">


</head>

<body>
    <div class="nav horizontal-align content center">
                    <div class="nav-item">
                        <h6> <a href="/"> <b> Explain Me Please </b> </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href=""> <b> About </b> </a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox" align="right">
                           <input class="typeahead" type="text" placeholder="I want to learn about......."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center" > <b> 💰 Bitcoin Explained </b> </h2>
             



          <div class="nav content horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
                 <a href="#" class="nav-item"onclick="showContent('#X2')"> |Video Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X4')"> |5 Year Old|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X5')"> |Want To Purchase Bitcoin|
                 </a>
                 <a href="#" class="nav-item" onclick="showContent('#X6')"> |Podcast Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X7')"> |FAQ|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class="hidden content text-center">
         <h3> Explain Me Please I Am The Average Joe  </h3>


   </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Love Videos.</h3>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/t5JGQXCTe3c" frameborder="0" allowfullscreen></iframe>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/51aJ9PAohZU" frameborder="0" allowfullscreen></iframe>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/bBC-nXj3Ng4"" frameborder="0" allowfullscreen></iframe>
            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">
                <h3> Explain Me Please I Am A Nerd </h3>

                <p> First of all, whenever a new protocol or cryptocurrency comes out in the blockchain space, the founders normally write what is called a whitepaper, or a document which outlines the problem, solution, product, implementation, and more. You should always look for a whitepaper when new technology in the blockchain space is released so you can quickly get up to speed. Here is Bitcoin's <a href="https://bitcoin.org/bitcoin.pdf" target="blank">Whitepaper</a> by Satoshi Nakamoto.</p>
                <p> If you are a developer, a great resource to start developing on the Bitcoin blockchain is the <a href="https://bitcoin.org/en/developer-documentation" target="blank"> Bitcoin Developer Documentation</a>. </p>

                <p> The Best Book is probaby  <a href="https://github.com/bitcoinbook/bitcoinbook" target="blank"> Mastering Bitcoin </a> by Andreas Antonopolous. It is known as the "bible of Bitcoin".</p>

                   <p> Here is Balaji Srinivasan (CEO of 21.co, a16z board member, blockchain advocate) answering a question about his favorite books (both technical/non technical) on bitcoin and blockchain. <p>
               <blockquote> 

                   <p> 1a) Some of my favorite technical books: </p>

                   <p>   <a href="https://www.amazon.com/Princeton-Companion-Mathematics-Timothy-Gowers/dp/0691118809" target="blank"> - The Princeton Companion to Mathematics</a> </p>

                   <p>    <a href="https://www.amazon.com/Princeton-Companion-Applied-Mathematics/dp/0691150397" target="blank">- The Princeton Companion to Applied Mathematics</a> </p>

                   <p> <a href="https://www.amazon.com/Nature-Mathematical-Modeling-Neil-Gershenfeld/dp/0521570956" target="blank">- The Nature of Mathematical Modeling</a> </p>

                   <p>  I love books like those because they are both surveys and yet quite deep. I also love the entire Schaum's series of books, which I think illustrate a completely different approach to pedagogy: try the problem and fail/succeed, and then learn what you need to learn. Here is one of those: <a href="https://www.amazon.com/Schaums-Outline-Probability-Statistics-4th/dp/007179557X" target="blank">Schaum's Outline of Probability and Statistics</a> </p>
                    

                    <p> 1b) Some of my favorite nontechnical books:  </p>

                   <p>  <a href="https://www.amazon.com/Seeing-like-State-Certain-Condition/dp/0300078153" target="blank">- Seeing Like a State</a>  </p>
                   <p>  <a href="https://www.amazon.com/Reputation-Power-Organizational-Pharmaceutical-International/dp/0691141800" target="blank">- Reputation and Power </a> </p>

                   <p> In general, I like nontechnical books with a lot of factual/historical data. I read them with an eye towards ultimately mapping them to some kind of technological implementation. </p> 
                </blockquote>
            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Am 5 Years Old </h3>
                <img src="http://i.imgur.com/kuj9sPP.gif">
                <p> Think about Cash. Cash was an amazing invention in the history of humanity. Cash is pretty anonymous. You can walk up to a homeless man and give him $5 dollars. He can then walk into a gas station and buy a water bottle without the person at the register questioning where the money came from. Cash is hard to trace. Cash is non refundable. Once you give the homeless man the $5 dollars, it is no longer ours. Cash is simple to understand. Cash does not require you to sign up for a service or verify your identity. Cash is used all around the word and requires no bank. Bitcoin is electronic cash. It takes all the good aspects of Cash and makes them even better. Cash 2.0. </p>
            </div>
        </div><!-- /.panel-->
        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Want To Purchase Bitcoins </h3>

                <p> First before you buy bitcoins, you must understand the concept of wallets. </p>

                <P> Wallets store the private key's that you need to access a bitcoin address and spend your funds. One thing to note is that Bitcoin Wallets do not act like ones regular wallet. One's regular wallet contains someones money and if it is lost, the money is lost. A bitcoin wallet is different. A Bitcoin Wallet should be thought more of as a "keychain". As long as you have your private and public key, you can access and use your funds from any bitcoin wallet. </P>

                <h5> Types of Wallets </h5>

                <p> There are 3 major kinds of bitcoin wallet's we will be covering. Online Wallets, Software Wallets, and Hardware Wallets. We wil start with the wallet's which are the easiest to set up but offer the least security and go up to wallet's which are the hardest to set up and use but offer the most trust.

                <p> The first kind of wallet is a online wallet. This is the easiest wallet to use but offers the least security and trust. I would NOT reccomend anyone to store their bitcoin's on a online wallet. Some trade-offs of using an online wallet is that your private keys are stored on another server. This could lure hackers to steal people's private keys, and hence their money. For instance, back in 2014 hackers store approximately $460 million  from Mt.Gox, a populat Bitcoin exchange at the time. I personally only recommend  stroing bitcoins on a online wallet if you have a small quantity of them. </p>

                <p> Some examples of Online Wallets are: <a href="https://blockchain.info/" target="blank"> Blockchain.info</a>, <a href="https://www.coinbase.com/"" target="blank"> Coinbase </a>, <a href="https://greenaddress.it/en/" target="blank"> Green Address</a>, <a href="https://www.bitgo.com/" target="blank"> BitGo </a> </p>

                <p> The second kind of wallet is a software wallet. A software wallet is a wallet installed on your computer which you have control of. You know your private and public key. Software wallets are available for desktop platforms as well as mobile platforms. The reference client, or the standard client in which all other wallet platforms are based on is called Bitcoin Core. This is all well and dandy except the blockchain download. The current size of the bitcoin blackchain is more than 100GB in size. This is a real problem is you have limited storage space and limited bandwidth. Thankfully, most software clients are lightweight clients. This means they only download and communicate the pieces of information on the blockchain which matter to your bitcoin addresses and keys. Software wallets provide more security than web wallets but greater accessibility than offline wallets. However, one thing to note is that they are only as secure as the computer they are stored on since the keys are on the computer. Malware on your computer can comprise your private keys. Once you download the wallet software, it synchronizes with the network by downloading the blockchain. Once it is done, simply follow the on screen instructions. I believe Software wallets are the perfect mix of security and trust as well as usability and ease of use. </p>

                <p> Examples of Software Wallets: <a href="https://www.bitcoinarmory.com/" target="blank">Armory(requires full blockchain download)</a>, <a href="https://electrum.org/" target="blank"> Electrum </a>, <a href="https://www.exodus.io/" target="blank"> Exodus </a> </p>

                <p> The final type of wallet we will talk about is a hardware wallet. Hardware wallets are dedicated hardware that are built specifically to hold bitcoin's and keep it secure. They are slightly less user-friendly than online and software wallets, but they are more secure than software wallets and online wallets. They are great for storing large amounts of cryptocurrency and offer alot of control. One disadvantage is that hardware wallets are in extremely highd demand and are sold out often. Amazon is normally your best option to get one, however note that it may take a while to arrive due to demand. </p>

                <p> Examples of Hardware Wallets: <a href="https://www.ledgerwallet.com/" target="blank"> Ledger </a> , <a href="https://trezor.io/"> Trezor </a>, <a href="https://www.keepkey.com/" target="blank"> Keep Key </a> </p>

                <h5> How to buy Bitcoins? </h5>

                <p> The easiest way to buy bitcoin's is through an exchange such as <a href="https://www.coinbase.com/" target="blank"> Coinbase </a>. There are many exchanges out there competing for your business. Most exchanges will store digital and/or fiat currency for you, just like a regular bank account. I would recommend one to use exchanges to purchase bitcoin is you want to just dabble in bitcoin or engage in regular trading and speculation, don't care about your transactions being tracked, and don't care about going through a decently lengthy setup procedure involving proving your identity. </p>

                <p> It is mandatory in most countries to track transactions and have processes to check your identity as a exchange must meet the KYC (Know your customer) and anti-money laundering requirements. </p>

                <p> Some of the best exchanges </p>

                <p> <a href="https://www.coinbase.com/" target="blank"> Coinbase </a>. <br> Based out of San Fransisco, allows people to buy digital currency with British Pounds, Euros, USD. It is great for beginners because of its ease of use and has a great UI. All user wallets are insured. A few disadvantages is that fee's are not amazing and the customer support has been known to be lacking </p>

                <p> <a href="kraken.com" target="blank"> Kraken </a> Is an exchange optimised for more serious traders actively wanting to trade BTC and other cryptocurrencies. Kraken has a great service for a bank transfer deposit.  Deposit currencies include euros, US dollars, and KRW (Korean Won). It is super cheap to deposit, withdraw, and trade on Kraken. Daily volumes are always high, and an excellent fee transparency guarantees low commissions and that you get the cheapest coins. </p>



                <p> <a href="cex.io" target="blank"> Cex.io </a> Cex is a amazing exchange because of their diverse range of services. They now have over 700 000 users and accept Euro, US Dollar, and Russian Ruble. Wire transfer and SEPA payments are also accepted. CEX have a Level 2 PCI DSS data security clearance meaning that this site is extremely trustworthy with users data and money. </p>


            </div>
        </div><!-- /.panel-->
        <div id="X6" class="hidden content text-center">

                <h3> Explain Me Please I Love Podcasts </h3>

                <p> <a href="http://investlikethebest.libsyn.com/podcast/hash-power-ep-1-understanding-blockchains" target="blank"> Hash Power Episode 1- Understanding Blockchains </a> </p>

                <p> Non technical introduction to blockchains with thoughts from Naval Ravikant, Olaf Carlson-Wee, Fred Ehrsam and Ari Paul. </p>

                <h5> Talks about things such as: </h5>
                <p> • Permission vs Permission less network </p>
                <p> • Societal Structures</p>
                <p> • Scarcity </p>
                <p> • Alternative Tokens and Coins </p>
                <p> • Incentives </p>
                <p> • Mining Pools </p>
                <p> • Protocols </p>
                <p> And much more </p>
                <p> They are 2 other episodes in the Hash Power audio documentary. They are about investing in cryptocurrencies and funding, forking, and a creative future, respectively. </p>

        </div><!-- /.panel-->



     <div id="X7" class="hidden content text-center">

                <h3> Bitcoin FAQ </h3>

                <p> <b> Q</b>: Isn't bitcoin just a haven for criminals and illegal activity? </p>

                <p>  <b> A </b>: I won't deny that Bitcoin is a place for drug dealers and criminals. However, at the currently moment the best use for Bitcoin is to store value. Imagine Gold. Do you use Gold to buy your groceries? Do you use Gold to purchase your house? No. It gold a good long term store of value? Yes. Digital Gold 2.0 is a big deal </p>

                <p>  <b> Q </b>: Where can I spend Bitcoins? </p>

                <p> <b> A </b> : <a href="https://www.gyft.com/" target="blank">Gyft- Gift cards for hundreds of retailers </a> </p>

                <p> <a href="http://store.steampowered.com/" target="blank"> Steam </a>, <a href="https://www.humblebundle.com/" target="blank"> HumbleBundle </a>, <a href="https://www.greenmangaming.com/" target="blank"> GreenmanGaming </a> - Gaming </p>

                <p> <a href="https://spendabit.co/" target="blank"> Spendabit </a>, <a href="https://www.overstock.com/" target="blank"> Overstock </a>, <a href="https://global.rakuten.com/en/" target="blank"> Rakuten</a>, <a href="https://duosear.ch/" target="blank"> Duo </a>, - Retail shopping with all kinds of things you good dream of </p>

                <p> <a href="https://www.newegg.com/" target="blank"> NewEgg </a>, <a href="http://www.tigerdirect.com/" target="blank"> Tiger Direct </a>, <a href="http://www.dell.com/en-us/" target="blank"> Dell </a> -  Electronics. Mobile Devices, Computers, and such. </p>

                <p> <a href="https://www.expedia.com/" target="blank"> Expedia </a>, <a href="https://www.cheapair.com/" target="blank"> Cheapair </a>, <a href="http://www.lot.com/us/en/" target="blank"> Lot </a>, <a href="https://destinia.us/" target="blank"> Destinia </a>, <a href="https://www.abitsky.com/" target="blank"> Abitsky </a> - Book Hotels, Taxis, and Flights </p>

                <p> <a href="https://www.namecheap.com/" target="blank"> Namecheap </a> - buying domain names </p>

                <p> <a href="https://wikimediafoundation.org/wiki/Ways_to_Give#bitcoin" target="blank"> Wikipedia </a>, <a href="https://bitpay.com/520663/donate" target="blank"> BitPay </a>, <a href="https://www.amnesty.org/en/" target="blank"> Amnesty International</a>, <a href="https://www.aclu.org/" target="blank"> ACLU</a> - Charities </p>

                <p> <b> Q </b>: Is bitcoin mining profitable? </p>

                <p> <b> A </b>: Not really. The truth is bitcoin mining is dominated is by ASICS, or circuits dedicated to SHA-256 (mining bitcoin). Unless you can access specialised, high-powered machinery or free electricity, it is not worth it </p>


        </div><!-- /.panel-->

    </div>

     <div class="col"></div>
  </div>
    
  </div>  <!--/.main-->
  
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
  <script src="js/custom.js"></script>
    
</body>
</html>