<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Explain Me Please - Bitcoin</title>
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  
  <!--Custom Font-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
    <div class="nav horizontal-align center">
                    <div class="nav-item">
                        <h6> <a href="#"> Explain Me Please </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href="https://faatehim.github.io"> Made by Faateh</a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox" align="right">
                           <input class="typeahead" type="text" placeholder="I want to learn about......."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center" >Blockchain explained </h2>
             



          <div class="nav  horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
                 <a href="#" class="nav-item"onclick="showContent('#X2')"> |Person who loves videos|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X4')"> |Toddler|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X5')"> |Rational Skeptic
                 </a>
                 <a href="#" class="nav-item" onclick="showContent('#X6')"> |Wanderer|</a>
          </div>
        
    

      

    <div id="X1" class="hidden">
      <div class="content text-center">
         <h3> Explain Me Please I'm the Average Joe</h3>
         <p>Bitcoin was invented as a peer-to-peer system for online payments that does not require a trusted central authority. </p>
         <p> Since anything digital can be copied over and over again, the hard part about implementing a digital payment system is making sure that nobody spends the same money more than once. Traditionally, this is done by having a trusted central authority (like PayPal or Visa) that verifies all of the transactions. The core innovation that makes Bitcoin special is that it uses consensus in a massive peer-to-peer network to verify transactions. Whoever solves a really difficult and time consuming math problem gets to decide which transactions are verified. This person, called a miner, also gets a 12.5 BTC reward for using his computer power to help secure the system. This results in a system where payments are non-reversible, accounts cannot be frozen, and transaction fees are much lower.</p>
         <p> More advanced/technical resources => <a href="https://medium.com/@tessr/making-money-530d2bb2b8f7">Bitcoin Explained using Emoji's</a>, <a href="https://dealbook.nytimes.com/2014/01/21/why-bitcoin-matters/">Why Bitcoin Matter's</a>, <a href="https://qz.com/154877/by-reading-this-page-you-are-mining-bitcoins/"> By Reading this Article, You Are Mining Bitcoins</a>   </p>
      </div>
    </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Explain me please for curious soul</h3>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/t5JGQXCTe3c" frameborder="0" allowfullscreen></iframe>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/51aJ9PAohZU" frameborder="0" allowfullscreen></iframe>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/bBC-nXj3Ng4"" frameborder="0" allowfullscreen></iframe>
            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">
                <h3> Explain me please, I am a Nerd. </h3>
                <p> First of all, the best resource to understand bitcoin is the <a href="https://bitcoin.org/bitcoin.pdf">Whitepaper</a> by Satoshi Nakamoto.</p>
                <p> Another great resource is the <a href="https://bitcoin.org/en/developer-guide"> Bitcoin Developer Guide</a>. </p>
                <p> Another great resource is the book <a href="https://github.com/bitcoinbook/bitcoinbook"> Mastering Bitcoin </a>, a book for developers.</p>
            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
                <p> <a href="https://medium.freecodecamp.org/explain-bitcoin-like-im-five-73b4257ac833">Explain Bitcoin Like I'm Five</a>  </p>
            </div>
        </div><!-- /.panel-->
        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> <b> A few problems/weaknesses with Bitcoin </b> </h3>
                <p> 1. Scalability. <br> Currently Bitcoin can only process 3-7 transactions a second. A centralized service like Visa can handle 2,000 transactions. If Bitcoin wants to be bigger than services like Visa and Mastercard, it must improve </p>
                <p> 2. Privacy. Every bitcoin transaction is public and one's address can be attached with their identity. </p>
                <p> 3. Energy Consumption. Bitcoin's currency consensus protocol, Proof of Work relies on energy use. Many critics regard it as useful and unnsessecary </p>
                <p> 4. P+ Elipson Attack: good article explaining it => <a href="https://blockchainatberkeley.blog/understanding-crypto-economic-security-through-game-theory-526e810c7736">Understanding Crypto Economic Security though Game Theory</a>  </p>
            </div>
        </div><!-- /.panel-->
        <div id="X6" class="hidden">
            <div class="content text-center">
                <h3> Explain me please for wonderers </h3>
                <p> This is for those who are bored but their innerself urges them to do something </p>
                <p> This is going to be a kick ass section. tighten your belt </p>
            </div>
        </div><!-- /.panel-->
    
  </div>  <!--/.main-->
  
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
  <script src="js/custom.js"></script>
    
</body>
</html>