<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109509226-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-109509226-1');
    </script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Explain Me Please - Blockchain </title>
    <meta name="description" content="Blockchain Explained For Your Level">
    <meta property="og:title" content="Explain Me Please - Blockchain">
    <meta property="og:description" content="Blockchain Explained For Your Level">
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

</head>


<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=161243984474929';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<div class="nav content horizontal-align center">

    <div class="nav-item">
        <h6> <a href="https://explainmeplease.com/"> <b>Explain Me Please </b> </a> </h6>
    </div>

    <div class="nav-item ">
        <h6> <a href="/about"> <b> About </b> </a>  </h6>
    </div>

    <div class="nav-item">
        <div id="the-basics" class="sbox">
            <input class="typeahead" type="text" placeholder="I want to learn about..."
                   onkeydown="getSearchResult(this)">
        </div>
    </div>
</div>


<h2 class=" page-header text-center" > <b> Blockchain Explained </b> </h2>


<div class="nav content horizontal-align center">

    <a href="#" class="nav-item" onclick="showContent('#X4')"> |7 Year Old|</a>
    <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
    <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
    <a href="#" class="nav-item" onclick="showContent('#X2')"> |Video Lover|</a>
    <a href="#" class="nav-item" onclick="showContent('#X7')"> |FAQ|</a>
</div>

<div class="row">

    <div class="col"></div>

    <div class="col">

        <div id="X1" class="content text-center">
            <h3> Blockchain For The Average Joe </h3>

            <p> Historically, when people have needed to transact anything of value, they have relied on middlemen (banks, governments, etc) to ensure trust,
                reliability and security. Intermediaries maintain records and update them to make sure the process is secure. </p>
            <p> Intermediaries have been needed greatly when it comes to making a transaction of digital property. Digital property are just files
            and hence, are incredibly easy to reproduce. This is known as the double spending problem. The double spending problem prevented the
            transfer of scarce digital assets until 2008.</p>
            <p> In 2008, a person by the name of Satoshi Nakamoto built the first blockchain and its first application Bitcoin. Blockchain technology
                allows you to safely transfer a digital asset without the need for any middlemen or intermediaries. Bitcoin is used
                to facilitate the transfer of monetary value. You can learn more about Bitcoin here. </p>

            <h5> How does it work?</h5>

            <p> A blockchain is a distributed and decentralized ledger that maintains an updated record of ownership. Instead of having middlemen,
                a blockchain has a network of databases which are synchronized and public.</p>

            <p> When a transaction is carried out, it is placed in a block cryptographically protected with other transactions and sent out to the entire
                network. People called miners who have a high level of computing power now compete to validate the transaction by solving a long math problem. The first person to solve the problem validates the
                block and receive a reward.</p>

            <p> The next block of transactions is now timestamped and added to the previous blocks. The new block is linked to the the older blocks so that
                a chain is created.</p>

            <h5> What will be its impact?</h5>

            <p> Blockchains make the need for intermediaries obsolete. This has the benefit that hacks become much harder to pull off.
                If a malicious hacker wanted to change a block in a blockchain, they would have to hack that block and all the preceding
                blocks on the chain. </p>

            <p> Blockchain has many applications from finance, the Internet-of-Things, and payment to healthcare, digital identity,
                and voting. The potential is significant with many platforms and applications not yet been invented! </p>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Blockchain Explained For Your Level" data-url="http://explainmeplease.com/resources?q=Blockchain" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>


            <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=Blockchain" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

            <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>



        </div><!-- /.panel-->

        <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Blockchain For a Video Lover</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/93E_GzvpMA0" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Pl8OlkkwRpc" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_160oMzblY8" allowfullscreen></iframe>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Blockchain Explained For Your Level" data-url="http://explainmeplease.com/resources?q=Blockchain" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=Blockchain" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>
            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
            <div class="content text-center">
                <h3> Blockchain for a Nerd</h3>
                <p> A blockchain is a decentralized, public, distributed ledger that keeps a updated record of all transactions.</p>
                <p> Every block in a blockchain contains a record of recent transactions, a hash of the previous block, and the answer
                to a long math puzzle among other things.</p>
                <p> The most known application of a Blockchain is Bitcoin. You can learn more<a href="https://bitcoin.org/en/developer-documentation" target="blank" rel="noopener"> here</a>. </p>
                <p> You can learn more about Blockchain tech by actually building <a href="https://medium.com/crypto-currently/lets-build-the-tiniest-blockchain-e70965a248b" target="blank" rel="noopener"> one </a>.</p>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Blockchain Explained For Your Level" data-url="http://explainmeplease.com/resources?q=Blockchain" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=Blockchain" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>
            </div>
        </div><!-- /.panel-->

        <div id="X4" class="hidden">
            <div class="content text-center">
                <h3> Blockchain For A 7 Years Old </h3>
                <p> Let’s say you want to sell your iPad.
                    To sell your iPad, you will use platforms like eBay and Amazon which acts as an intermediate between you and the person to whom you want to sell.
                    The payment might be processed via a bank which will cost both parties money. </p>
                <p> Now because of blockchain technology,
                    you will be able to sell your smartphone to that person without actually involving a shop or any other bank in between.
                    That’s blockchain explained on a very basic level. </p>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Blockchain Explained For Your Level" data-url="http://explainmeplease.com/resources?q=Blockchain" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=Blockchain" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>
            </div>
        </div><!-- /.panel-->


        <div id="X7" class="hidden content text-center">
            <h3> Blockchain FAQ </h3>

            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Blockchain Explained For Your Level" data-url="http://explainmeplease.com/resources?q=Blockchain" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>

            <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=Bitcoin" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

            <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>



        </div><!-- /.panel-->

        <div id="X8" class="hidden">
            <div class="content text-center">
                <h3> Bitcoin for a Documentary Lover</h3>
                <ul>
                    <li> <a href="http://bitcoindoc.com/" target="blank" rel="noopener"> The Rise and Rise of Bitcoin</a> - fantastic primer on Bitcoin technology and the ecosystem. One will discover Bitcoins potential for empowering and liberating individuals all around the globe. </li>
                    <li> <a href="https://www.youtube.com/watch?v=tmxqlSevtkQ" target="blank" rel="noopener"> Banking on Bitcoin</a>- talks about Bitcoin's resilience, the Bitcoin community, and the impact of Bitcoin. </li>
                    <li> <a href="https://www.youtube.com/watch?v=2I6dXRK9oJo" target="blank" rel="noopener"> Bitcoin Gospel</a> - "This documentary investigates the history of Bitcoin, how it works, and what its future holds." </li>
                </ul>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Bitcoin Explained For Your Level" data-url="http://explainmeplease.com/resources?q=Bitcoin" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=Bitcoin" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>
            </div>
        </div><!-- /.panel-->
    </div>


    <div class="col"> </div>

</div>





<script src="js/jquery-1.11.1.min.js"> </script>
<script src="js/typeahead.bundle.js"> </script>
<script src="js/custom.js"> </script>

</body>
</html>