<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <html lang="en">
  <title>Explain Me Please - CRISPR</title>
  <meta name="description" content="Description of the page less than 150 characters">
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  <html dir="ltr">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">


</head>

<body>

    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=161243984474929';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="nav horizontal-align center">
                    <div class="nav-item">
                        <h6> <a href="/"> <b> Explain Me Please </b> </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href="/about"> <b> About </b> </a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox" align="right">
                           <input class="typeahead" type="text" placeholder="I want to learn about..."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center"> <b>  CRISPR Explained </b> </h2>
             



          <div class="nav content horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X4')"> |7 Year Old|</a>
           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
           <a href="#" class="nav-item" onclick="showContent('#X3')"> |Biologist|</a>
           <a href="#" class="nav-item" onclick="showContent('#X2')"> |Video Lover|</a>
           <a href="#" class="nav-item" onclick="showContent('#X5')"> |Podcast Lover|</a>
           <a href="#" class="nav-item" onclick="showContent('#X6')"> |FAQ|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class=" content text-center">
         <h3> CRISPR For The Average Joe</h3>

         <h5> Genetic Engineering </h5>

         <p> Humans have been engineering and modifying organisms since the beginning of time. However, we never really understood how one's physical characteristics worked until the discovery of Deoxyribonucleic acid or DNA. DNA is a molecule that guides the growth, development, function, and traits of any living organism. DNA is present in every cell and contains instructions when 4 nucleotides are paired. Changing the DNA or instructions means changing the being as well. </p>

         <p> When DNA was discovered, people immediately tried to tinker with it and change the genetics of humans. For example, in the 1990's to treat maternal infertility, babies were made to carry genetic information from 3 human beings. This made them the first humans to have 3 genetic parents. Enzymes used in laundry detergent and medicines such as insulin and human growth hormones are now manufactured in genetically modified cells, experimental genetically modified cell lines and genetically modified animals such as mice or zebrafish are being used for research purposes, and genetically modified crops have been commercialized. </p>

         <p> However, until a few years ago, gene editing was complicated, expensive, and time-consuming. This however changed with a revolutionary, game-changing technology: Clustered Regularly Interspaced Short Palindromic Repeats, also known as CRISPR. Let us see how game-changing this really is. </p>

         <h5> Discovery </h5>

         <p> Bacteriophages or phages for short are bacteria hunters. They are viruses that infect and replicate within a bacterium. How do phages do this you may ask? They do this by injecting their own genetic code into the bacteria and taking them over. The bacteria antibodies try to stop this invasion, but for the most part, fail. However, sometimes the bacterium succesfully defends itself. When the bacteria resists the invasion, it can now save a part of the virus's genetic code in a DNA archive called CRISPR (sounds familiar?). When the virus attacks again the bacteria makes an RNA copy of the virus's DNA and arms its biggest weapon, a protein named CAS-9. The protein scans the bacterium's inside for signs of the phage invader by comparing the bacterium's DNA to the sample from the archive. When Cas-9 finds a 100% perfect match, it activates and cut's out the virus's DNA. The virus is now useless and the bacterium is protected against the attack. One advantage of CRISPR is that it is incredibly precise, cutting the bacteriophage's DNA perfectly out. </p> 

         <p> Another incredibly important part of CRISPR is that the CAS-9 protein is programmable. You simply tell it which DNA you want to modify and put the system in a living organism. CRISPR also has the ability to edit live cells. CRISPR works on all kind of cells in all kinds of organisms </p>

         <h5> Potential </h5>

         <p> 1. Ending Diseases <br> CRISPR could end cancer in the near future. Cancer occurs when cells multiply at a rapid rate while staying undetected by the immune system. CRISPR could allow us to improve our immune system so that it could easily kill and eradicate Cancer. The first CRISPR trial on humans was approved in early 2016. </p>

         <p> 2. Ending Genetic Diseases <br> Some examples of genetic diseases are Color Blindness, Muscular dystrophy, Huntington's disease, and much more. Using CRISPR, we could change the genetic code of DNA, fixing the disease in the cell. </p>

         <p> 3. Creation of Designer Babies <br> The first babies with CRISPR used on them will most likely be used to get rid of a deadly genetic disease or disability. However, if it is very cheap and easy to make genetic modifications, why couldn't the baby be modified with traits such as super intelligence, long-lasting hair, high metabolism, etc. What will happen to babies which are not modified? Will they be discriminated against? </p>


         <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="CRISPR Explained For Your Level" data-url="http://explainmeplease.com/resources?q=CRISPR" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

         <div class="fb-like" data-href="http://explainmeplease.com/resources?q=CRISPR" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

    </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> CRISPR For a Video Lover</h3>
                 <iframe src="https://player.vimeo.com/video/169997836" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/2pp17E4E-O8" frameborder="0" allowfullscreen></iframe>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/MnYppmstxIs" frameborder="0" allowfullscreen></iframe>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="CRISPR Explained For Your Level" data-url="http://explainmeplease.com/resources?q=CRISPR" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like" data-href="http://explainmeplease.com/resources?q=CRISPR" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">
                <h3> CRISPR For a Biologist</h3>
                <h5> Resources for going deep </h5>

                <ul>
                    <li>
                        <a href="https://www.addgene.org/crispr/guide/" target="blank" rel="noopener">CRISPR/CAS9 Guide</a> - Advanced intro to CRISPR
                    </li>

                    <li>
                        <a href="https://genomebiology.biomedcentral.com/articles/10.1186/s13059-015-0823-x" target="blank" rel="noopener">Resources for the design of CRISPR gene editing experiments</a> "CRISPR-based approaches have quickly become a favored method to perturb genes to uncover their functions. Here, we review the key considerations in the design of genome editing experiments, and survey the tools and resources currently available to assist users of this technology."
                    </li>

                    <li>
                        <a href="https://academic.oup.com/femsyr/article/doi/10.1093/femsyr/fov004/536897/CRISPR-Cas9-a-molecular-Swiss-army-knife-for" target="blank" rel="noopener"> CRISPR/Cas9: a molecular Swiss army knife for simultaneous introduction of multiple genetic modifications in Saccharomyces cerevisiae  </a> - "The goal of the present study is to explore the use of CRISPR/Cas9 for standardized (multiplexed) construction of gene deletions, multipathway integrations and site-directed single-nucleotide mutagenesis. To this end, we present a web-based CRISPR tool to facilitate selection of suitable targets and to design the primers necessary for construction of plasmids that express specific gRNAs."
                    </li>

                  </ul>


                  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="CRISPR Explained For Your Level" data-url="http://explainmeplease.com/resources?q=CRISPR" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                  <div class="fb-like" data-href="http://explainmeplease.com/resources?q=CRISPR" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
              <h3> CRISPR For a 7 Year Old</h3>

                  <p>  Imagine two people Rahul and Miguel. Like you and I, they are both humans. However, they are different in their own ways. Rahul has glasses and brown hair. Miguel has a tan skin color and is color blind. Have you ever wondered how this was possible? What decides that Rahul has glasses and Miguel doesn't? Does every person have an instruction manual that tells which color their hair will be and what personality traits they will have?</p>

                  <p> The answer to that is yes. Every human has their own instruction manual and that instruction manual is called DNA. It tells what a persons eye color will be and many other traits. However, sometimes the instruction manual (DNA) has mistakes in it. Just like the fact Rahul is color blind and cannot see the color blue and purple properly. Wouldn't it be great if we had a tool that could help us change someone's instruction manual and remove the diseases, allergies, or disabilities one has? </p>

                 <p> Well, I am happy to say that technology has arrived and it is called CRISPR. </p>


                 <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="CRISPR Explained For Your Level" data-url="http://explainmeplease.com/resources?q=CRISPR" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                 <div class="fb-like" data-href="http://explainmeplease.com/resources?q=CRISPR" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
            </div>
        </div><!-- /.panel-->

        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> CRISPR For a Podcast Lover </h3>
                <iframe width="300" height="130" frameborder="0" scrolling="no" src="https://www.wnyc.org/widgets/ondemand_player/radiolab/#file=%2Faudio%2Fxspf%2F510201%2F"></iframe>

                <h5> Antibodies Part 1 </h5>

                <p> "Out drinking with a few biologists, Jad finds out about something called CRISPR. No, it’s not a robot or the latest dating app, it’s a method for genetic manipulation that is rewriting the way we change DNA. Scientists say they’ll someday be able to use CRISPR to fight cancer and maybe even bring animals back from the dead. </p>

                <p> Or, pretty much do whatever you want. Jad and Robert delve into how CRISPR does what it does, and consider whether we should be worried about a future full of flying pigs, or the simple fact that scientists have now used CRISPR to tweak the genes of human embryos." </p>


                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="CRISPR Explained For Your Level" data-url="http://explainmeplease.com/resources?q=CRISPR" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like" data-href="http://explainmeplease.com/resources?q=CRISPR" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

            </div>
        </div><!-- /.panel-->

        <div id="X6" class="hidden">
            <div class="content text-center">
                <h3> CRISPR FAQ </h3>

                  <p> <b> Q </b>: Are their any companies currently experimenting on CRISPR?</p>

                <p> <b> A </b>: Yes. Here are a few.  </p>

                <ul>
                    <li> <a href="http://www.editasmedicine.com/" target="blank" rel="noopener"> Editas Medicine</a> </li>
                    <li> <a href="https://www.bluebirdbio.com/" target="blank" rel="noopener"> Blue Bird Bio</a> </li>
                    <li> <a href="https://ovascience.com/" target="blank" rel="noopener"> Ova Science</a> </li>
                    <li> <a href="http://www.intelliatx.com/" target="blank" rel="noopener"> Intellia Therapeudics </a> </li>
                </ul>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="CRISPR Explained For Your Level" data-url="http://explainmeplease.com/resources?q=CRISPR" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like" data-href="http://explainmeplease.com/resources?q=CRISPR" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>


            </div>
        </div><!-- /.panel-->

    </div>

     <div class="col"></div>
  </div>
    
  </div>  <!--/.main-->
  
      <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>

  <script src="js/custom.js"></script>
    
</body>
</html>