<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Explain Me Please - CRISPR</title>
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  
  <!--Custom Font-->
<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
    <div class="nav horizontal-align center">
                    <div class="nav-item">
                        <h6> <a href="#"> Explain Me Please </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href="https://faatehim.github.io"> Made by Faateh</a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox" align="right">
                           <input class="typeahead" type="text" placeholder="I want to learn about......."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center" >CRISPR  explained </h2>
             



          <div class="nav  horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
                 <a href="#" class="nav-item"onclick="showContent('#X2')"> |Person who loves videos|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X4')"> |Toddler|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X5')"> |Podcast Lover|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class="hidden content text-center">
         <h3> Explain Me Please I'm the Average Joe</h3>

         <h3> Genetic Engineering </h3>

         <p> Humans have been engineering and modifying organisms since the beginning of time. Humans never really understood how one's physical characteristics worked until the discovery of Deoxyribonucleic acid, or DNA. DNA is a molecule that guides the growth, development, function, and traits of any living organism. DNA is present in every cell and contains instuctions when 4 nucleutides are paired. Changing the DNA or instructions means changing the being as well </p>

         <p> When DNA was discovered, people immediately tried to tinker with it and change the genetics of humans. For example, in the 1990's to treat maternal infertility, babies were made to carry genetic information from 3 human beings. This made them the first humans to have 3 genetic parents. Enzymes used in laundry detergent and medicines such as insulin and human growth hormone are now manufactured in GM cells, experimental GM cell lines and GM animals such as mice or zebrafish are being used for research purposes, and genetically modified crops have been commercialized. </p>

         <p> However until a few years ago, gene editing was complicated, expensive, and time consuming. This however changed with a revolutionary, game chaning technology: Clustered Regularly Interspaced Short Palindromic Repeats, also known as CRISPR. Let us see how game changing this really is..... </p>

         <h3> Discovery </h3>

         <p> Bacteriaphages or phages are bacteria hunters. They are viruses that infect and replicate within a bacterium. How do phages do this you may ask? They do this by injecting their own genetic code into the bacteria and taking them over. The resistance from the bacteria antibodies try to stop this invasion, but for the most part fail. However, sometimes the bacterium succesfully defends itself. When the bacteria resists the invasion, it can now save a part of the virus's genetic code in a DNA archive called CRISPR (sounds familiar?). When the virus attacks again the bacteria makes a RNA copy of the virus's DNA and arms its biggest weapon, a protein named CAS-9. The protein scans the bacteriums inside for signs of the phage invader by comparing the Bacterium's DNA to the sample from the archive. When Cas-9 finds a 100% perfect match, it activates and cut's out the virus's DNA. The virus is now useless and the bacterium is protect against the attack. A pro of CRISPR is that it is incredibly precise, cutting the bacteriaphage's DNA perfectly out. </p> 

         <p> Another incredibly important part of CRISPR is that the CAS-9 protein is programmable. You simply tell it which DNA you want to modify and put the system in a living organism. CRISPR also has the ability to edit live cells. CRISPR also works on all kind of cells in all kinds of organisms </p>

         <h3> Potential </h3>

         <p> 1. Ending Diseases <br> CRISPR could end cancer in the near future. Cancer occurs when cells multiply at a rapid rate while staying undetected by the immune system. CRISPR could allow us to improve our immune system so that it could easily kill and eradicate Cancer. The first CRISPR trial on humans was approved in early 2016 </p>

         <p> 2. Ending Genetic Diseases <br> Some examples of Genetic Diseases are Color Blindess, Muscular dystrophy, Huntington's disease, and much more. Using CRISPR, we could change the genetic code of DNA, fixing the disease in the sell </p>

         <p> 3. Creation of Designer Babbies <br> The first babies with CRISPR used on them will most likely be used to get rid of a deadly genetic disease or disability. However, if it is very cheap and easy to make genetic modification, why couldn't the baby be modified with traits such as super intelligence, long lasting hair, high metabolism, etc. What will happen to babies which are not modified? Will they be discriminted against? </p>


         <p> More advanced/technical resources => <a href="https://medium.com/@tessr/making-money-530d2bb2b8f7">Bitcoin Explained using Emoji's</a>, <a href="https://dealbook.nytimes.com/2014/01/21/why-bitcoin-matters/">Why Bitcoin Matter's</a>, <a href="https://qz.com/154877/by-reading-this-page-you-are-mining-bitcoins/"> By Reading this Article, You Are Mining Bitcoins</a>   </p>
    </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Explain me please for curious soul</h3>
                 <iframe src="https://player.vimeo.com/video/169997836" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/2pp17E4E-O8" frameborder="0" allowfullscreen></iframe>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/MnYppmstxIs" frameborder="0" allowfullscreen></iframe>

            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">
                <h3> Explain me please, I am a Nerd. </h3>
                <h5> Resources for going deep </h5>

                <ul>
                    <li>
                        <a href="https://www.newyorker.com/magazine/2015/11/16/the-gene-hackers"> The Gene Hackers</a> - introduces Feng Zhang, one of many scientists credited with pioneering the use of CRISPR to edit genomes, outlines current and future applications of the technology, acknowledges how CRISPR’s story is only starting, and helps us understand how genome editing has evolved over time. Perhaps most interestingly, Michael provides a perspective on the patent dispute over CRISPR not seen in many other publications and even quotes both the Doudna camp and the Zhang camp saying they plan to give away the IP to researchers. 
                    </li>

                    <li>
                        <a href="https://www.technologyreview.com/s/535661/engineering-the-perfect-baby/"> Engineering the Perfect baby </a> - sounds the alarm about CRISPR’s potential to lead to designer babies a la Gattaca. Regalado dives deeper into germ-line editing than any other writer I’ve discovered, and draws particular attention to those rebuking the scientific party line and experimenting with it like George Church and another Boston startup, OvaScience. He draws attention to future applications of CRISPR such as human enhancements like, “making your bones so hard they’ll break a surgical drill.” 
                    </li>

                    <li>
                        <a href="https://www.wired.com/2015/07/crispr-dna-editing-2/"> The Genesis Engine </a> - Amy Maxmen of WIRED writes the best historical record of CRISPR’s origin I’ve come across, starting with the 1975 Asilomar Conference on the ethics of genome editing
                    </li>

                  </ul>

            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
              <h3> Explain Me Please I'm a Toddler </h3>
                 <p>CRISPR is a tool scientists are using to edit human genomes. A genome is the genetic material of an organism. A genome can be thought as the instruction manual for a human. It tells what a persons eye color will be, hair color, etc. Sometimes the instruction manual (genome) contains mistakes or makes a person have a certain disease, disability, or allergy. CRISPR can help change the genome and make it so they do not have that disease/illness they have. </p>
            </div>
        </div><!-- /.panel-->
        
        <div id="X5" class="hidden">
            <div class="content text-center">
                <iframe width="300" height="130" frameborder="0" scrolling="no" src="https://www.wnyc.org/widgets/ondemand_player/radiolab/#file=%2Faudio%2Fxspf%2F510201%2F"></iframe>

                <h5> Antibodies Part 1 </h5>

                <p> Jad and Robert delve into how CRISPR does what it does, and consider whether we should be worried about a future full of flying pigs, or the simple fact that scientists have now used CRISPR to tweak the genes of human embryos. </p>

            </div>
        </div><!-- /.panel-->

    </div>

     <div class="col"></div>
  </div>
    
  </div>  <!--/.main-->
  
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
  <script src="js/custom.js"></script>
    
</body>
</html>