<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Explain Me Please - Bitcoin</title>
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  
  <!--Custom Font-->
<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
    <div class="nav horizontal-align center">
                    <div class="nav-item">
                        <h6> <a href="#"> Explain Me Please </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href="https://faatehim.github.io"> Made by Faateh</a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox" align="right">
                           <input class="typeahead" type="text" placeholder="I want to learn about......."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center" >CRISPR  explained </h2>
             



          <div class="nav  horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
                 <a href="#" class="nav-item"onclick="showContent('#X2')"> |Person who loves videos|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X4')"> |Toddler|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X5')"> |Rational Skeptic|
                 </a>
                 <a href="#" class="nav-item" onclick="showContent('#X6')"> |Podcast Lover|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class="hidden content text-center">
         <h3> Explain Me Please I'm the Average Joe</h3>

         <h3> Genetic Engineering </h3>

         <p> Humans have been engineering and modifying organisms since the beginning of time. Humans never really understood how one's physical characteristics worked until the discovery of Deoxyribonucleic acid, or DNA. DNA is a molecule that guides the growth, development, function, and traits of any living organism. DNA is present in every cell and contains instuctions when 4 nucleutides are paired. Changing the DNA or instructions means changing the being as well </p>

         <p> When DNA was discovered, people immediately tried to tinker with it and change the genetics of humans. For example, in the 1990's to treat maternal infertility, babies were made to carry genetic information from 3 human beings. This made them the first humans to have 3 genetic parents. Enzymes used in laundry detergent and medicines such as insulin and human growth hormone are now manufactured in GM cells, experimental GM cell lines and GM animals such as mice or zebrafish are being used for research purposes, and genetically modified crops have been commercialized. </p>

         <p> However until a few years ago, gene editing was complicated, expensive, and time consuming. This however changed with a revolutionary, game chaning technology: Clustered Regularly Interspaced Short Palindromic Repeats, also known as CRISPR. Let us see how game changing this really is..... </p>

         <h3> Discovery </h3>

         <p> Bacteriaphages or phages are bacteria hunters. They are viruses that infect and replicate within a bacterium. How do phages do this you may ask? They do this by injecting their own genetic code into the bacteria and taking them over. The resistance from the bacteria antibodies try to stop this invasion, but for the most part fail. However, sometimes the bacterium succesfully defends itself. When the bacteria resists the invasion, it can now save a part of the virus's genetic code in a DNA archive called CRISPR (sounds familiar?). When the virus attacks again the bacteria makes a RNA copy of the virus's DNA and arms its biggest weapon, a protein named CAS-9. The protein scans the bacteriums inside for signs of the phage invader by comparing the Bacterium's DNA to the sample from the archive. When Cas-9 finds a 100% perfect match, it activates and cut's out the virus's DNA. The virus is now useless and the bacterium is protect against the attack. 

         <p> More advanced/technical resources => <a href="https://medium.com/@tessr/making-money-530d2bb2b8f7">Bitcoin Explained using Emoji's</a>, <a href="https://dealbook.nytimes.com/2014/01/21/why-bitcoin-matters/">Why Bitcoin Matter's</a>, <a href="https://qz.com/154877/by-reading-this-page-you-are-mining-bitcoins/"> By Reading this Article, You Are Mining Bitcoins</a>   </p>
    </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Explain me please for curious soul</h3>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/t5JGQXCTe3c" frameborder="0" allowfullscreen></iframe>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/51aJ9PAohZU" frameborder="0" allowfullscreen></iframe>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/bBC-nXj3Ng4"" frameborder="0" allowfullscreen></iframe>
            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">
                <h3> Explain me please, I am a Nerd. </h3>
                <p> First of all, whenever a new protocol or cryptocurrency comes out in the blockchain space, the founders normally write what is called a whitepaper, or a document which outlines the problem, solution, product, implementation, and more. You should always look for a whitepaper when new technology in the blockchain space is released so you can quickly get up to speed. Here is Bitcoin's <a href="https://bitcoin.org/bitcoin.pdf">Whitepaper</a> by Satoshi Nakamoto.</p>
                <p> If you are a developer, a great resource to start developing on the Bitcoin blockchain is the <a href="https://bitcoin.org/en/developer-documentation"> Bitcoin Developer Documentation</a>. </p>
                <p> Best Book -  <a href="https://github.com/bitcoinbook/bitcoinbook"> Mastering Bitcoin </a>, Bible of Bitcoin</p>
                <p> Here are Balaji Srinivasan (CEO of 21.co, a16z board member, blockchain advocate) answering question about his favorite books (both technical/non technical) <p>

                <p> 1a) Some of my favorite technical books: </p>

                <p>   <a href="https://www.amazon.com/Princeton-Companion-Mathematics-Timothy-Gowers/dp/0691118809"> - The Princeton Companion to Mathematics</a> </p>

                <p>    <a href="https://www.amazon.com/Princeton-Companion-Applied-Mathematics/dp/0691150397">- The Princeton Companion to Applied Mathematics</a> </p>

                <p> <a href="https://www.amazon.com/Nature-Mathematical-Modeling-Neil-Gershenfeld/dp/0521570956">- The Nature of Mathematical Modeling</a> </p>

           <p>  I love books like those because they are both surveys and yet quite deep. I also love the entire Schaum's series of books, which I think illustrate a completely different approach to pedagogy: try the problem and fail/succeed, and then learn what you need to learn. Here is one of those: <a href="https://www.amazon.com/Schaums-Outline-Probability-Statistics-4th/dp/007179557X">Schaum's Outline of Probability and Statistics</a> </p>
            

            <p> 1b) Some of my favorite nontechnical books:  </p>

           <p>  <a href="https://www.amazon.com/Seeing-like-State-Certain-Condition/dp/0300078153">- Seeing Like a State</a>  </p>
           <p>  <a href="https://www.amazon.com/Reputation-Power-Organizational-Pharmaceutical-International/dp/0691141800">- Reputation and Power </a> </p>

           <p> In general, I like nontechnical books with a lot of factual/historical data. I read them with an eye towards ultimately mapping them to some kind of technological implementation. </p> 

            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
              <h3> Explain Me Please I'm a Toddler </h3>
                 <p>CRISPR is a tool scientists are using to edit human genomes. A genome is the genetic material of an organism. A genome can be thought as the instruction manual for a human. It tells what a persons eye color will be, hair color, etc. Sometimes the instruction manual (genome) contains mistakes or makes a person have a certain disease, disability, or allergy. CRISPR can help change the genome and make it so they do not have that disease/illness they have. </p>
            </div>
        </div><!-- /.panel-->
        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> <b> A few problems/weaknesses with Bitcoin </b> </h3>
                <p> 1. Scalability. <br> Currently Bitcoin can only process 3-7 transactions a second. A centralized service like Visa can handle 2,000 transactions. If Bitcoin wants to be bigger than services like Visa and Mastercard, it must improve </p>
                <p> 2. Privacy. Every bitcoin transaction is public and one's address can be attached with their identity. </p>
                <p> 3. Energy Consumption. Bitcoin's currency consensus protocol, Proof of Work relies on energy use. Many critics regard it as useful and unnsessecary </p>
                <p> 4. P+ Elipson Attack: good article explaining it => <a href="https://blockchainatberkeley.blog/understanding-crypto-economic-security-through-game-theory-526e810c7736">Understanding Crypto Economic Security though Game Theory</a>  </p>
            </div>
        </div><!-- /.panel-->
        <div id="X6" class="hidden">
            <div class="content text-center">
                <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/5776063/height/90/width/700/theme/custom/autonext/no/thumbnail/yes/autoplay/no/preload/no/no_addthis/no/direction/forward/render-playlist/no/custom-color/87A93A/" height="90" width="700" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                <p> Non technical intro to blockchains with thoughts from Naval Ravikant, Olaf Carlson-Wee, Fred Ehrsam and Ari Paul.
                <p> Talks about things such as: <p>
                <p> Permission vs Permission less network </p>
                <p> Societal Structures</p>
                <p> Scarcity </p>
                <p> Alternative Tokens and Coins </p>
                <p> Nonces </p>

            </div>
        </div><!-- /.panel-->

    </div>

     <div class="col"></div>
  </div>
    
  </div>  <!--/.main-->
  
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
  <script src="js/custom.js"></script>
    
</body>
</html>