<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <html lang="en">
    <title>Explain Me Please - Ethereum</title>
    <meta name="description" content="Description of the page less than 150 characters">
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <link href="css/styles.css" rel="stylesheet">
    <html dir="ltr">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">


</head>

<body>
    <div class="nav horizontal-align content center">
                    <div class="nav-item">
                        <h6> <a href="/"> <b> Explain Me Please </b> </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href=""> <b> About </b> </a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox" align="right">
                           <input class="typeahead" type="text" placeholder="I want to learn about......."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center"> <b>  Ethereum Explained </b> </h2>
             



          <div class="nav content horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
                 <a href="#" class="nav-item"onclick="showContent('#X2')"> |Video Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X4')"> |5 Year Old|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X5')"> |Investor|
                 </a>
                 <a href="#" class="nav-item" onclick="showContent('#X6')"> |Podcast Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X7')"> |FAQ|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class="hidden content text-center">
         <h3> Explain Me Please I'm The Average Joe</h3>

         <p> Ethereum is a decentralized application and smart contract platform on the blockchain. Before we dive into what all of that means, you must understand what a blockchain is.</p>

         <h5> Blockchain Explanation </h5>

         <p> <a href="/resources?q=Bitcoin" target="blank"> * knowledge about bitcoin would be useful*</a> </p>

         <p> A blockchain is a distributed, immutable, public ledger. </p>

         <p> Distributed meaning there is no master copy by one person. They are many synchronized versions of the blockchain on nodes(computers) all around the world. </p>

         <p> Immutable meaning that once a transaction is present in the blockchain for an hour or two, altering or erasing it becomes impossible. This is because it requires a lot of computational power to undo the transaction. </p>

         <p> A ledger is simply a list of transaction in a blockchain </p>

         <p> To understand how several people are able to keep their copies of the database in sync with everyone else, imagine there are 100 nodes in a network. Everyone is sitting with an empty file folder and an empty page in front of them. Whenever anyone does something important in the network, like transferring money, they announce it to everyone in the network.

        <p> Everyone makes a note of the announcement on their pages until the page is filled. When it does, everyone has to seal the contents of the page by solving a mathematical puzzle. The first person who solves the mathematical puzzle gets the right to copy their version of notes and send them to everybody elses folders as the official version. However, everyone is obliged to decline their version if they find mistakes in it. Solving the puzzle can not ensure everybody took the same notes in same order. Only the fastest solver gets to decide which notes are to be included on his page and which have to wait further. He still is unable to forge the notes, because everybody can check after him. </p>

        <p> Once the page is sealed, the page is added to the file folder, a everyone brings out a new page and the process cycles infinitely. As time passes, these pages (blocks) that contain important records are added to the folder thus forming the database.</p>

        <h5> Uses of Blockchain </h5>

        <p> Bitcoin uses the blockchain to store records of financial transactions, acting like a bank to guarantee security and trust. However, Ethereum does not allow for business logic and people started to realized Bitcoin was restrictive in programming money and building applications onto the blockchain. Building basic applications like a decentralized crowdfunding app required months of work even for seasoned programmers. There needed to be better solution. </p>

        <h5> How does Ethereum work </h5>

        <p> Just like any other lockchain, Ethereum requires many nodes running a software on their computer to guarantee security and trust. Every node participating in the Ethereum protocol runs a software  on their computer called the Ethereum Virtual Machine(EVM). The EVM is a system which understands and executes all the software written in an specific Ethereum programming language - Solidity (similar to Javascript) and Serpent (similar to Python). The applications or software run by the EVM are called "smart contracts". </p>

        <p> This is what makes Ethereum a world computer, but a expensive and slow one. It has about the same processing power. 90's smartphone. You may be asking, if that is true, what would anyone use Ethereum? Well, we will talk about that. </p>

        <p> To run any smart contract, you must pay a price so no unlimited loops can be run which crashes the system and suck all the resources. You must pay this price in Ethers, the native cryptocurrency to Ethereum. Ether is to Ethereum as Bitcoin(currency) is to Bitcoin(system). We will talk about this in more detail later.  </p>

        <p> In Ethereum, they are 2 types of accounts or users. </p>

        <p> 1. Externally Owned Accounts => accounts owned by some external entity (say a person or company), can send and receive Ether's. </p>

        <p> 2. Contract Accounts => smart contracts, can send and receive Ethers just like externally owner accounts but can also run a predefined computer program to perform various actions when triggered. </p>

        <h5> Example </h5>

        <p> Lets say Mike and Annie want to place a bet on a soccer game. Mike is a huge fan of the team Real Madrid and Annie is a ardent supporter of FC Barcelona(rivals). There is a Real Madrid vs FC Barcelona game coming up in a few days. They agree to a bet with the conditions that the losing team's fan will have to pay the other $500. They are many ways to go about this, with each having its pros and cons </p>

        <p> 1. Trusting each other <br> This could work as both Mike and Annie are friends and the amount they are betting is not too much. However what if they were strangers who did not trust each other? What if this was a large amount of money and they did not want any cheating happening? </p>

        <p> 2. Get help from a friend they both knew and trusted <br> This could work as they would both give their $500 to their friend, lets call him Johnny. After the match had ended, Johnny could check the score and give the $1000 to the winner. However, this method has similar shortcomings to the first method of both Mike and Annie trusting each other. If they were strangers, how would this work? Is there another cheap easy way which guarantees the winner will get $1000 after the match? </p> 

        <p> 3. Signing a Legal Agreement <br> Sure they could go to court and both sign an agreement that defines all the terms of the bet and the consequence for the loser. However this process would be incredibly time consuming and expensive. It would not be worth it to go through this hassle. </p>


        <p> Creating a smart contract on the Ethereum blockchain could help save Annie and Mike's day in this case. They could write code that accepts $500 from both of their Ethereum accounts, and then the next day uses an API to check the match score and transfer the Ether worth of $1000 to the winner. Win-win situation. A smart contract is immutable because it is in the blockchain. No one can do any editing or altering. </p>

        <h5> How does this work on the blockchain? </h5>

        <p> Well when a smart contract is executed, all the information and conditions present in the smart contract are recorded onto a transaction which (hopefully) eventually makes it on to a block and onto the blockchain. </p>

        <p> They are 3 main kind of transactions you can find on the Ethereum blockchain </p>

        <p> 1. Transfer of Ether from one account to another account <br> These are Bitcoin-like transactions. An example would be sending 1 Ether to your landlord for your rent payment. At a high level this transaction cointains: a timestamp, your ether address which has your funds in it, your landlord's address, and the amount you want to send.</p>

        <p> 2. Transfer of ether from a user to no one <br> These transactions are used to create a smart contract. Lets say Annie and Mike are smart and decided to create a smart contract with the conditions of the bet. The transaction will contain a timestamp and the senders ether account. However there will be 2 major difference between this contact creating transation and the transaction to your landlord. First of all, this transaction will have no recipient. The second difference is that this transaction has a special "data field". This "data field" is what makes Ethereum different from other digital currencies. This data field is used to record the creation and execution of smart contracts. So, this data field will contain the code that lists the conditions and consequences of the bet. </p>

        <p> 3. Tranfers of ether from externally owned account to a smart contact <br> Whenever a account wants to execute a smart contract, they must make a transaction to the smart contract and put the instructions for the execution in the data field so the contract can know what to trigger. </p>

        <p> Whenever any of the above 3 transaction happen, the whole network writes in down in their folder. However, additionally each node will execute the smart contract code in their EVM. </p>


        <h5> Smart Contract Price? </h5>

        <p> Every smart contract must pay a certain price for the EVM to execute it. This price is paid to the node that spent its memory, storage, computation and electricity to execute and verify the smart contract. </p>

        <p> To calculate the prices of smart contracts, every statement has an assigned cost to it.  The unit in which the cost is defined is called Gas. Eventually, gas is converted to ether using an exchange rate. Whenever you execute a smart contract, you have to define the maximum Gas to be consumed. The execution will stop either when the execution is completed or when the gas limit is reached. This is done to avoid infinite loops in smart contracts, preventing the program getting stuck executing a set of transactions and eventually crashing. </p>

        <p> The concept of Gas solves the problem of infinite loops. It doesn't make sense for a node to crash and be stuck executing for infinity. </p>

        <h5> Conclusion </h5>

        <p> That is Ethereum. It allows for the first time in history, money to be programmable. Places where they are traditionally multiple third parties which make the process slow are now not necessary. With Ethereum, a piece of code could automatically transfer the home ownership to the buyer and the funds to the seller after a deal is agreed upon without needing a third party to execute on their behalf. </p>

        <p> The potential for this is incredible! Think of the numerous applications that act as a third party to connect you with others based on some set logic. Some examples are Uber and AirBnb. Many of the centralized systems we use today could be built in a decentralized manner on Ethereum. With Ethereum you can make these transactions trustless which opens up an entire world of decentralized applications. The future is endless. </p>



    </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Love Videos</h3>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/WSN5BaCzsbo" frameborder="0" allowfullscreen></iframe>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/w9WLo33KfCY" frameborder="0" allowfullscreen></iframe>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/TDGq4aeevgY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">
                <h3> Explain Me Please I Am A Nerd </h3> 

                <p> This list of resources was taken from a <a href="https://docs.google.com/document/d/1ejYCWkHQIRInXB4VifoHevom8CWVJ69zFVfP4J2fjSU/edit#" target="blank"> Google Doc </a> released by the <a href="https://blockchain.berkeley.edu/" target="blank"> Blockchain at Berkeley </a> organization </p>

                <h5>Design:</h5>
                    <ul>
                        <li>
                            <a href="https://github.com/ethereum/wiki/wiki/Design-Rationale" target="blank">Design Rationale</a> - The purpose of this document will be to detail all of the finer potentially nonobvious or in some cases controversial decisions that were made in the process of building the Ethereum protocol, as well as showing the risks involved in both our approach and possible alternatives. ― 36 minute read
                        </li>
                        <li>
                            <a href="https://ethereum.github.io/yellowpaper/paper.pdf" target="blank">Yellow Paper</a> - The technical Bible of Ethereum, a formal definition of the protocol, very math-heavy; a rigorous discussion of Ethereum’s "design, implementation issues, the opportunities it provides and the future hurdles" envisaged ― 54 minute read
                        </li>
                        <li>
                            <a href="https://cdn.hackaday.io/files/10879465447136/Mauve%20Paper%20Vitalik.pdf" target="blank">Mauve paper</a> - Technical discussion of in-development scaling features of Ethereum, namely, a combination of proof-of-stake and sharding ― 27 minute read
                        </li>
                        <li>
                            <a href="https://eprint.iacr.org/2013/881.pdf" target="blank">GHOST Protocol</a> - Seminal 2013 paper that introduced the GHOST Protocol, of which Ethereum implements a simplified version, and which combats the security and centralization issues of fast block time blockchains ― 56 minute read
                        </li>
                    </ul>

                    <h5>Economics:</h5>
                    <ul>
                        <li>
                            <a href="https://blog.ethereum.org/2016/07/27/inflation-transaction-fees-cryptocurrency-monetary-policy/" target="blank">Monetary Policy</a> - Analysis of cryptocurrency monetary policy possibilities to best meet objectives of network security, aligned incentives, and supply predictability ― 15 minute read
                        </li>
                        <li>
                            <a href="https://github.com/LeastAuthority/ethereum-analyses/blob/master/GasEcon.md" target="blank">Gas Economics</a> - Explores the question, "does [the Gas Economics model] provide the right incentives and protections to miners, verifiers, clients, and the system as a whole?" Also explores "the ways in which Ethereum programs can be composed, with an eye towards managing the incentives and risks experienced by the cooperating/competing program authors." ― 55 minute read
                        </li>
                    </ul>

                    <h5>Cryptography:</h5>
                    <ul>
                        <li>
                            <a href="https://github.com/ethereum/wiki/wiki/Ethash" target="blank">ETHash</a> - Formal specification for Ethereum’s GPU-friendly, ASIC-resistant proof-of-work hashing algorithm ― 8 minute read
                        </li>
                        <li>
                            <a href="https://github.com/LeastAuthority/ethereum-analyses/blob/master/PoW.md" target="blank">Analysis of ETHash</a> - Thorough analysis, including overview and analyses of its design, feasibility, and randomizing functions ― 37 minute read
                        </li>
                        <li>
                            <a href="https://blog.ethereum.org/2015/11/15/merkling-in-ethereum/" target="blank">Why Patricia Trees</a> - Quick introduction to how merkle trees work, their present and future value for blockchains, and basic reasoning behind Ethereum’s "Merkle Patricia Tree" ― 9 minute read
                        </p>
                        </li>
                        <li>
                            <a href="https://github.com/ethereum/wiki/wiki/Patricia-Tree" target="blank">Patricia Trees</a> - Detailed specification ― 8 minute read
                        </li>
                    </ul>

                    <h5>Privacy:</h5>
                    <ul>
                        <li>
                            <a href="https://blog.ethereum.org/2016/01/15/privacy-on-the-blockchain/" target="blank">Privacy on the Blockchain</a> - Discussion of how to increase privacy on the blockchain (cryptographically secure obfuscation, secure multi-party computation, low-tech approaches), and the future of privacy ― 20 minute read
                        </li>

                    </ul>

                    <h5>Security:</h5>
                    <ul>
                        <li>
                            <a href="https://eprint.iacr.org/2016/633.pdf" target="blank">Oyente paper </a> - Proposal for fixing security flaws in Ethereum smart contracts ― 52 minute read
                        </li>

                    </ul>

                    <h5>Proof of Stake:</h5>
                    <ul>
                        <li>
                            <a href="https://github.com/ethereum/wiki/wiki/Proof-of-Stake-FAQ" target="blank">Proof of Stake FAQ</a> -  Guided FAQ, best read in order ― 42 minute read
                        </li>
                        <li>
                            <a href="https://medium.com/@VitalikButerin/minimal-slashing-conditions-20f0b500fc6c" target="blank">Minimal Slashing Conditions</a> - Explanation of slashing conditions that allow Casper, the protocol for Ethereum proof-of-stake, to achieve economic finality ― 14 minute read
                        </li>
                        <li>
                            <a href="https://blog.ethereum.org/2015/12/28/understanding-serenity-part-2-casper/" target="blank">Understanding Casper</a> - Explanation of Casper PoS Economics ― 20 minute read
                        </li>
                        <li>
                            <a href="https://medium.com/@AFDudley/casper-as-i-understand-it-c0ceb6c6e49a" target="blank">Casper, as I understand It </a> - 3rd party analysis  of Casper compared to Tendermint consensus ― 5 minute read
                        </li>
                    </ul>

                    <h5>Sharding:</h5>
                    <ul>
                        <li>
                            <a href="https://github.com/ethereum/wiki/wiki/Sharding-FAQ" target="blank">Sharding FAQ</a> - Another guided FAQ, best read in order ― 52 minute read
                        </li>
                        <li>
                            <a href="http://vitalik.ca/files/basic_sharding.html" target="blank">Sharding v1 Proposal</a> - Ethereum sharding specification ― 8 minute read
                        </li>
                    </ul>

                    <h5>Other:</h5>
                    <ul>
                        <li>
                            <a href="https://github.com/ethereum/wiki/wiki/Problems" target="blank">Challenges</a> - Explanation of the abundant technological, consensus-related, and economic problems the blockchain community has yet to solve ― 60 minute read
                        </li>
                    </ul>
 


              </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I'm 5 Years Old </h3>

                <p> Think of Ethereum as a network of computers which can preserve a promise or a contract and no one can go back on their promise because it is available to everyone and it can not be changed. </p>

               <p> Suppose your dad promise to get you an iPad on your birthday. However, when your birthday comes around you get an iPod instead. Won't you be disappointed? What if you remind him of his promise and he says he does not remember. Of course, you are going to forgive your dad but... what if you take his promise and put it on Ethereum as contract. Now your mom and yourself and everyone in the world will know. There is no way he could forget it as this contract lives everywhere on the Ethereum network.  </p>

             <p> In order to pay them, you must do it in Ether's. </p>
            </div>
        </div><!-- /.panel-->
        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I'm A Investor </h3>

                <h5> Tokens </h5>

                <p> Cryptocurrencies could be discribed as native tokens. Native tokens are intrinsic to a blockchain and are part of of the incentive scheme to encourage people to validate transactions. Non-Native TOkens are created on top of programmable blockhains such as Ethereum and NEO. </p>

                <p> Creating a Non-Native Token on Ethereum is just as easy as writing 25 lines of code for a  decentralied kickstarter app. These ease of use and simplicity is what has made Ethereum the most widely used protocol for token created. </p>


                <h5> ICO </h5>

                <p> The public can acquire a token by either mining, purchasing in a secondary market such as an exchange or p2p, or by participating in an ICO, or a Initial Coin Offering. ICO's and similar to IPOS (Initial Public Offerings). However instead of buying shares, investors but tokens of a cryptocurenncy. Another main difference is that shares give shareholders or investors equity in a company, while tokens do not. Shares are also regulated heavely by the US, while tokens are not. This is however changing by the minute and varies from country to country. For the most part, the ICO scene is the wild west. </p>

                <p> One can paint ICOs as a venture capital and crowdfunding love child. ICO's allow tech enthusiast and blockchain nerds a easy way to invest in new, cutting edge blockchain projects and protocol. ICO's allow blockchain projects to raise early stage capital without going through the traditional venture capital firms and capitalists </p>

                <p> The major downside of ICO's, as mentioned before, is the lack of regulation and number of scams in the market rightnow. Many blockchain startups ICO raise without having a project out there or even a whitepaper or plan for what they are going to do. There is al lot of hype around projects and there is no regulation to stop blockchain startup owners from taking their tokens and running off with them. </p>

                <h5> Non-Native Tokens </h5>

                <p> Protocols like Ethereum have made it easy for developers and entrepreneurs to build tokens, ICO's have allowed regular people to invest in those digital tokens and reap the rewards if it is sucessfull. No regulations plus + Easy of creating and investing has resulted in a huge ICO boom with tens of startups doing <a href="https://topicolist.com/?ref=producthunt" target="blank"> ICO's weekly </a> It can however be clearly seen in the non native token space the exuberance of investors. Investors of all kinds are throwing money at worthless tokens which have alot of hype behind them simply in the hopes that one of them will be a hit and they will make their profit </p>

                <p> However there is one question. What do you get when you invest/but a non-native token, say on Ethereum </p>

                <p> There are 8 kinds of non-native tokens: </p>

                <p> Protocol Tokens </p>

                <p> Tokens inssued for a future service and accessing the platform/services. Most tokens are issued when a platform is more than an idea. </p>

                <p> Asset-backed tokens: where the token represents a claim on a underlying asset, and to cliam the underylgina sset one sends the token to the issuer (kinda like fiat money). </p>

                <p> Token issued under the promise of participation in future revenues, even though there is no legal obligation for companies to honor such promises. Participation percentages and timing are always left undefined. </p>

                <p> Token said to present equity in the issuing company, giving token holders votes as shareholders, participation in future dividends, and supposedly ownership of the company as well. </p>

                <p> Tokens issued under the promise of appreciation backed by promises from the company  to repurchase and destroy tokens once sustainable revenue materializes. </p>

                <p> Tokens with no value proposition. </p>

                <p> Scams </p>

                <p> Protocol Tokens and gift card tokens are certainly valuable. If the blockchain becomes popular and people find use in it, the token's value will rise accordingly. </p>

                <p> Asset-backed tokens are also useful. It is easier to transfer ownership of a commodity such as gold in digital format rather than in a physical format. </p>

                <p> Tokens that offer revenue participation are also valuable. In a ideal situation, the conditions would be defined prior to the ICO and the distribution of profit would be hard coded in a smart contract. </p>

                <p> Equity tokens are similar to participation tokens with the explicit mention of voting rights.  Equity tokens have been mostly avoided by issuers to reduce the probability of regulators classifying tokens as regulated securities. Marketing of equity tokens is generally misleading, because simply calling a token a share does not make the token a share. A token that isn’t backed by equity documentation cannot be equity. Equity placements require documentation filings with a regulator and the publication of a prospectus for investors. Furthermore, even if equity documentation were there, it is not clear equity tokens could legally represent shares (laws are country dependent and subject to change). </p>

                <p> The last 3 kinds of tokens have little to no intrinsic value. Dissapointingly, investors still throw money at them, failing to differentiate a great project and great value. A project might even have a great idea and team but does not have a token distribution method that is a good value of investors. Some tokens are just terrible overall, yet still get some funding.... </p>

            </div>
        </div><!-- /.panel-->
        <div id="X6" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Am A Podcast Lover </h3>
                <audio data-theme="night" data-src="https://changelog.com/podcast/222/embed" src="https://cdn.changelog.com/uploads/podcast/222/the-changelog-222.mp3" preload="none" class="changelog-episode" controls></audio><script async src="//cdn.changelog.com/embed.js"></script>

                <h3> Ethereum and Cryptocurrency with Gavin Wood </h3>

                <p> "Gavin Wood is Founder of Ethereum, creator of the Solidity contract language, and Founder of Ethcore — the company that created Parity, an open source Ethereum client." </p>

                <h5> Talks about thing such as.... </h5>

                <ul>

                        <li>  DAO </li>
                        <li>  Future of digital currency </li>
                        <li>  Ethereum's beginnings </li>
                        <li>  Possibilites on Ethereum </li>
                        <li>  Ethereum Virtual Machine </li>
                </ul>

                <p> And much more... </p>


            </div>
        </div><!-- /.panel-->


        <div id="X7" class="hidden">
            <div class="content text-center">
                <h3> Ethereum FAQ </h3>
                <p> <b> Q </b>: What is the best place to have discussions about Ethereum </p>

                <p> <b> A </b>: For developers, there is the <a href="https://www.reddit.com/r/ethdev/" target="blank"> Reddit subreddit Eth Dev </a> and various channels at <a href="https://gitter.im/ethereum" target="blank"> Ethereum Gitter</a>, along with <a href="https://ethereum.stackexchange.com/" target="blank"> Ethereum Stack Overflow.</a> </p>


                <p> <b> Q </b>: What are some current Dapps I can use? </p>

                <p style="text-align: left"> <b> A </b>: <a href="https://golem.network/" target="blank"> Golem</a> is a computation network based on the Ethereum blockchain. With Golem, one can buy or sell computational power, which means you can complete a computationally-heavy task on someone elses computer or sell your computing power that you are not using to someone to wants it. Previously buying/selling computational power was a pain and took days. Golem innovates on this as it only takes minutes and all computations take place on the blockchain and do not touch the host's system. </p>

                <p> <a href="https://gnosis.pm/" target="blank"> Gnosis</a>/<a href="https://augur.net/" target="blank">Augur</a> are 2 of the most important and successful decentralised apps on the Ethereum blockchain. They are both prediction markets. Prediction markets allow users to buy and sell shares in the outcome of a event (ex=> Will the Patriots win the Super Bowl? Yes or No) and be rewarded with REP tokens if they predicted the outcome correctly. The data can be used by individuals or organizations to make more accurate decisions thanks to the "wisdom of the crowd” – a large group’s aggregated answers to questions involving quantity estimation, general world knowledge, and spatial reasoning has generally been found to be as good as, and often better than, the answer given by any of the individuals within the group. </p>
 
                <p> <a href="https://www.uport.me/" target="blank">Uport</a> One of the most biggest problems on the internet today is the centralization of ones data. When you accept the terms and conditions of that app you just downloaded you aren’t just getting free stuff, you are becoming the product that company capitalizes from in the future when it comes time to monetize.
                Another problem is that in today’s internet, our identity and reputation is scattered across numerous services.  If something bad were to happen to AliBaba's datacenter, your hard-earned reputation as a merchant would be destroyed forever. 
                Solutions like uPort could help to securely store your encrypted information on Ethereum’s blockchain, allowing you to share it whenever and with whoever you want to. </p>

                <p> <b> Q </b>: What are the main differences between Ethereum and Bitcoin? </p>

                <p> <b> A </b>: Bitcoin is decentralized digital money. Ethereum is programmable digital money. </p>

                <ul>
                    <li> Block time: Bitcoin has a block completion time of about 10 minutes while Ethereum has a much shorter one of 12 seconds. This means that a Bitcoin transaction is confirmed in 10 minutes while a Ethereum one is confirmed in 12 seconds.  </li>

                    <li> Ethereum is Turing-Complete while Bitcoin is not. This means that on the Ethereum blockchain, one can write smart contracts that can pretty much solve any reasonable computational problem. </li>

                    <li> Hash Functions: Bitcoin uses the FBI developed hash function of SHA-256, while Ethereum uses its own hash function called Ethash. The main difference between these 2 hash functions is that Ethash is ASIC Resistant. This means that there will be no significant advantage mining on dedicated hardware (ASIC), as compared to a CPU implimentation (regular computer). ASIC-resistant hash functions require a lot of memory, which is hard to implement on a ASIC. ASIC-resistant hash functions level the playing field, allowing regular people to mine profitably. </li>
                </ul>

                <p> <b> Q </b>: If Ethereum operates as a slow clunky computer, what are the developers doing to address that, if anything?</p>

                <p> <b> A </b>: Developers are currently working on numerous solutions to the problem that is the slowness of Ethereum. Some of the current solutions proposed are the Raiden Network, Sharding, Plasma, and much more.  </p>

                <p> Some good articles on currency scaling problems and solutions are: <a href="https://coinjoker.com/raiden-explained/"> Raiden Explained</a>, <a href="https://hackernoon.com/blockchains-dont-scale-not-today-at-least-but-there-s-hope-2cb43946551a"> Blockchains don’t scale. Not today, at least. But there’s hope</a>, <a href="https://medium.com/chain-cloud-company-blog/plasma-in-10-minutes-c856da94e339"> Plasma in 10 Minutes</a> and <a href="https://github.com/ethereum/wiki/wiki/Sharding-FAQ"> Sharding FAQ</a> </p>

                <p> <b> Q </b>: How can I learn to develop smart contracts?</p>

                <p> <b> A </b>: Some tutorials: <a href="https://medium.com/@ConsenSys/a-101-noob-intro-to-programming-smart-contracts-on-ethereum-695d15c1dab4"> A 101 Noob Intro to Programming Smart Contracts on Ethereum </a>, <a href="https://www.ethereum.org/greeter"> Create a hello world contract in Ethereum</a>, and <a href="https://blog.zeppelin.solutions/the-hitchhikers-guide-to-smart-contracts-in-ethereum-848f08001f05"> The hitchhikers guide to smart contracts in Ethereum.</a> </p>





            </div>
        </div><!-- /.panel-->


    </div>

     <div class="col"></div>
  </div>
    
  </div>  <!--/.main-->
  
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
  <script src="js/custom.js"></script>
    
</body>
</html>