<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Explain Me Please</title>
	<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
	<link href="css/styles.css" rel="stylesheet">
</head>


<body>
      <div class="row">
         <div class="col">
            <div class="title">
			           <div class="nav">
				            <h1 class="nav-logo" align="left" >Explain Me Please</h1>
				            <a class="nav-item" href="#" align="left">Homepage</a>
				            <a class="nav-item" href="#" align="left"> Made by Faateh</a>
		   			   </div>
		    </div>
         </div>

	  

            <div class="col">
                 <div id="the-basics" class="sbox" align="right">
                 <input class="typeahead" type="text" placeholder="I want to learn about......."
                 onkeydown="getSearchResult(this)">
            </div>


	  </div>

	    </div>

		    <div>
				<h2 class="page-header" style="text-align: center"> Explaining Complex Topics to Different Users <br> and their Preference of Learning </h2>
			</div>

		<div class="row">

            <div class="col">


            </div>

            <div class="col">
           	

            </div>

        </div>


		
	
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>

	<script src="js/custom.js"></script>
		
</body>
</html>