<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<html lang="en">
	<title>Explain Me Please</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
	<link href="css/styles.css" rel="stylesheet">
	<html dir="ltr">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">




</head>




<body>

    <div class="nav content horizontal-align center">
        
        <div class="nav-item">
            		<h6> <a href="/"> <b>Explain Me Please </b> </a> </h6>
        </div>

         <div class="nav-item ">
            	 <h6> <a href="/about"> <b> About </b> </a>  </h6>

        </div>

           

        <div class="nav-item">
            
            <div id="the-basics" class="sbox" align="right">
	            
	            <input class="typeahead" type="text" placeholder="I want to learn about..."
	                 onkeydown="getSearchResult(this)">
			</div>
	    </div>
	</div>

    
    <section id="header" class="container center">
        <div>
            
		    <h2 class="page-header content text-center">
		       <b>   Curated Content Crafted For Your Taste.  </b> </h2>


	    </div>
    </section>

	<section id="description" class="container content center">
	      <div>
	        <div class="row">
	          <div class="col">
	             <h4 class="text-center">
	              <a href="resources?q=Bitcoin">  Bitcoin </h4> </a> 
	            <p class="content">Bitcoin is an online currency which can be sent and received by anyone in the world, relying on computers to control the transfer and creation of money without human intervention, which results in low costs, no government corruption, and super-fast transfer. <br> <a href="resources?q=Bitcoin"> Learn More! </a> </p>
	          </div>
	          <div class="col">
	            <h4 class="text-center"> 
	             <a href="resources?q=Ethereum">  Ethereum  </a> </h4>
	            <p class="content"> "Think of Ethereum as a network of computers which can preserve a promise or a contract and no one can go back on their promise because it is available to everyone and it can not be changed." <br> <a href="resources?q=Ethereum"> Learn More! </a>  </p>
	          </div>
	        </div>
	      </div>
    </section>


    <section id="description" class="container center">
	      <div>
	        <div class="row">
	          <div class="col">
	            <h4 class="text-center">
	             <a href="resources?q=CRISPR">  CRISPR </a> </h4>
	            <p class="content"> CRISPR is a revolutionary new technology which allows humans to edit human gene's effectively and cheaply. CRISPR may soon help us end genetic diseases and defects. It may also lead to a wave of "designer babies".  <br> <a href="resources?q=CRISPR"> Learn More! </a> </p>
	          </div>
	          <div class="col">
	            <h4 class="text-center">
	            <a href="resources?q=AI">  Artificial Intelligence  </a> </h4>
	            <p class="content">"Artificial Intelligence is being used to make our lives easier, more productive, and longer.  It will not be uncommon to see machines performing roles occupied by humans such as cab drivers, delivery man, etc. Who knows, maybe one day human doctors will become irrelevant!" <br> <a href="resources?q=AI"> Learn More! </a> </p>
	          </div>
	        </div>
	      </div>
    </section>

    <section id="description" class="container center">
	      <div>
	        <div class="row">
	          <div class="col">
	            <h4 class="text-center"> 
	            <a href="resources?q=Yemen">  Yemen Civil War </a> </h4>
	            <p class="content">"As an American you may think that the US has zero to no influence on the Yemen Civil War. However, you may be <strong> surprised</strong>. Maybe even <b> horrified</b>." <br> <a href="resources?q=Yemen"> Learn More! </a></p>
	          </div>

	          <div class="col">
	            <h4 class="text-center"> More...</h4>
	            <p class="content"> We currently only have 5 section available. We are working on more topics. If you have any suggestions or want to contribute, <a href="mailto:feedback@explainmeplease.com">get in touch</a>. </p>
	          </div>
	        </div>
	      </div>
    </section>



		
	
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>

	<script src="js/custom.js"></script>
		
</body>
</html>