<!DOCTYPE html>
<html lang="en" dir="ltr">

		<head>

			    <!-- Global site tag (gtag.js) - Google Analytics -->
			    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109509226-1"></script>
				<script>
				  window.dataLayer = window.dataLayer || [];
				  function gtag(){dataLayer.push(arguments);}
				  gtag('js', new Date());

				  gtag('config', 'UA-109509226-1');
				</script>

			    <script async defer src="https://buttons.github.io/buttons.js"></script>

				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<meta http-equiv="x-ua-compatible" content="ie=edge">
				<title>Explain Me Please</title>
				<meta name="description" content="Curated Content For Your Taste - Bitcoin, Ethereum, CRISPR, AI, and more. The Wikipedia Killer.">
				<meta property="og:title" content="Explain Me Please">
			    <meta property="og:description" content="Curated Content For Your Taste - Bitcoin, Ethereum, CRISPR, AI, and more. The Wikipedia Killer.">
				<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
				<link href="css/styles.css" rel="stylesheet">
				<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

		</head>


		<body>
				<div id="fb-root"></div>
						<script>(function(d, s, id) {
					    var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
					    js = d.createElement(s); js.id = id;
						js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=161243984474929';
						fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
						</script>

					    
			    <div class="nav content horizontal-align center">

						<div class="nav-item">
						        <h6> <a href="https://explainmeplease.com/"> <b>Explain Me Please </b> </a> </h6>
					    </div>

						<div class="nav-item ">
						        <h6> <a href="/about"> <b> About </b> </a>  </h6>
					    </div>

						           
					    <div class="nav-item">
						      <div id="the-basics" class="sbox">
							       <input class="typeahead" type="text" placeholder="I want to learn about..."
							       onkeydown="getSearchResult(this)">
		            		 </div>
		                </div>
		        </div>



		    
		        <section id="header" class="container center content">
				    <div>
						<h2 class="page-header text-center"> <b> Complex Topics Explained For Your Level and Experience </b> </h2>
					</div>

				</section>

			    <section class="container content center">
			            <div>
			                    <div class="row">
			                            <div class="col">
			                                    <h4 class="text-center"><a href="resources?q=Bitcoin">  Bitcoin </a> </h4> 
			             						<p class="content">Bitcoin is an online currency which can be sent and received by anyone in the world, relying on computers to control the transfer and creation of money without human intervention, which results in low costs, no government corruption, and super-fast transfer. <br> <a href="resources?q=Bitcoin"> Learn More! </a> </p>
			          					</div>
			         					<div class="col">
										        <h4 class="text-center"> <a href="resources?q=Ethereum">  Ethereum  </a> </h4>
										        <p class="content"> "Think of Ethereum as a network of computers which can preserve a promise or a contract and no one can go back on their promise because it is available to everyone and it can not be changed." <br> <a href="resources?q=Ethereum"> Learn More! </a>  </p>
			                            </div>
			                    </div>
			            </div>
		        </section>


		        <section class="container center">
			            <div>
			                    <div class="row">
			                            <div class="col">
			                                    <h4 class="text-center"><a href="resources?q=CRISPR">  CRISPR </a> </h4>
			            						<p class="content"> CRISPR is a revolutionary new technology which allows humans to edit human gene's effectively and cheaply. CRISPR may soon help us end genetic diseases and defects. It may also lead to a wave of "designer babies".  <br> <a href="resources?q=CRISPR"> Learn More! </a> </p>
			          					</div>
			          					<div class="col">
			            						<h4 class="text-center"><a href="resources?q=AI">  Artificial Intelligence  </a> </h4>
			            						<p class="content">"Artificial Intelligence is being used to make our lives easier, more productive, and longer.  It will not be uncommon to see machines performing roles occupied by humans such as cab drivers, delivery man, etc. Who knows, maybe one day human doctors will become irrelevant!" <br> <a href="resources?q=AI"> Learn More! </a> </p>
			          					</div>
			                    </div>
			            </div>
		        </section>

		        <section class="container center">
			            <div>
			                    <div class="row">
			                            <div class="col">
			            						<h4 class="text-center"><a href="resources?q=Yemen">  Yemen Civil War </a> </h4>
			            						<p class="content">"As an American you may think that the US has zero to no influence on the Yemen Civil War. However, you may be <strong> surprised</strong>. Maybe even <b> horrified</b>." <br> <a href="resources?q=Yemen"> Learn More! </a></p>
			          					</div>

			          					<div class="col">
			            						<h4 class="text-center"><a href="resources?q=QuantumComputing"> Quantum Computing </a> </h4>
			            						<p class="content"> Quantum computers use certain phenomenas from quantum mechanics to perform operations on data exponentially faster than regular computers.</p>
			          					</div>
			        			</div>
			      		</div>
		        </section>


		    <section class="container center">
			      	<div>
			        		<div class="row">
			          				<div class="col">
			            					<h4 class="text-center"> More... </h4>
			            					<p class="content"> <a href="resources?q=UniversalBasicIncome"> Universal Basic Income </a>,  <a href="resources?q=NetNeutrality"> Net Neutrality</a>, and <a href="resources?q=Ripple"> Ripple</a> <br> We are currently working on more topics. We would love contributers! <a href="https://github.com/faatehim/xplain/"> Github Repository </a> </p>
			          				</div>
			        		</div>
			        </div>
		    </section>


		    <div class="text-center social container center">
				    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Curated Content Crafted For Your Taste" data-url="http://explainmeplease.com/" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br> 
		    </div>


		    <div class="text-center social container center">
		           <div class="fb-like" data-href="http://explainmeplease.com/" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
		    </div>

		    <div class="text-center github container center">
				<a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>
			</div>



		    <script src="js/jquery-1.11.1.min.js"></script>
		    <script src="js/typeahead.bundle.js"></script>
			<script src="js/custom.js"></script>
				
		</body>
</html>