<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Explain Me Please</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span></span> Explain Me Please</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">

			<div class="profile-usertitle">
				<div class="profile-usertitle-name">please begin learning</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>

        <div id="the-basics" class="sbox" align="center">
            <input class="typeahead" type="text" placeholder="Search..."
              onkeydown="getSearchResult(this)">
        </div>
        <div class="divider"></div>
        <div>

		    <ul class="nav menu">
			    <li> <a href="#" onclick="showContent('#X1')"> first grader</a></li>
                <li> <a href="#" onclick="showContent('#X2')"> Curious soul</a></li>
                <li> <a href="#" onclick="showContent('#X3')"> Expert type</a></li>
                <li> <a href="#" onclick="showContent('#X4')"> Love pictures/videos</a></li>
                <li> <a href="#" onclick="showContent('#X5')"> Humour </a></li>
                <li> <a href="#" onclick="showContent('#X6')"> Wanderer</a></li>
		    </ul>
		</div>
	</div><!--/.sidebar-->
		
	<div id='contentmain' class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header" style="text-align: center">Explain me please </h2>
			</div>
		</div><!--/.row-->

		<div id="X1" class="row hidden" align="center">
		  <div class="col-lg-12 col-lg-offset-3">
		     <h3> Explain me please for first graders</h3>
		     <p>This section is dedicated to explaining a topic to elementary level mind set </p>
		     <p> That does not necessarily means for someone in elementary school</p>
          </div>
        </div><!-- /.panel-->

        <div id="X2" class="row hidden" align="center">
            <div class="col-lg-12 col-lg-offset-3">
                <h3> Explain me please for curious soul</h3>
                <p>This section is dedicated to explaining a topic to a curious mind who want to get to the bottom of it but may not nessarily have the prior knowledge </p>
                <p> That does not necessarily means for someone who is just curious</p>
            </div>
        </div><!-- /.panel-->

        <div id="X3" class="row hidden" align="center">
            <div class="col-lg-12 col-lg-offset-3">
                <h3> Explain me please for experts </h3>
                <p>This section is dedicated to explaining someone who consider himself an expert already </p>
                <p> Oh boy this is not going to be easy</p>
            </div>
        </div><!-- /.panel-->
        <div id="X4" class="row hidden" align="center">
            <div class="col-lg-12 col-lg-offset-3">
                <h3> Explain me please for those who love pictures and videos </h3>
                <p>This section is dedicated to explaining to utube and instagram types </p>
                <p> That does not mean they cannot read</p>
            </div>
        </div><!-- /.panel-->

        <div id="X5" class="row hidden" align="center">
            <div class="col-lg-12 col-lg-offset-3">
                <h3> Explain me please for humour lovers </h3>
                <p>No pun intended </p>
                <p> hope everyone will be able to enjoy this</p>
            </div>
        </div><!-- /.panel-->

        <div id="X6" class="row hidden" align="center">
            <div class="col-lg-12 col-lg-offset-3">
                <h3> Explain me please for wonderers </h3>
                <p> This is for those who are bored but their innerself urges them to do something </p>
                <p> This is going to be a kick ass section. tighten your belt </p>
            </div>
        </div><!-- /.panel-->

		
		<div class="row">
			<div class="col-md-6">
				
			
			</div><!--/.col-->
			
			
			<div class="col-md-6">
				
			</div><!--/.col-->
        </div><!--/.row-->
	</div>	<!--/.main-->
	
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>

	<script src="js/custom.js"></script>
		
</body>
</html>