<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<html lang="en">
	<title>Explain Me Please</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
	<link href="css/styles.css" rel="stylesheet">
	<html dir="ltr">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">




</head>


<body>

			           <div class="nav content horizontal-align center">
				            <div class="nav-item">
				            		<h6> <a href="/"> <b>Explain Me Please </b> </a> </h6>
				            </div>

				            <div class="nav-item ">
				            	 <h6> <a href=""> <b> About </b> </a>  </h6>

				            </div>

				            <div class="nav-item">
				            	<div id="the-basics" class="sbox" align="right">
					                 <input class="typeahead" type="text" placeholder="I want to learn about......."
					                 onkeydown="getSearchResult(this)">
            				    </div>
            				</div>
            		 </div>
             
            	




			
          <section id="header" class="container center content">
		    <div>
				<h2 class="page-header text-center">
				 <b>  💡 Curated Content Crafted For Your Taste. 🚀 </b> </h2>
			</div>
		  </section>

		<section id="description" class="container content center">
		      <div>
		        <div class="row">
		          <div class="col">
		             <h4 class="text-center">
		              <a href="resources?q=Bitcoin"> 💰 Bitcoin </h4> </a> 
		            <p class="content">All you have to do is drop Wing into your project, and everything will be styled automatically. There is a minimal amount of classes to learn.</p>
		          </div>
		          <div class="col">
		            <h4 class="text-center"> 
		             <a href="resources?q=Ethereum"> 💻 Ethereum  </a> </h4>
		            <p class="content"> "With Ethereum, a piece of code could <b> automatically </b> transfer the home ownership to the buyer and the funds to the seller after a deal is agreed upon without needing a <b> third party </b> to execute on their behalf......." </p>
		          </div>
		        </div>
		      </div>
        </section>


        <section id="description" class="container center">
		      <div>
		        <div class="row">
		          <div class="col">
		            <h4 class="text-center">
		             <a href="resources?q=CRISPR"> 💊 CRISPR </a> </h4>
		            <p class="content">"However until a few years ago, gene editing was complicated, expensive, and time consuming. This however changed with a  <b> revolutionary </b>,  <b> game changing </b> technology: Clustered Regularly Interspaced Short Palindromic Repeats, also known as CRISPR....."</p>
		          </div>
		          <div class="col">
		            <h4 class="text-center">
		            <a href="resources?q=AI"> 🤖 Artificial Intelligence  </a> </h4>
		            <p class="content">Wing comes packed with features, including styling for most elements, a grid, and some components, all in just <strong>5kb.</strong></p>
		          </div>
		        </div>
		      </div>
        </section>

        <section id="description" class="container center">
		      <div>
		        <div class="row">
		          <div class="col">
		            <h4 class="text-center"> 
		            <a href="resources?q=Yemen"> 💀 Yemeni Civil War </a> </h4>
		            <p class="content">"As an American you may think that the Yemen Civil War has zero to none impact on your real life. However, you maybe <strong> surprised</strong>. Maybe even <b> horrified </b> ......"</p>
		          </div>

		          <div class="col">
		            <h4 class="text-center"></h4>
		            <p class="content"></p>
		          </div>
		        </div>
		      </div>
        </section>



		
	
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>

	<script src="js/custom.js"></script>
		
</body>
</html>