<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<html lang="en">
	<title>Explain Me Please</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
	<link href="css/styles.css" rel="stylesheet">
	<html dir="ltr">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">



</head>


<body>

			           <div class="nav horizontal-align center">
				            <div class="nav-item">
				            		<h6> <a href="#"> <b>Explain Me Please </b> </a> </h6>
				            </div>

				            <div class="nav-item">
				            	 <h6> <a href="https://faatehim.github.io"><b> Made by Faateh Mohammad </b></a>  </h6>

				            </div>

				            <div class="nav-item">
				            	<div id="the-basics" class="sbox" align="right">
					                 <input class="typeahead" type="text" placeholder="I want to learn about......."
					                 onkeydown="getSearchResult(this)">
            				    </div>
            				</div>
            		 </div>
             
            	




			
          <section id="header" class="container center">
		    <div>
				<h2 class="page-header text-center">
				 <b>  💡 Information Suited For Your Level. 🚀 </b> </h2>
			</div>
		  </section>

		<section id="description" class="container center">
		      <div>
		        <div class="row">
		          <div class="col">
		             <h4 class="text-center">
		              <b> 💰 Bitcoin  </b> </h4> 
		            <p class="content">All you have to do is drop Wing into your project, and everything will be styled automatically. There is a minimal amount of classes to learn.</p>
		          </div>
		          <div class="col">
		            <h4 class="text-center"> 
		             <b> 💻 Ethereum  </b> </h4>
		            <p class="content">Wing comes packed with features, including styling for most elements, a grid, and some components, all in just <strong>5kb.</strong></p>
		          </div>
		        </div>
		      </div>
        </section>


        <section id="description" class="container center">
		      <div>
		        <div class="row">
		          <div class="col">
		            <h4 class="text-center">
		             <b> 💊 CRISPR </b> </h4>
		            <p class="content">All you have to do is drop Wing into your project, and everything will be styled automatically. There is a minimal amount of classes to learn.</p>
		          </div>
		          <div class="col">
		            <h4 class="text-center"> <b>  🤖 Artificial Intelligence </b> </h4>
		            <p class="content">Wing comes packed with features, including styling for most elements, a grid, and some components, all in just <strong>5kb.</strong></p>
		          </div>
		        </div>
		      </div>
        </section>

        <section id="description" class="container center">
		      <div>
		        <div class="row">
		          <div class="col">
		            <h4 class="text-center"> <b> 💀 Yemeni Civil War </b> </h4>
		            <p class="content">All you have to do is drop Wing into your project, and everything will be styled automatically. There is a minimal amount of classes to learn.</p>
		          </div>

		          <div class="col">
		            <h4 class="text-center"></h4>
		            <p class="content"></p>
		          </div>
		        </div>
		      </div>
        </section>



		
	
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>

	<script src="js/custom.js"></script>
		
</body>
</html>