<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109509226-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109509226-1');
</script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Explain Me Please - Net Neutrality</title>
  <meta name="description" content="Net Neutrality Explained For Your Level">
  <meta property="og:title" content="Explain Me Please - Net Neutrality">
  <meta property="og:description" content="Net Neutrality Explained For Your Level">
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

</head>

<body>

    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=161243984474929';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="nav horizontal-align center">
                    <div class="nav-item">
                        <h6> <a href="/"> <b> Explain Me Please </b> </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href="/about"> <b> About </b> </a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox">
                           <input class="typeahead" type="text" placeholder="I want to learn about..."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center"> <b> Net Neutrality Explained </b> </h2>
             



          <div class="nav content horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X4')"> |7 Year Old|</a>
           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
           <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
           <a href="#" class="nav-item" onclick="showContent('#X2')"> |Video Lover|</a>
           <a href="#" class="nav-item" onclick="showContent('#X5')"> |Podcast Lover|</a>
           <a href="#" class="nav-item" onclick="showContent('#X6')"> |FAQ|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class=" content text-center">
         <h3> Net Neutrality For The Average Joe</h3>

         <p>  Net Neutrality has been a highly talked about and controversial topic in the news. However, despite seeming like a complex topic, it is based on a basic principle. This principle is that all content on the internet should be treated equally. </p>

         <p> Without any Net Neutrality laws or regulations in place, your Internet Service Provider would be allowed to slow down your access to certain websites or services or force you to fork up money to access them. They could also just outright block whatever services or websites they wanted.</p>

         <p> Life without Net Neutrality is a real thing. A famous <a href="https://twitter.com/RoKhanna/status/923701871092441088/" target="blank" rel="noopener"> tweet </a> from an American politician shows a page from Meo, an Internet Service Provider in Portugal. It offers various different packages made up of applications, websites, and services that are not provided in the standard plan. If you want access to messaging, you must pay up 4.99 euros per month to gain access to Whatsapp, Skype, Facetime, and a few more services. However, if you would like to use music apps, you must also add a different plan which also costs 4.99 a month... </p>

         <p> In many countries around the world, this is not a massive problem as there is a high amount of competition. The network is open and third-party service providers can access the network and offer their own unique services to people.</p>

         <p> However, in the US, this competition is nonexistent. 61% of American’s have access to only one service provider. 16% have access to two service providers and just 2% have access to three or more providers. This means that for 61% of Americans if one ISP begins violating Net Neutrality and slowing down/blocking access to different websites and services, they are powerless as they have no alternatives. </p>


         <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Net Neutrality Explained For Your Level" data-url="http://explainmeplease.com/resources?q=NetNeutrality" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>


          <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=NetNeutrality" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>


         <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

    </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Net Neutrality For a Video Lover</h3>
                 
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/HqXKEgTYZBQ" allowfullscreen></iframe>

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/EdMeIw6o8Xo" allowfullscreen></iframe>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/92vuuZt7wak" allowfullscreen></iframe>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Net Neutrality Explained For Your Level" data-url="http://explainmeplease.com/resources?q=NetNeutrality" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                 <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=NetNeutrality" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>


                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">
                <h3> Net Neutrality For a Nerd</h3>

                <ul>
                    <li>
                        <a href="http://scholarship.law.berkeley.edu/cgi/viewcontent.cgi?article=1717&context=btlj" target="blank" rel="noopener">The Never-Was-Neutral Net and Why Informed End Users Can End the Net Neutrality Debates </a> - By Douglas A. Hass. Paper with arguments against Net Neutrality. Published in the Berkeley Technology Law Journal.
                    </li>

                    <li>
                        <a href="https://www.amazon.com/Master-Switch-Rise-Information-Empires/dp/0307390993/" target="blank" rel="noopener">The Master Switch: The Rise and Fall of Information Empires </a> - "It is easy to forget that every development in the history of the American information industry–from the telephone to radio to film–once existed in an open and chaotic marketplace inhabited by entrepreneurs and utopians, just as the Internet does today. Each of these, however, grew to be dominated by a monopolist or cartel. In this pathbreaking book, Tim Wu asks: will the Internet follow the same fate? Could the Web–the entire flow of American information–come to be ruled by a corporate leviathan in possession of "the master switch"? Here, Tim Wu shows how a battle royale for Internet’s future is brewing, and this is one war we dare not tune out."
                    </li>

                    <li>
                        <a href="https://en.wikibooks.org/wiki/Governing_the_Internet/Net_Neutrality" target="blank" rel="noopener">Governing the Internet/Net Neutrality</a> - Book by Justin Breese, Dragan Mlikota, Shamel Schand, Shruti Worlikar.
                    </li>

                  </ul>


                  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Net Neutrality Explained For Your Level" data-url="http://explainmeplease.com/resources?q=NetNeutrality" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                   <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=NetNeutrality" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>


                  <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
              <h3> Net Neutrality For a 7 Year Old</h3>

                  <p> You have access to the internet through a service provider. This allows you to go on Youtube and watch as many videos as you like. You can always expect to have the same speed whether you are using Youtube, Google, or any other service. </p>

                  <p> However, without Net Neutrality it might always be the same. In this case, imagine dinner. Let’s say your family has a rule that your mom will always give you and your brother dinner at the same time. However one night, this rule goes away. Your mom says this “I will give dinner to someone 30 mins early if you pay $10.” Now replace your mom with your service provider and dinner with your access to websites/services. That would be the case if there is no net neutrality. </p>



                 <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Net Neutrality Explained For Your Level" data-url="http://explainmeplease.com/resources?q=NetNeutrality" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                  <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=NetNeutrality" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>


                 <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>
            </div>
        </div><!-- /.panel-->

        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> Net Neutrality For a Podcast Lover </h3>

                <a href="https://irlpodcast.org/episode2/"> The Neutral Zone: The Future of Net Neutrality</a>


                <p> The Internet (at least in the US) is at a crossroads as the FCC is considering rolling back net neutrality regulations. If net neutrality is abolished, the Internet could shift from an essential service that all consumers can access to a product that can be packaged and sold to the highest bidders. </p>


                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Net Neutrality Explained For Your Level" data-url="http://explainmeplease.com/resources?q=NetNeutrality" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                 <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=NetNeutrality" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>


                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

            </div>
        </div><!-- /.panel-->

        <div id="X6" class="hidden">
            <div class="content text-center">
                <h3> Net Neutrality FAQ </h3>

                  <p> <b> Q </b>: Who wants to get rid of it?</p>

                <p> <b> A </b>:  Largest internet service providers(ex. Verizon and Comcast) — want to be the Internet's gatekeepers, deciding which content will be send at what speed and which websites/services will even be available. </p>

                <p> <b> Q </b>: How old is Net Neutrality?</p>

                <p> <b> A </b>: Net Neutrality has existed since the creation of the World Wide Web. Pioneers of the internet have always wanted the Internet to be a open and network with no restrictions.</p>



                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Net Neutrality Explained For Your Level" data-url="http://explainmeplease.com/resources?q=NetNeutrality" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                 <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=NetNeutrality" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>


                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>


            </div>
        </div><!-- /.panel-->

    </div>

     <div class="col"></div>
    
  </div>  <!--/.main-->
  
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
    <script src="js/custom.js"></script>
    
</body>
</html>