<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109509226-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109509226-1');
</script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Explain Me Please - Quantum Computing</title>
  <meta name="description" content="Quantum Computing Explained For Your Level">
  <meta property="og:title" content="Explain Me Please - Quantum Computing">
  <meta property="og:description" content="Quantum Computing Explained For Your Level">
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

</head>

<body>

    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=161243984474929';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="nav horizontal-align center">
                    <div class="nav-item">
                        <h6> <a href="/"> <b> Explain Me Please </b> </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href="/about"> <b> About </b> </a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox">
                           <input class="typeahead" type="text" placeholder="I want to learn about..."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center"> <b>  Quantum Computing Explained </b> </h2>
             



          <div class="nav content horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X4')"> |7 Year Old|</a>
           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
           <a href="#" class="nav-item" onclick="showContent('#X3')"> |Physicist|</a>
           <a href="#" class="nav-item" onclick="showContent('#X2')"> |Video Lover|</a>
           <a href="#" class="nav-item" onclick="showContent('#X5')"> |Podcast Lover|</a>
           <a href="#" class="nav-item" onclick="showContent('#X6')"> |FAQ|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class=" content text-center">
         <h3> Quantum Computing For The Average Joe</h3>

         <p> Imagine a regular computer, such as a MacBook Pro sitting on your desk. Conventional computers are made out of silicon computing chips. These chips contain millions of transistors. Think of a transistor as a light switch. A switch only has 2 states. It is either on or off. There is no in between. A light cannot be on and off at the same time. A transistor is similar to a light switch. It can be either “on” or ”off” to represent a value of either “1” or “0”. This is also called binary. Imagine a computer as millions of little kids doing simple math problems. </p>

         <p> Now let's talk about quantum computers. Quantum computing is built upon quantum mechanics, a fundamental theory in physics. Quantum mechanics deals with nature at the smallest scales of atoms and subatomic particles. One thing to note is that quantum mechanics is very bizarre. It has puzzled scientists for many years. A lot of it will contradict what you learned in high school physics class.  </p>

         <p> Quantum computers deal with “quantum bits” or qubits. Instead of only being able to represent 1's or 0's, qubits can represent multiple values simultaneously. </p>

         <p> This is known as the quantum effect called superposition. Another important quantum effect is called entanglement. Entanglement allows one to link all qubits together. When you put 2 qubits into entanglement and link them, what happens to one will happen to the other. Even if the 2 qubits are lightyears away from each other, action to one will mean action to the other. </p>

         <p> The properties of qubits are what makes quantum computers so powerful. Imagine a regular computer is trying to query a database for the name “Johnny Appleseed”. A conventional computer might have to look at every single database entry until it finally finds the desired name. However, qubits can try all of the paths at once - speeding up the process. 20 qubits can store 1,000,000 values at once in parallel. </p>

         <p> However, you may be asking one question. If a qubit can store multiple values at once, what is its true value? This is where a problem arises. Imagine it is your birthday. There are 100 boxes on a table. A box could contain a birthday gift (food, money, clothes) or nothing. All the boxes are closed. At this point, there could be any combination inside the boxes and the boxes are in a state of quantum superposition. </p>

         <p> However, once you open one box, all the other boxes open. Before you opened the box there were an infinite amount of possibilities. However, you can only figure out what is in the boxes by making a measurement. However, this makes the attempt futile. </p>

         <p> This is where an important part of quantum computing comes in. A qubit can be more than just being 1 and 0 at the same time. A qubit can store any number called an amplitude. An amplitude can be positive, negative, or even a complex number. The true goal of quantum computing is that for the incorrect answer or query, some of the qubits leading there will have positive amplitudes and some will have negative ones. The qubits will eventually cancel out. The path leading to the right answer will not cancel out. </p>

         <p> There is one other important property of qubits. It is that they are very sensitive and fragile. It is paramount to maintain the state of entanglement and superposition of quantum computers to work. </p>

         <p> If some of the content above flew over your head or didn’t make any sense - do not fret. The world-renowned physicist Richard Feynman said this about quantum mechanics: “If you think you understand quantum mechanics, you don’t understand quantum mechanics” </p>

         <p> Quantum computers will revolutionize humanity. However, you will most likely never see them on your desk or at a school. Here will be some of their main use cases: </p>

         <ul>

              <li> Ruining our current security systems. Most of your usernames and passwords are kept secret using an encryption method called Public-key cryptography. This consists of 2 keys - a public and private key. The public key is normally your username. The private key is normally your password. One problem is that your private key can be calculated using your public key. However, with current computers, the calculation would take years and would not be worth it. With quantum computers, it could be a breeze to find passwords.
              </li>

              <li> Simulations. Currently, doing simulations are resource intensive. Simulating the quantum world is nearly impossible. Even simulating a molecule of Glucose is very difficult. Quantum computers could allow us to run simulations of biological systems and help understand them better. </li>
         </ul>

        <p> As of this writing in late 2017, quantum computers are still far away. Researchers have been able to build simple computers with tens of qubits. However, these are test systems and are far from being stable. They are many teams working on quantum computers. Researchers are confident that we can see quantum systems for sale by 2025. </p>

         <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Quantum Computing Explained For Your Level" data-url="http://explainmeplease.com/resources?q=QuantumComputing" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>


         <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=QuantumComputing" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

         <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

    </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Quantum Computing For a Video Lover</h3>
                 
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/JhHMJCUmq28" allowfullscreen></iframe>

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/g_IaVepNDT4" allowfullscreen></iframe>

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/LhtnECml-KI" allowfullscreen></iframe>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Quantum Computing Explained For Your Level" data-url="http://explainmeplease.com/resources?q=QuantumComputing" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=QuantumComputing" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">
                <h3> Quantum Computing For a Physicist</h3>

                <ul>
                    <li>
                        <a href="https://www.amazon.com/gp/product/0521199565/" target="blank" rel="noopener">Book: Quantum Computing Since Democritus</a> - "Written by noted quantum computing theorist Scott Aaronson, this book takes readers on a tour through some of the deepest ideas of maths, computer science and physics."
                    </li>

                    <li>
                        <a href="https://arxiv.org/pdf/0708.0261.pdf" target="blank" rel="noopener">An Introduction to Quantum Computing</a> - "Here we present a gentle introduction to some of the ideas in quantum computing. The paper begins by motivating the central ideas of quantum mechanics and quantum computation with simple toy models."
                    </li>

                    <li>
                        <a href="http://theory.caltech.edu/~preskill/ph229/" target="blank" rel="noopener">Lecture Notes For J. Preskill, Caltech: Quantum Computation</a> - "The theory of quantum information and quantum computation. Overview of classical information theory, compression of quantum information, transmission of quantum information through noisy channels, quantum entanglement, quantum cryptography. Overview of classical complexity theory, quantum complexity, efficient quantum algorithms, quantum error-correcting codes, fault-tolerant quantum computation, physical implementations of quantum computation."
                    </li>

                  </ul>


                  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Quantum Computing Explained For Your Level" data-url="http://explainmeplease.com/resources?q=QuantumComputing" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                  <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=QuantumComputing" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                  <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
              <h3> Quantum Computing For a 7 Year Old</h3>

                  <p> Most electronics you use today such as an iPad or XBOX have a computer inside of them. The heart of a computer is the CPU. A CPU or Central Processing Unit processes all of your interactions. You will be surprises to know that this CPU converts all of your interactions into its own language called Binary. Binary consists of 0's and 1's. The more 0's and 1's it can process, the more powerful the device will be.   </p>

                 <p> However, there is a limit on computing. We are slowly approaching that limit. What if we wanted computers to be hundreds of times faster than what exists today? </p>

                 <p> Quantum computing holds that promise. Physicists, engineers, and many more people are working hard to use a field in Physics called quantum mechanics to build such computers. By the time you are in college, there is a good chance quantum computers will be a reality. </p>


                 <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Quantum Computing Explained For Your Level" data-url="http://explainmeplease.com/resources?q=QuantumComputing" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                 <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=QuantumComputing" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                 <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>
            </div>
        </div><!-- /.panel-->

        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> Quantum Computing For a Podcast Lover </h3>

                <a href="https://a16z.com/2017/05/13/quantum-computing/"> a16z Podcast: Quantum Computing, Now and Next </a>


                <p> But what is quantum computing, really — beyond the history and the hype? And where are we in reaching the promise of practical quantum computers? (Hint: it will take a hybrid approach to get there.) Who are the players — companies, countries, types of people/skills — working on it, and how can a startup compete in this space? Finally, what will it take to get “the flywheel” of application development and discovery going? Part of the answer comes full circle to the same economic engine that drove previous computing advances, argues Chris Dixon; Moore’s Law, after all, is more of an economic principle that combined the forces of capitalism, a critical mass of ideas, and people moving things forward by sheer will. Quantum computing is finally getting pulled into the same economic forces as well. </p>


                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Quantum Computing Explained For Your Level" data-url="http://explainmeplease.com/resources?q=QuantumComputing" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=QuantumComputing" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

            </div>
        </div><!-- /.panel-->

        <div id="X6" class="hidden">
            <div class="content text-center">
                <h3> Quantum Computing FAQ </h3>

                  <p> <b> Q </b>: Where can I buy a quantum computer?</p>

                <p> <b> A </b>: 1. Quantum Computers are still far from being available on the market. There is however a tremendous amount of research being done by physicists, mathematicians, engineers and more to make quantum computers viable. </p>

                <p> <b> Q </b>: What are some companies working on quantum computers?</p>

                <p> <b> A </b>: Here are a few => </p>

                <ul>
                    <li> <a href="https://www.dwavesys.com/home" target="blank" rel="noopener"> D-Wave Systems Inc.</a> </li>
                    <li> <a href="https://www.rigetti.com/" target="blank" rel="noopener"> Rigetti Computing</a> </li>
                    <li> <a href="https://1qbit.com/" target="blank" rel="noopener"> 1QBit</a> </li>
                    <li> <a href="https://www.optalysys.com/" target="blank" rel="noopener">Optalysys </a> </li>
                </ul>



                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Quantum Computing Explained For Your Level" data-url="http://explainmeplease.com/resources?q=QuantumComputing" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=QuantumComputing" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>


            </div>
        </div><!-- /.panel-->

    </div>

     <div class="col"></div>
    
  </div>  <!--/.main-->
  
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
    <script src="js/custom.js"></script>
    
</body>
</html>