<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109509226-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-109509226-1');
    </script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Explain Me Please - Ripple </title>
    <meta name="description" content="Ripple Explained For Your Level">
    <meta property="og:title" content="Ripple Explained For Your Level">
    <meta property="og:description" content="Ripple Explained For Your Level">
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=161243984474929';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="nav horizontal-align center">
    <div class="nav-item">
        <h6> <a href="/"> <b> Explain Me Please </b> </a> </h6>
    </div>

    <div class="nav-item">
        <h6> <a href="/about"> <b> About </b> </a>  </h6>

    </div>

    <div class="nav-item">
        <div id="the-basics" class="sbox">
            <input class="typeahead" type="text" placeholder="I want to learn about..."
                   onkeydown="getSearchResult(this)">
        </div>
    </div>
</div>

<h2 class="page-header text-center"> <b>  Ripple Explained </b> </h2>




<div class="nav content horizontal-align center">

    <a href="#" class="nav-item" onclick="showContent('#X4')"> |5 Year Old|</a>
    <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
    <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
    <a href="#" class="nav-item" onclick="showContent('#X2')"> |Video Lover|</a>
    <a href="#" class="nav-item" onclick="showContent('#X5')"> |Podcast Lover|</a>
    <a href="#" class="nav-item" onclick="showContent('#X6')"> |FAQ|</a>
</div>

<div class="row">

    <div class="col"></div>



    <div class="col">


        <div id="X1" class="content text-center">
            <h3> Ripple For The Average Joe </h3>

            <p> Ripple is one of the most controversial cryptocurrencies out there. People seem to either hate it or love it.  </p>

            <p> However, having the second highest market cap of all cryptocurrencies, it is crucial that it is understood. </p>

            <p> It is important to note that Ripple is a currency as well as a payment protocol. </p>

            <p> It has similarities to the age-old Hawala system for easily transferring money between cities.</p>

            <p> Here is a Hawala example case: </p>
            <ul>

                <li>
                    Johnny goes to his agent and gives him $500 in cash and a password. He also gives Sarah, who he wants to send the money to, the password as well
                </li>

                <li>
                     The agent tells Sarah’s agent to give $500 to anyone who knows Johnny’s password.
                </li>

                <li>
                    Sarah tells her agent the password and gains access to the $500.
                </li>
            </ul>

            <p> You can think of Ripple as an upgraded, digital version of Hawala. Johnny deposits cash in his Ripple gateway and instructs it to release the money to Sarah’s Ripple gateway.</p>

            <p> One interesting aspect about Ripple is that you can exchange any object with value as long as you find a gateway that deals with that specific object.</p>

            <p> However, there is one problem that arises. What if Sarah’s agent doesn’t accept the item that Johnny and Sarah want to trade it? </p>

            <p> This is where the currency aspect of Ripple comes in. All Ripple gateways have an XRP (ripple currency) price for the object/s they trade in.</p>

            <p> Within Ripple, you could convert everything into XRP’s and then convert everything back at the end if necessary.</p>

            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Ripple Explained For Your Level" data-url="http://explainmeplease.com/resources?q=Ripple" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

            <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=Ripple" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

            <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>



        </div><!-- /.panel-->

        <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Ripple For a Video Lover</h3>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/GyNXedeCyNg" allowfullscreen></iframe>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/vsEVF4LV_gI" allowfullscreen></iframe>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/5ikKTyFqsPI" allowfullscreen></iframe>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Ripple Explained For Your Level" data-url="http://explainmeplease.com/resources?q=Ripple" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=Ripple" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
            <div class="content text-center">
                <h3> Ripple for a Nerd </h3>
                <h5> Resources for going deep </h5>

                <ul>
                    <li>
                        <a href="https://ripple.com/files/ripple_consensus_whitepaper.pdf" target="blank" rel="noopener"> The Ripple Protocol Consensus Algorithm </a>
                    </li>

                    <li>
                        <a href="https://ripple.com/files/ripple_solutions_guide.pdf" target="blank" rel="noopener"> Solution Overview </a>
                    </li>

                    <li>
                        <a href="https://wiki.ripple.com/Main_Page" target="blank" rel="noopener"> Ripple Wiki</a> - "This wiki contains a wealth of information about Ripple."
                    </li>

                </ul>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Ripple Explained For Your Level" data-url="http://explainmeplease.com/resources?q=Ripple" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=Ripple" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
                <h3> Ripple For a 5 Year Old </h3>

                <p>
                    Imagine a check. If you wanted to pay your best friend, Skyler, $100, how would you do it? You would first start out by giving him a check for $100. He would then deposit that check into his bank account. Your bank now owes your best friend $100 more and you $100 less. This is how current payment systems work. They are all based on debt.
                </p>

                <p> Now let us think about Ripple. Ripple allows you issue assets to anyone you wish in any currency. It also has an exchange to allow people to trade with each other. </p>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Ripple Explained For Your Level" data-url="http://explainmeplease.com/resources?q=Ripple" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=Ripple" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>
            </div>
        </div><!-- /.panel-->

        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> Ripple For a Podcast Lover </h3>

                <a href="https://www.youtube.com/watch?v=d2C0-W0fQWk&t=1s" target="blank" rel="noopener"> Miguel Vias: XRP's Future for Cross-Border Payments (Epicenter) </a>

                <p> "For a long time the native asset of the Ripple network XRP was the cryptocurrency with the second biggest market cap. But with much of the supply controlled by Ripple, it remained surrounded by controversy. Still, XRP remains an interesting asset to enable cross-border payments in the future. Miguel Vias recently joined Ripple after a long career on Wall Street to develop XRP as a liquid and widely accepted asset. " </p>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Ripple Explained For Your Level" data-url="http://explainmeplease.com/resources?q=Ripple" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=Ripple" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

            </div>
        </div><!-- /.panel-->


        <div id="X6" class="hidden">
            <div class="content text-center">
                <h3> Ripple FAQ  </h3>

                <p> <b> Q </b>: How many Ripples will be released? </p>

                <p> <b> A </b>: 100 billion Ripples are planned to be released. The company will keep half of them with themselves.</p>

                <p> <b> Q</b>: Who is building Ripple? </p>

                <p> <b> A</b>: OpenCoin is building Ripple. It was co-founded by Chris Larsen (CEO) and Jed McCaleb (CTO).  </p>

                <p> <b> Q</b>: What are some of the criticisms of Ripple? </p>

                <p> <b> A</b>: 1. When Ripple began, the company created 100 billion XRP out of nowhere with the creators retaining 20% of the supply. <br>
                               2. Ripple currently owns over 60% of the supply of all XRP <br>
                               3. Relatively closed system. You cannot just download a wallet. Ripple controls the servers that allow transactions. <br>
                               4. Centralized. They are no miners. The blockchain is operated by one entity. </p>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Ripple Explained For Your Level" data-url="http://explainmeplease.com/resources?q=Ripple" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=Ripple" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>





            </div>
        </div><!-- /.panel-->

    </div>

    <div class="col"></div>

</div>  <!--/.main-->


<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/typeahead.bundle.js"></script>
<script src="js/custom.js"></script>

</body>
</html>