<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109509226-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109509226-1');
</script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Explain Me Please - Universal Basic Income </title>
  <meta name="description" content="Universal Basic Income Explained For Your Level">
  <meta property="og:title" content="Explain Me Please - Universal Basic Income">
  <meta property="og:description" content="Universal Basic Income Explained For Your Level">
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

</head>

<body>

    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=161243984474929';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="nav horizontal-align center">
                    <div class="nav-item">
                        <h6> <a href="/"> <b> Explain Me Please </b> </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href="/about"> <b> About </b> </a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox">
                           <input class="typeahead" type="text" placeholder="I want to learn about..."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center"> <b>  Universal Basic Income Explained </b> </h2>
             



          <div class="nav content horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X4')"> |7 Year Old|</a>
           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
           <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
           <a href="#" class="nav-item" onclick="showContent('#X2')"> |Video Lover|</a>
           <a href="#" class="nav-item" onclick="showContent('#X5')"> |Podcast Lover|</a>
           <a href="#" class="nav-item" onclick="showContent('#X6')"> |FAQ|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class=" content text-center">
         <h3> Universal Basic Income For The Average Joe</h3>

         <p> What if your state covered your living expenses? What would you do with your newfound freedom and wealth? Would you still go to work? Binge watch Netflix? Pursue the business idea you always had? Go back to school? Well, that is the concept of Universal Basic Income or UBI for short. Despite not being a new concept, UBI has begun to gain momentum around the world with many billionaire entrepreneurs and politicians talking about it. Many trials are currently occurring or are about to begin in countries around the world testing the effectiveness of a Universal Basic Income.</p>

         <p> The philosopher, public theorist, and political activist Thomas Paine advocated that government pay everyone a basic income of 15 euros per year back in 1797. Governments have been teasing with the idea for a long time but have generally preferred welfare programs -- where those who can not work because of misfortune or age will be compensated over any type of basic income. However, in the past few years, interest in a Universal Basic Income has increased with people worrying that current incomes are not rising enough to boost living standard for average people. Many people feel that new technologies such as automation and artificial intelligence will replace workers and cause widespread unemployment with a UBI becoming necessary. </p>

         <p> A basic income of $12,000 to every person in a country the size of the US would be a massive endeavor. The US would need to raise the money collected by taxes by at least 17% and scrap most welfare programs. Let's first look at the pros. Poorer workers and people who work for free (ex: stay at home moms) would see a boost to their income. A good amount of people would use their UBI money to gain a higher education or training to gain better job prospects. Some people may also start new businesses or pursue new ideas. </p>

         <p> However, there would be downsides. Some people may choose to not work or contribute to society at all. Some may waste their salaries on useless objects and intoxicants. </p>

         <p> Despite the high amount of testing and interest around the world, a Universal Basic Income present in most countries is still far away. Governments are still not sure if the pros outweigh the cons. It will take much more unemployment and hardship for workers to allow for the embracement of such a radical idea. </p>


         <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Universal Basic Income Explained For Your Level" data-url="http://explainmeplease.com/resources?q=UniversalBasicIncome" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>


         <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=UniversalBasicIncome" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

         <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

    </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Universal Basic Income For a Video Lover</h3>
                 
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/kl39KHS07Xc" allowfullscreen></iframe>

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/OEkT14RBzDI" allowfullscreen></iframe>

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/rJYLSrjFUxk" allowfullscreen></iframe>

                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Universal Basic Income Explained For Your Level" data-url="http://explainmeplease.com/resources?q=UniversalBasicIncome" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=UniversalBasicIncome" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">
                <h3> Universal Basic Income For a Nerd</h3>

                <ul>
                    <li>
                        <a href="https://www.amazon.com/gp/richpub/listmania/fullview/RWMEMI9G196XT" target="blank" rel="noopener">Books About or Involving a Basic Income Guarantee</a> - "For those who wish to learn more about the idea of a basic income (aka minimum income, universal demogrant, negative income tax, citizen's income, social dividend, etc.), here's a list of books to read or recommend to others. Curated by Scott Santens."
                    </li>

                    <li>
                        <a href="http://archive.economonitor.com/dolanecon/2014/01/03/the-economic-case-for-a-universal-basic-income/" target="blank" rel="noopener"> The Economic Case For a Universal Basic Income</a> - "This post begins a series that will explore various aspects of a universal basic income, beginning with the simple economics of the UBI and contrasting it with other approaches to income support. Future posts will examine the fiscal cost of a UBI and some of the political and ideological issues it raises."
                    </li>

                    <li>
                        <a href="https://www.youtube.com/watch?v=c7nY0UWrSIA" target="blank" rel="noopener">UBI - Beautifully, disarmingly simple idea (Prof. Philippe van Parijs) </a> - Lecture about Basic Income.
                    </li>

                  </ul>


                  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Universal Basic Income Explained For Your Level" data-url="http://explainmeplease.com/resources?q=UniversalBasicIncome" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                  <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=UniversalBasicIncome" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                  <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
              <h3> Universal Basic Income For a 7 Year Old</h3>

                  <p> Imagine if you got paid a certain amount of money each year as a salary by the government. This would be to everyone. This salary would be enough for you to live an average lifestyle with an average house. How does that sound? Well, that is the concept behind Universal Basic Income. You could do whatever you want with the free time you now have as you have a nice cushion of money that allows you to survive. People would work if they wanted to do something rewarding with their lives or if they wanted more money than that. </p>

                  <p> Some of the people who like the idea of Universal Basic Income see it as a solution to the future where robots come and take human jobs (called automation). </p>

                  <p> The proponents also say that it is cheaper that the current system and the fact that it allows people to do things with their lives that don’t directly pay rent. </p>

                  <p> However, some people feel like it a Universal Basic Income will not be successful and people will simply stop working and become lazy. </p>


                 <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Universal Basic Income Explained For Your Level" data-url="http://explainmeplease.com/resources?q=UniversalBasicIncome" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                 <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=UniversalBasicIncome" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                 <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>
            </div>
        </div><!-- /.panel-->

        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> Universal Basic Income For a Podcast Lover </h3>

                <a href="https://soundcloud.com/policyforumpod/a-basic-income-or-the-end-of-the-welfare-state" target="blank" rel="noopoener"> A Basic Income or The End of The Welfare State</a>


                <p> What would you do if your income were taken care of? In this Policy Forum Pod, four leading experts discuss the idea of a basic income - how it works, what it could do, and what it could mean for the future of the welfare state.</p>

                <p> In conversation with Policy Forum Editor Martyn Pearce are: </p>

                <p> Professor Guy Standing <br> Guy is an economist at the School of Oriental and African Studies at the University of London. He is the author of a number of well-known books including 'The Precariat: The New Dangerous Class'. He is also co-founder and current President of the Basic Income Earth Network - an organisation with thousands of members around the world. </p>

                <p> Dr Charles Murray <br> Charles Murray is the WH Brady Scholar at the American Enterprise Institute in Washington DC. Dr Murray is one of the world's leading social policy researchers and the author of a number of best-selling books, including The Bell Curve, which controversially looked at the role of IQ in shaping America's class structure. </p>

                <p> Professor Peter Whiteford <br> Peter Whiteford is the Director of the Social Policy Institute at the ANU Crawford School of Public Policy and a leading figure in the structure, design, and cost of welfare, particularly in Australia. </p>

                <p> Professor Olli Kangas <br> Olli Kangas is leading the research group planning a major basic income experiment in Finland.</p>



                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Universal Basic Income Explained For Your Level" data-url="http://explainmeplease.com/resources?q=UniversalBasicIncome" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=UniversalBasicIncome" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>

            </div>
        </div><!-- /.panel-->

        <div id="X6" class="hidden">
            <div class="content text-center">
                <h3> Universal Basic Income FAQ </h3>

                  <p> <b> Q </b>: How will it be distributed? </p>

                <p> <b> A </b>: Most universal basic income proposals suggest that the money be distributed at scheduled intervals - weekly, monthly, yearly, etc. Some suggest that money be given at one time, say when one turns 18. </p>

                <p> <b> Q </b>: How would it be paid for? </p>

                <p> <b> A </b>:</p>

                <ul>
                    <li> The savings of welfare programs which have been replaced by it. </li>
                    <li> Elimination of Minimum Wage </li>
                    <li> Taxation, specifically on high end consumption and financial transactions</li>
                </ul>

                <p> <b> Q </b>: Would it just cause inflation? </p>

                <p> <b> A </b>: No. This is because no new money is being minted. You can consider it as the shifting of funds and money. </p>

                <p> <b> Q </b>: Is Universal Basic Income currently being implemented or tested?</p>

                <p> <b> A </b>: Yes. Here are a few cases: </p>

                <ul>
                    <li> <a href="http://www.developmentpathways.co.uk/resources/wp-content/uploads/2016/04/Indias-Basic-Income-Experiment-PP21.pdf" target="blank" rel="noopener"> India </a> </li>
                    <li> <a href="https://www.unicef.org/evaldatabase/files/Final_Evaluation_of_SCT_Pilot_Program_Liberia.pdf" target="blank" rel="noopener"> Liberia</a> </li>
                    <li> <a href="https://www.mdrc.org/news/press-release/new-findings-show-new-york-city%E2%80%99s-conditional-cash-transfer-initiative-reduced" target="blank" rel="noopener"> New York City</a> </li>
                    <li> <a href="http://www.iser.uaa.alaska.edu/Publications/bien_xiii_ak_pfd_lessons.pdf" target="blank" rel="noopener">Alaska </a> </li>
                </ul>



                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Universal Basic Income Explained For Your Level" data-url="http://explainmeplease.com/resources?q=UniversalBasicIncome" data-related="faatehim" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <br>

                <div class="fb-like social" data-href="http://explainmeplease.com/resources?q=UniversalBasicIncome" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div> <br>

                <a class="github-button" href="https://github.com/faatehim/xplain" data-icon="octicon-star" data-size="large" aria-label="Star faatehim/xplain on GitHub">Star</a>


            </div>
        </div><!-- /.panel-->

    </div>

     <div class="col"></div>
    
  </div>  <!--/.main-->
  
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
    <script src="js/custom.js"></script>
    
</body>
</html>