<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <html lang="en">
  <title>Explain Me Please - Yemen</title>
  <meta name="description" content="Description of the page less than 150 characters">
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  <html dir="ltr">


</head>

<body>
    <div class="nav horizontal-align center">
                    <div class="nav-item">
                        <h6> <a href="#"> Explain Me Please </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href="https://faatehim.github.io"> Made by Faateh</a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox" align="right">
                           <input class="typeahead" type="text" placeholder="I want to learn about......."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center" >Yemeni Civil War explained </h2>
             



          <div class="nav  horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
                 <a href="#" class="nav-item"onclick="showContent('#X2')"> |Video Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X4')"> |5 Year Old|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X5')"> |Podcast Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X6')"> |I am an American|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class="hidden content text-center">
         <h3> Explain Me Please I'm the Average Joe</h3>

         <p> The 2011 Arab Spring is viewed by most as the most effective movement of the people of the Middle East to make the Arab government more accountable to its citizens and listen to them more. </p>

         <p> The Arab Spring also came to Yemen. Yemeni citizens took to streets calling for the end of the rule of the President Ali Abdullah Saleh. The Yemeni people saw their country being pushed towards the brink of economic collapse and civil war </p>

         <p> President Ali Abdullah Saleh decided to respond with economic concessions, but he refused to resign. Soon, tensions got even worse, especially in the capital of Sanaa, where protestors were dying at the hands of the military. This escalated into deadly clashes between government forces and protestors </p>

         <p> Finally, Yemen saw a transfer of power in November to Abed Rabbo Mansour Hadi, who was the Vice President. Hadi tried however failed to deal with many problems facing Yemen such as attacks by Al-Qaeda, disloyalty to him, a separatist movement in the South, as well as corruption, umeployment and food insecurity which was inherited from President Saleh. </p>

         <p> The Houth movement, a predominantly Shia led movement, took advantage of the new President's inaction and took control of their heartland of the Saada province </p>

         <p> Angry with the dillusion of the President, many average Yemenis, even non Shia's, supported the Houthis. </p>

         <p> In September 2014, the Houthi's layed siege to the capital. In January 2017, the Houthis surrounded the presidential palace and effectivility placed the President and his ministers under house arrest. They also gradually began to seize the government institutions by the beginning of 2015. President Hadi fleeing his palace to the city of Aden and abandoned his post, creating a vacuum for the Houthis, ISIS, and Al-Qaeda to establish more rule in the territory. </p>

         <p> The Houthi's countinued their rule, attempting to take control of the entire country, forcing President Hadi to flee abroad in March 2015 </p>

         <p> Saudi Arabia was alarmed by the rise of the Houthis, backed by their rivals Iran. They along with 8 other primarily Sunni Arab countries initiated a military campaign to restore President hadi back to power. </p>

         <h5> Currently </h5>

         <p> As of right now, no side is close to a military victory nor have peace talks been succesful. The Hadi government, backed by the Saudi-led coalition has established a home in Aden and taken back most of East Yemen </p>

         <p> However, the air campaign and the naval blockade by the Saudi-led coalition had failed to get rid of the Houthi rebels from their strongolds of Sanaa and its surrounding province. </p>

         <p> Jihadi groups such as AQAP (Al Qaeda in the Arabian Peninsula) and ISIS have stepped up their efforts to gain power in Yemen </p>

         <h5> Casualties </h5>

         <p> Unfortunetly, civilains have suffered the most during this fighting and have been victims of war crimes by activists and other countries. According to the UN, approximately 8010 people have been killed in the conflict since March 2015. Most of the people who have been killed are civilians. </p>

         <p> The destruction and bombings of infastructure, hospitals, schools and restrictions on food and fuel importants have pushed Yemen to the brink of famine. Some 17 million people are considered food insecure and 6.8 million severely food insecure. </p>

         <p> If the Yemeni people didn’t have it hard enough, WHO has recently announced that there appears to be a cholera outbreak in Yemen. An estimated 26 000 people have been infected since the outbreak back in October. Little can be done to help the country as it’s health facilities have been torn apart by the war. WHO states that less than 45% of their health facilities are still functioning. </p>



    </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Explain me please I love videos.</h3>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/CwwP3SiBIC8" frameborder="0" allowfullscreen></iframe>

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/7VGo92WWeJ4" frameborder="0" allowfullscreen></iframe>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/nLRgdFP-s30" frameborder="0" allowfullscreen></iframe>

            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">
                <h3> Explain me please, I am a Nerd. </h3>
                <h5> Resources for going deep </h5>

                <ul>
                    <li>
                        <a href="https://www.newyorker.com/magazine/2015/11/16/the-gene-hackers"> The Gene Hackers</a> - introduces Feng Zhang, one of many scientists credited with pioneering the use of CRISPR to edit genomes, outlines current and future applications of the technology, acknowledges how CRISPR’s story is only starting, and helps us understand how genome editing has evolved over time. Perhaps most interestingly, Michael provides a perspective on the patent dispute over CRISPR not seen in many other publications and even quotes both the Doudna camp and the Zhang camp saying they plan to give away the IP to researchers. 
                    </li>

                    <li>
                        <a href="https://www.technologyreview.com/s/535661/engineering-the-perfect-baby/"> Engineering the Perfect baby </a> - sounds the alarm about CRISPR’s potential to lead to designer babies a la Gattaca. Regalado dives deeper into germ-line editing than any other writer I’ve discovered, and draws particular attention to those rebuking the scientific party line and experimenting with it like George Church and another Boston startup, OvaScience. He draws attention to future applications of CRISPR such as human enhancements like, “making your bones so hard they’ll break a surgical drill.” 
                    </li>

                    <li>
                        <a href="https://www.wired.com/2015/07/crispr-dna-editing-2/"> The Genesis Engine </a> - Amy Maxmen of WIRED writes the best historical record of CRISPR’s origin I’ve come across, starting with the 1975 Asilomar Conference on the ethics of genome editing
                    </li>

                  </ul>

            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
              <h3> Explain Me Please I'm a Toddler </h3>
                 <p>CRISPR is a tool scientists are using to edit human genomes. A genome is the genetic material of an organism. A genome can be thought as the instruction manual for a human. It tells what a persons eye color will be, hair color, etc. Sometimes the instruction manual (genome) contains mistakes or makes a person have a certain disease, disability, or allergy. CRISPR can help change the genome and make it so they do not have that disease/illness they have. </p>
            </div>
        </div><!-- /.panel-->

        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> Explain me please, I am a podcast lover </h3>`
                <iframe width="300" height="130" frameborder="0" scrolling="no" src="https://www.wnyc.org/widgets/ondemand_player/radiolab/#file=%2Faudio%2Fxspf%2F510201%2F"></iframe>

                <h5> Antibodies Part 1 </h5>

                <p> Jad and Robert delve into how CRISPR does what it does, and consider whether we should be worried about a future full of flying pigs, or the simple fact that scientists have now used CRISPR to tweak the genes of human embryos. </p>

            </div>
        </div><!-- /.panel-->

    </div>

     <div class="col"></div>
  </div>
    
  </div>  <!--/.main-->
  
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
  <script src="js/custom.js"></script>
    
</body>
</html>