<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <html lang="en">
  <title>Explain Me Please - Yemen</title>
  <meta name="description" content="Description of the page less than 150 characters">
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link href="css/styles.css" rel="stylesheet">
  <html dir="ltr">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">


</head>

<body>
    <div class="nav horizontal-align center">
                    <div class="nav-item">
                        <h6> <a href="/"> <b> Explain Me Please </b> </a> </h6>
                    </div>

                    <div class="nav-item">
                       <h6> <a href=""> <b> About </b> </a>  </h6>

                    </div>

                    <div class="nav-item">
                      <div id="the-basics" class="sbox" align="right">
                           <input class="typeahead" type="text" placeholder="I want to learn about......."
                           onkeydown="getSearchResult(this)">
                        </div>
                    </div>
                 </div>

          <h2 class="page-header text-center"> <b> 💀 Yemeni Civil War Explained </b> </h2>
             



          <div class="nav content horizontal-align center">

           <a href="#" class="nav-item" onclick="showContent('#X1')"> |Average Joe|</a>
                 <a href="#" class="nav-item"onclick="showContent('#X2')"> |Video Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X3')"> |Nerd|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X4')"> |5 Year Old|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X5')"> |Podcast Lover|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X6')"> |I Am An American|</a>
                 <a href="#" class="nav-item" onclick="showContent('#X7')"> |I Want to Help|</a>
          </div>
        
    <div class="row">

       <div class="col"></div>


   
   <div class="col">
  

    <div id="X1" class="hidden content text-center">
         <h3> Explain Me Please I'm The Average Joe</h3>

         <p> The 2011 Arab Spring is viewed by most as the most effective movement by the people of the Middle East to make the Arab governments more accountable to their citizens and listen to them more. </p>

         <p> The Arab Spring also came to Yemen. Yemeni citizens took to streets calling for the end of the rule of the President Ali Abdullah Saleh. The Yemeni people saw their country being pushed towards the brink of economic collapse and civil war </p>

         <p> President Ali Abdullah Saleh decided to respond with economic concessions, but he refused to resign. Soon, tensions got even worse, especially in the capital of Sanaa, where protestors were dying at the hands of the military. This escalated into deadly clashes between government forces and protestors </p>

         <p> Finally, Yemen saw a transfer of power in November to Abed Rabbo Mansour Hadi, who was the Vice President. Hadi tried, however failed to deal with many problems facing Yemen such as attacks by Al-Qaeda, disloyalty to him, a separatist movement in the South, as well as corruption, unemployment and food insecurity which was inherited from President Saleh. </p>

         <p> The Houthi movement, a predominantly Shia led movement, took advantage of the new President's inaction and took control of their heartland of the Saada province </p>

         <p> Angry with the dillusion of the President, many average Yemenis, even non Shia's, supported the Houthis. </p>

         <p> In September 2014, the Houthi's layed siege to the capital. In January 2015, the Houthis surrounded the presidential palace and effectivility placed the President and his ministers under house arrest. They also gradually began to seize the government institutions by the beginning of 2015. President Hadi fleeing his palace to the city of Aden and abandoned his post, creating a vacuum for the Houthis, ISIS, and Al-Qaeda to establish more rule in the territory. </p>

         <p> The Houthi's countinued their rule, attempting to take control of the entire country, forcing President Hadi to flee abroad in March 2015 </p>

         <p> Saudi Arabia was alarmed by the rise of the Houthis, backed by their rivals Iran. They along with 8 other primarily Sunni Arab countries initiated a military campaign to restore President Hadi back to power. </p>

         <h5> Currently </h5>

         <p> As of right now, no side is close to a military victory nor have peace talks been successful. The Hadi government, backed by the Saudi-led coalition has established a home in Aden and taken back most of East Yemen. </p>

         <p> However, the air campaign and the naval blockade by the Saudi-led coalition has failed to get rid of the Houthi rebels from their strongolds of Sanaa and its surrounding province. </p>

         <p> Jihadi groups such as AQAP (Al-Qaeda in the Arabian Peninsula) and ISIS have stepped up their efforts to gain power in Yemen amongst this chao. </p>

         <h5> Casualties </h5>

         <p> Unfortunately, civilians have suffered the most during this fighting and have been victims of war crimes by activists and other countries. According to the UN, approximately 8010 people have been killed in the conflict since March 2015. Most of the people who have been killed are civilians. </p>

         <p> The destruction and bombings of infastructure, hospitals, schools and restrictions on food and fuel imports have pushed Yemen to the brink of famine. Some 17 million people are considered food insecure and 6.8 million severely food insecure. </p>

         <p> If the Yemeni people didn’t have it hard enough, WHO has recently announced that there appears to be a cholera outbreak in Yemen. An estimated 26 000 people have been infected since the outbreak back in October. Little can be done to help the country as it’s health facilities have been torn apart by the war. WHO states that less than 45% of their health facilities are still functioning. </p>



    </div><!-- /.panel-->

       <div id="X2" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I love Videos.</h3>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/CwwP3SiBIC8" frameborder="0" allowfullscreen></iframe>

                 <iframe width="560" height="315" src="https://www.youtube.com/embed/7VGo92WWeJ4" frameborder="0" allowfullscreen></iframe>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/nLRgdFP-s30" frameborder="0" allowfullscreen></iframe>

            </div>
        </div><!-- /.panel-->

        <div id="X3" class="hidden">
               <div class="content text-center">
                <h3> Explain Me Please I Am A Nerd. </h3>
                <h5> Resources for going deep </h5>

                <ul>
                    <li>
                        <a href="http://tandfonline.com/doi/full/10.1080/03068374.2015.1037162" target="blank"> Yemen and the Huthis: Genesis of the 2015 CRISIS </a> - "This article gives a comprehensive overview of the genesis of the current crisis in Yemen, from the pre-1990 situation to the March 2015 airstrikes on Yemen by Saudi Arabia. The author dissects the country's party politics, the Yemen Spring, the north-south divide, and the development of Huthi power from a regional insurgency in the early 2000s to being able to launch a full coup in February 2015."
                    </li>

                    <li>
                        <a href="https://www.chathamhouse.org/sites/files/chathamhouse/publications/research/2016-05-25-yemen-stemming-rise-of-chaos-state-salisbury.pdf" target="blank"> Yemen: Stemming the Rise of a Chaos State </a> - "Unlike other wars that broke out in the wake of the ‘Arab Spring’ of 2011, the conflict in Yemen did not come as a surprise. A civil war had been predicted long before the uprisings against incumbent regimes erupted elsewhere in the Middle East and North Africa. Fears that Yemen might become ‘the next Somalia’ or ‘the next Afghanistan’ had been mounting for years, as had been the possibility that the Yemeni state might fragment into a series of autonomous, rival geographic segments where local identity groups were strong enough – and well-armed enough – to sustain themselves. These long-standing fears, coupled with concerns that Al-Qaeda or other jihadist groups might.” 
                    </li>

                    <li>
                        <a href="http://www.ecfr.eu/mena/yemen" target="blank"> Mapping the Yemen Conflict</a> - "The unrest in Yemen is not a single conflict but is instead a mosaic of multifaceted regional, local, and international power struggles which are the legacy of recent and long-past events. The following maps aim to illustrate key aspects of this civil war and Yemen’s historical divisions."
                    </li>

                  </ul>

            </div>
        </div><!-- /.panel-->
        <div id="X4" class="hidden">
            <div class="content text-center">
              <h3> Explain Me Please I'm A 5 Year Old </h3>
                 
                 <p> In the US, where I live, citizens have many rights. These rights are laid down in the US Constitution, the highest law in the US. The Constitution lays down many fundamental freedoms such as freedom to practice whichever religion you want, freedom to speak whatever you want, and much more. </p>

                 <p> Let us now talk about another country far away from the US. That country is called Yemen and is located in the region called the Middle East. Yemen has a constitution, but unlike the US it does not have any freedom of religion. This is what has caused problems. One group in Yemen, called the Zaidi's have felt oppressed and discriminated against by the government for a long time. The Zaidi's began protesting and created a group called the Houthi's, to take over the government. </p>

                 <p> They succeeded in 2015 when they took control of the Yemeni capital of Sana'a, forcing the president Abdrabbuh Mansur Hadi, to flee the country. </p>
            </div>
        </div><!-- /.panel-->

        <div id="X5" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Am A Podcast Lover </h3>

                 <a href="https://www.yemenpeaceproject.org/podcast/"> Mafraj Radio. </a> 

                <p> "Welcome to Mafraj Radio, the official podcast of the Yemen Peace Project. This podcast covers contemporary political, social, and cultural affairs in Yemen and the Yemeni diaspora from a range of sources and perspectives. </p>

                <p> Our aim with this podcast is to make Yemen accessible to casual listeners who don’t necessarily have a background in Yemen or Middle East studies, while still providing a level of depth and context you can’t get from mainstream media coverage of Yemen. </p>

                <p> In Yemeni Arabic, the word mafraj refers to a characteristic feature of highland Yemeni architecture, which is renowned for its unique beauty. A mafraj is a room, preferably with windows on all sides, on the very top of multi-story house. </p>

                <p> The mafraj is where Yemenis gather in the afternoons and evenings with family and friends to discuss the events of the day and the gossip of the nation. Like a good mafraj, this podcast aims to be a site for discussion, debate, and edification, and a vantage point from which we look at events in Yemen from different angles." </p>

            </div>
        </div><!-- /.panel-->

        <div id="X6" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Am An American. </h3>

                <p> As an American you may think that the Yemen Civil War has zero to none impact on your real life. However, you maybe surprised. Maybe even horrified </p>

                <p> There are 2 main sides to the Yemen Civil War: the Houthi rebels and the supporters of President Hadi's government. The Houthi rebels are a Shia militant group which have became an enemy of Saudi Arabia and other Sunni majority countries in the Middle East. Arabian countries have forced a Saudi led coalition against the Houthi's and their uprisings. The Houthi's are uprising because they feel they have been discriminated against and oppresed by the government. They are now fighting back. However, Saudi Arabia disagrees. They believe that the Houthi's are being supported and funded by Iran and this is actually a proxy war for the dominance in the Middle East between Saudi Arabia and Iran. </p>

                <p> Now while Saudi Arabia is doing the bombing and fighting, the United States are backing and supporting the Sauds with weapons and financial means. Saudi Arabia is currently the largest buyed of US weaponry. Just recently, the US sold F-15 fighter jets and cluster bombs to Saudi Arabia. The Sauds are currently using those in the war against the Houthi's. </p>

                <p> The US even helps refuel Saudi jets, so that they can be more effective at bombing Yemen. They do this by using jets that are used for refueling fighter jets while still in the air. The US use them to refuel the Saudi F-15s in mid air so that they don't need to land and refuel. </p>

                <p> As one can clearly see, the US has a huge role in the Yemen Civil War. The bombings carried out by the Saudi Arabian military destroyed schools, universities, markets and worst of all, the seaport of al-Hudaydah, a port Yemen relies on to import a lot of their food. The US has began to speak out against these atrocities and even condemn some of them. They have asked the Saudi's to attempt to minimize these casualties. However, according to the latest reports this warning has done nothing. </p>

                <p> One may ask why the US allows the Saudis to continue commiting these atrocities and why they are so complicit to it. Well they are many reasons. One reason is that there has been a longstanding relationship between the US and Saudi Arabia, dating back to the Cold War. Another factor is the fear that Yamen may become a breeding zone and safe haven for terrorist organizations. AQAP (Al Qaeda in the Arabian Peninsula) currently controls swaths of land in Yemen and it is Al Qaeda most vicious and active branch. The US does not want to give terrorist organizations the means to plot more attacks against the West. </p>

                <p> I am not going to tell you what to or not to believe in. But let me just state the obvious. The US is currently helping Saudi Arabia and its allies fight a bloody war with massive casulaties and damage which shows no signs of ending. That is not something to be proud of. </p>

            </div>
        </div><!-- /.panel-->

        <div id="X7" class="hidden">
            <div class="content text-center">
                <h3> Explain Me Please I Want to Help. </h3>

                <h5> Donate Money </h5>

                <ul> 
                    <li> <a href="https://www.icrc.org/en/where-we-work/middle-east/yemen"> The Red Cross</a> </li>
                    <li> <a href="https://www.unicef.org/appeals/yemen.html"> UNICEF</a> </li>
                    <li> <a href="http://irusa.org/yemen/"> Islamic Relief USA</a> </li>
                    <li> <a href="http://www.savethechildren.org/site/c.8rKLIXMGIpI4E/b.6153153/k.BDE3/Yemen.htm?msource=weolpyemv013"> Save the Children</a> </li>
                    <li> <a href="http://www.oxfam.org.uk/what-we-do/emergency-response/yemen-crisis"> Oxfam </a> </li>



                

            </div>
        </div><!-- /.panel-->

    </div>

     <div class="col"></div>
  </div>
    
  </div>  <!--/.main-->
  
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.bundle.js"></script>
  <script src="js/custom.js"></script>
    
</body>
</html>